---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PublicNavbar from '../../components/PublicNavbar.astro';
import CommunityNavbar from '../../components/CommunityNavbar.astro';
---

<BaseLayout
  title={'Workshops JNG - Entrevistas de Algoritmos'}
  description={''}
  ogImage={'/cdn-assets/images/graphics/og-image.webp'}
  robots={'noindex'}
  wfPage={'657caac76d0591ff6f86e5b8'}
>
  <div class="nav_wrapper">
    <CommunityNavbar />
    <PublicNavbar />
  </div>

  <div class="content-wrapper"></div><div class="nav_right-col">
    <a href="/" class="navbar_link">Dashboard</a><a
      href="../jobs"
      class="navbar_link">Vagas</a
    ><a href="algoritmos-para-entrevistas#" class="navbar_link is-white w-button">Sair</a>
  </div><div class="nav_menu-button">
    <div class="icon-1x1-medium w-embed">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
        ><path fill="currentColor" d="M4 11h12v2H4zm0-5h16v2H4zm0 12h7.235v-2H4z"></path></svg
      >
    </div>
  </div></BaseLayout
><div class="embed-hidden w-embed">
  <style>
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0px 1000px #fff inset;
      -webkit-text-fill-color: #0071ff;
    }
  </style>
</div><div class="logout-code w-embed w-script"></div><div
  data-w-id="7ed6ea69-8ce5-677c-3dcb-160f5da98a7d"
  class="nav_close-overlay"
>
</div><div data-ms-content="!community" class="public_nav">
  <div class="navbar--blue--primary">
    <div class="navbar_wrapper">
      <div class="navbar_container">
        <a href="https://www.jobnagringa.com.br/" class="navbar_logo w-inline-block"
          ><img
            src="/cdn-assets/images/logos/logo-vectors-wrapper.svg"
            loading="lazy"
            width="138.25469970703125"
            height="19.743812561035156"
            alt=""
            class="logo_image hide-tablet"
          /><img
            src="/cdn-assets/images/logos/logo-small-white.svg"
            loading="lazy"
            alt=""
            height="0"
            class="logo_image hide-desktop"
          /></a
        ><div class="navbar_link-wrap">
          <a
            href="http://accounts.jobnagringa.com.br/sign-in?redirect_url=https://jobnagringa.com.br"
            class="navbar_link w-inline-block"><div>Vagas</div></a
          ><a href="https://www.jobnagringa.com.br/blog" class="navbar_link w-inline-block"
            ><div>Blog</div></a
          ><a
            href="http://accounts.jobnagringa.com.br/sign-in?redirect_url=https://jobnagringa.com.br/redirect/zap-channel"
            target="_blank"
            class="navbar_link w-inline-block"><div>Grupo Whats</div></a
          ><a
            href="http://accounts.jobnagringa.com.br/sign-in?redirect_url=https://link.jobnagringa.com.br/discord"
            target="_blank"
            class="navbar_link w-inline-block"><div>Discord</div></a
          >
        </div><div class="navbar_button-wrap">
          <a href="../index" class="navbar_link w-inline-block"><div>Assine</div></a><a
            href="https://accounts.jobnagringa.com.br/sign-in?redirect_url=https://jobnagringa.com.br/"
            class="navbar_link is-white w-inline-block"><div>Login</div></a
          ><div class="navbar_mobile-menu">
            <div class="icon-1x1-medium w-embed">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                ><path
                  fill="currentColor"
                  d="M2 4.75A.75.75 0 0 1 2.75 4h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 4.75m0 5A.75.75 0 0 1 2.75 9h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 9.75M2.75 14a.75.75 0 0 0 0 1.5h14.5a.75.75 0 0 0 0-1.5z"
                ></path></svg
              >
            </div>
          </div>
        </div>
      </div>
    </div><div class="w-embed">
      <style>
        .item__arrow {
          display: none;
        }

        .w--current .item__arrow {
          display: flex;
        }
      </style>
    </div><div class="hide-desktop"><div class="spacer-xlarge"></div></div>
  </div>
</div>
<div class="section-lesson-unbind">
  <div class="padding-section-small">
    <div class="padding-global">
      <div class="container-large">
        <div class="lesson_container">
          <div class="sidebar__wrapper is-top-padding">
            <div class="hide-tablet">
              <a href="../course" class="link-return is-margin-05 w-inline-block"
                ><div class="button is-icon-only is-small">
                  <div class="icon-1x1-small w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1rem"
                      height="1rem"
                      viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M21 11H6.414l5.293-5.293l-1.414-1.414L2.586 12l7.707 7.707l1.414-1.414L6.414 13H21z"
                      ></path></svg
                    >
                  </div>
                </div><div class="w-embed">Volte para o Módulo 6.1</div></a
              >
            </div><div class="lesson_sidebar">
              <div class="course_sidebar-title-copy">
                <div class="text-size-small">Esta é uma aula do módulo:</div><a
                  href="/modulo/dev-interviews.html"
                  class="w-inline-block"
                  ><div class="course_content-heading w-embed">
                    M6.1&nbsp&nbsp✦&nbsp&nbspEntrevista para Devs (Tech Interview)
                  </div></a
                ><div class="text-size-small">
                  Você está na etapa crucial: a entrevista técnica. É hora de mostrar que, além de
                  ser excelente no dia a dia, você também sabe se expressar. Este módulo treina essa
                  habilidade, essencial para competir em um mercado exigente. Dedique-se ao máximo,
                  pois isso pode te aproximar de oportunidades com salários mais disputados do
                  mercado. É um investimento no seu futuro profissional.
                </div>
              </div><div class="lesson-card_list-wrapper w-dyn-list">
                <div role="list" class="card-row_list is-no-border w-dyn-items">
                  <div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/guia-definitivo-de-entrevista.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A1&nbsp&nbsp✦&nbsp&nbspGuia Definitivo das Etapas Técnicas
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/prepare-se-para-a-entrevista.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A2&nbsp&nbsp✦&nbsp&nbspPreparatório Técnico
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/algoritmos-para-entrevistas.html"
                      aria-current="page"
                      class="lesson-card_row is-underline w-inline-block w--current"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A3&nbsp&nbsp✦&nbsp&nbspEntrevistas de Algoritmos
                          </div>
                        </div>
                      </div></a
                    >
                  </div>
                </div>
              </div>
            </div><a
              href="algoritmos-para-entrevistas#"
              class="card-content is-vertical-small-padding-small w-inline-block"
              ><img
                src="/cdn-assets/images/graphics/graphic-img_bills.webp"
                loading="lazy"
                sizes="(max-width: 800px) 100vw, 800px"
                srcset="/cdn-assets/images/graphics/graphic-img_bills-73.webp 500w, /cdn-assets/images/graphics/graphic-img_bills.webp 800w"
                alt=""
                class="card_thumbnail is-small"
              /><h3 class="heading-style-h5">Job Boards Repo</h3><div class="text-size-small">
                Descubra quais empresas gringas já contrataram brasileiros e quais vagas elas têm
                disponíveis no momento.
              </div><div class="margin-top margin-tiny">
                <div class="text-size-small text-color-primary">Acesse o Repositório</div>
              </div></a
            ><a
              href="algoritmos-para-entrevistas#"
              class="card-content is-vertical-small-padding-small w-inline-block"
              ><img
                src="/cdn-assets/images/graphics/graphic-img_brain.webp"
                loading="lazy"
                sizes="(max-width: 800px) 100vw, 800px"
                srcset="/cdn-assets/images/graphics/graphic-img_brain-36.webp 500w, /cdn-assets/images/graphics/graphic-img_brain.webp 800w"
                alt=""
                class="card_thumbnail is-small"
              /><h3 class="heading-style-h5">Q&amp;A Repo (Disponível em breve)</h3><div
                class="text-size-small"
              >
                Navegue por uma curadoria completa de perguntas e respostas de entrevistas técnicas
                e não-técnicas pra você chegar afiado(a).
              </div><div class="margin-top margin-tiny">
                <div class="text-size-small text-color-primary">Acesse o Repositório</div>
              </div></a
            >
          </div><div class="hide-desktop">
            <a href="../index#modulos" class="link-return is-margin-05 w-inline-block"
              ><div class="button is-icon-only is-small">
                <div class="icon-1x1-small w-embed">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1rem"
                    height="1rem"
                    viewBox="0 0 24 24"
                    ><path
                      fill="currentColor"
                      d="M21 11H6.414l5.293-5.293l-1.414-1.414L2.586 12l7.707 7.707l1.414-1.414L6.414 13H21z"
                    ></path></svg
                  >
                </div>
              </div><div class="w-embed">Volte para o Módulo 6.1</div></a
            >
          </div><div class="lesson_body">
            <div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path
                      fill="currentColor"
                      d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-6-2h4V14h-4zm-4 2H2V18h8z"
                    ></path></svg
                  >
                </div><div class="heading-style-h6">Conteúdo Introdutório</div>
              </div><div class="text-size-small">
                Se você já é um usuário ativo de ChatGPT, esta aula introdutória pode soar um tédio.
                Acesse conteúdos mais avançados e interessantes no painel ao lado.
              </div>
            </div><div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path
                      fill="currentColor"
                      d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"></path></svg
                  >
                </div><div class="heading-style-h6">Conteúdo Intermediário</div>
              </div><div class="text-size-small">
                Ideal para quem está explorando possibilidades com a ferramenta. Lembre-se: você
                pode obter resultados diferentes daqueles aqui reproduzidos.
              </div>
            </div><div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path fill="currentColor" d="M30 30h-8V4h8zm-10 0h-8V12h8zm-10 0H2V18h8z"
                    ></path></svg
                  >
                </div><div class="heading-style-h6">Conteúdo Avançado</div>
              </div><div class="text-size-small">
                Ideal para quem já tem domínio da ferramenta e busca integrações e engenharia de
                prompts.
              </div>
            </div><div id="cms-content" class="course_content-description is-contained">
              <div class="lesson_breadcrumbs is-wrapped">
                <a href="../course" class="link_group is-small w-inline-block"
                  ><div class="icon-1x1-small w-embed">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M12.74 2.32a1 1 0 0 0-1.48 0l-9 10A1 1 0 0 0 3 14h2v7a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-7h2a1 1 0 0 0 1-1a1 1 0 0 0-.26-.68z"
                      ></path></svg
                    >
                  </div><div>#JNG</div></a
                ><div class="text-color-light-gray">/</div><a
                  href="/modulo/dev-interviews.html"
                  class="breadcrumb_link w-inline-block"><div class="w-embed">M6.1</div></a
                ><div class="text-color-light-gray">/</div><a
                  href="/algoritmos-para-entrevistas.html"
                  aria-current="page"
                  class="breadcrumb_link w-inline-block w--current"
                  ><div>Entrevistas de Algoritmos</div></a
                >
              </div><div class="lesson_video-wrapper w-condition-invisible">
                <div class="lesson_video-embed w-embed w-iframe">
                  <div style="position:relative;padding-top:56.25%;">
                    <iframe
                      id="panda-"
                      src="https://player-vz-7d355ab5-ed5.tv.pandavideo.com.br/embed/?v="
                      style="border:none;position:absolute;top:0;left:0;"
                      allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture"
                      allowfullscreen="true"
                      width="100%"
                      height="100%"
                      fetchpriority="high"></iframe>
                  </div>
                </div>
              </div><h1 class="single-lesson_title">Entrevistas de Algoritmos</h1><div
                class="lesson_card-meta-wrapper w-condition-invisible"
              >
                <div class="lesson_card-meta-user-wrapper">
                  <img
                    src="/cdn-assets/images/graphics/graphic-1706531811556-21.webp"
                    loading="lazy"
                    alt=""
                    class="user-card__thumbnail is-small"
                  /><div class="div-block-3">
                    <div class="text-size-medium text-weight-bold w-embed">
                      Carta de Paulo Luan
                    </div><div>Dev Front-End e Co-Fundador #jobnagringa</div>
                  </div>
                </div><a
                  href="https://www.linkedin.com/in/pauloluan/recent-activity/"
                  target="_blank"
                  class="w-inline-block"
                  ><div class="text-color-custom is-linkedin">
                    <div class="icon-1x1-large w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1em"
                        height="1em"
                        viewBox="0 0 24 24"
                        ><path
                          fill="currentColor"
                          d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
                        ></path></svg
                      >
                    </div>
                  </div></a
                >
              </div><div class="lesson_meta-date">
                <div>Este conteúdo foi atualizado em</div><div>07/2024</div>
              </div><div class="lesson_rich-text w-richtext">
                <p>
                  Entrevistas de algoritmos são difíceis. Mas felizmente, existe um método testado e
                  aprovado para melhorar nelas. Com uma combinação de estudar, praticar perguntas e
                  fazer entrevistas simuladas, conseguir o emprego dos sonhos pode se tornar uma
                  realidade, até mesmo numa Big Tech.
                </p><p>
                  Em geral, esses são os passos que você deve seguir para mandar bem na entrevista
                  técnica:
                </p><ol role="list">
                  <li>
                    Estudar os fundamentos da Ciência da Computação (Algoritmos, Estrutura de Dados
                    e System Design)
                  </li><li>Praticar a resolução de questões de algoritmo.</li><li>
                    Saber o que fazer e o que não fazer em entrevistas.
                  </li><li>
                    Conhecer quais os sinais e comportamentos que os entrevistadores estão em busca
                    em cada uma das etapas.
                  </li><li>Praticar entrevistas simuladas e se comunicar com tranquilidade.</li><li>
                    Passar em uma entrevista com sucesso, conseguir a vaga, ser feliz e comprar uma
                    Porsche.
                  </li>
                </ol><h2>Recapitulando os fundamentos da Ciência da Computação</h2><p>
                  Se você está fora da faculdade faz um tempo, você vai precisar revisar os
                  fundamentos da Ciência da Computação como algoritmos e estruturas de dados.
                </p><h3>Sugestão de Estudo</h3><ol start="1" role="list">
                  <li>
                    Faça o <a
                      href="https://www.youtube.com/watch?v=LkwMuJrJ1zA&list=PLeKXYyZCJHxc7-du4c2-D89ktUOUgsF2p"
                      >Curso de Programação dinâmica</a
                    > do Henrique Bastos (Duração: 1h 25m)
                  </li><li>
                    Faça o <a href="https://frontendmasters.com/courses/algorithms/"
                      >Curso de algoritmos do ThePrimeagen</a
                    >. (Duração: 9h 20m)
                  </li>
                </ol><p>
                  Os cursos acima são a base mínima que você precisa para entender os tópicos de
                  base antes de iniciar as seções abaixo.
                </p><h3>Outros recursos interessantes opcionais</h3><ol role="list">
                  <li>
                    Esse <a href="https://github.com/kdn251/interviews">repositório</a> pode servir como
                    um recurso para refrescar a memória.
                  </li><li>
                    Esse <a href="https://medium.com/basecs">perfil do Medium</a> também é um recurso
                    leve e bacana para recapitular os vários algoritmos e estruturas de dados.
                  </li><li>
                    Você também pode encontrar implementações de algoritmos e estruturas de dados
                    simples usando várias linguagens populares em <a
                      href="https://thealgorithms.github.io/">TheAlgorithms</a
                    >.
                  </li>
                </ol><h2>Domínio através da prática</h2><p>
                  Você pode praticar exercícios desse tipo participando de maratonas de programação.
                  Lá pelo menos você vai se divertir e praticar os exercícios de forma deliberada.
                  Em casa, você pode particar com os exercícios resolvidos <a
                    href="https://github.com/careercup/CtCI-6th-Edition">deste repositório</a
                  > do Cracking the Coding Interview. Outra forma são através dos diversos sites de competição
                  de programação como <a href="https://leetcode.com/">LeetCode</a>, <a
                    href="https://www.hackerrank.com/">HackerRank</a
                  > e <a href="http://codeforces.com/">CodeForces</a>.As questões do LeetCode são
                  mais similares às questões que serão perguntadas em entrevistas enquanto as do
                  HackerRank e CodeForces lembram questões de programação competitivas. Caso seja
                  uma pessoal mais visual, esse curso do <a
                    href="https://www.educative.io/collection/5642554087309312/5679846214598656"
                    >Coderust</a
                  > explica questões de algoritmo comuns através de visualizações passo-a-passo, o que
                  torna a compreensão das soluções muito mais fácil.
                </p><h3>Complexidades de tempo/espaço</h3><p>
                  Aprenda e entenda as complexidades de tempo e espaço de operações comuns na sua
                  linguagem de programação. Para Python, essa <a
                    href="https://wiki.python.org/moin/TimeComplexity">página</a
                  > é bem útil. Se estiver boiando você precisa ver o <a
                    href="https://www.youtube.com/watch?v=LkwMuJrJ1zA&list=PLeKXYyZCJHxc7-du4c2-D89ktUOUgsF2p"
                    >curso do Henrique Bastos</a
                  > focando na aula de complexidade assintótica. Como boa prática é recomendado após completar
                  uma questão no LeetCode, sempre incluir as complexidades de tempo e espaço do código
                  escrito em forma de comentários acima do corpo da função, assim você se lembrará de
                  analisar o algoritmo assim que terminar sua implementação. Isso é particularmente útil,
                  porque sempre o entrevistador vai querer saber dessa informação.
                </p><h3>Internalize as armadilhas</h3><p>
                  Descubra e familiarize-se com as armadilhas comuns e ressalvas da linguagem. Se
                  apontá-las durante a entrevista e evitar, inteligentemente, de cair nelas,
                  normalmente você impressionará o entrevistador e isso resulta em pontos bônus em
                  seu feedback, independente se o entrevistador estiver familiarizado com a
                  linguagem ou não.
                </p><h3>Amplie a exposição</h3><p>
                  Adquira uma ampla exposição às questões de vários tópicos. Nos próximos módulos
                  você verá diversos tópicos de algoritmo e questões para praticar em cada um deles.
                  Faça em torno de 100-200 questões do LeetCode e você será bom. Pratique.
                </p><h3>Algumas linguagens são mais adequadas para entrevistas</h3><p>
                  Existem algumas linguagens que são mais adequadas do que outras para entrevistas
                  de código e algumas linguagens você definitivamente vai querer evitar. A maioria
                  dos candidatos escolhe Python ou Java. Outras linguagens vistas normalmente
                  incluem JavaScript, Ruby e C++. Evite linguagens de baixo nível como C ou Go,
                  simplesmente porque elas não têm muitas funções e estruturas de dados de
                  biblioteca padrão, e algumas podem exigir gerenciamento manual de memória. Python
                  é uma boa pedida para entrevistas de código e algoritmo, porque é sucinta e tem
                  uma gigantesca biblioteca de funções e estruturas de dados disponíveis. Você pode
                  alcançar muito com o mínimo da sintaxe em Python.
                </p><h3>Utilize uma linguagem que você domine</h3><p>
                  Na maior parte do tempo, é recomendável que você utilize uma linguagem que você é
                  extremamente familiarizado em vez de escolher uma linguagem nova apenas para fazer
                  entrevistas porque a empresa usa muito tal linguagem ou só porque você quer
                  mostrar que segue tendências. Se você está com limitações de tempo, aprender uma
                  nova linguagem apenas para entrevistas não é uma boa ideia. Siga no que você
                  entende e não perca tempo. Tem muita coisa a se estudar, não adicione uma
                  linguagem a essa lista.
                </p><h2>Comunique seu Pensamento Durante a Entrevista de Código</h2><p>
                  Seu entrevistador estará procurando por sinais de que você preenche os requisitos
                  da função e cabe a você exibir esses sinais a ele. Comunique-se a todo instante. É
                  extremamente difícil para o entrevistador saber o que você está pensando apenas
                  olhando para o código que você digita. Inicialmente, pode parecer estranho
                  conversar enquanto você programa, visto que a maioria dos devs não tem o hábito de
                  explicar em voz alta enquanto estão trabalhando, mas você precisa explicar sua
                  linha de raciocínio a todo tempo. Se você comunicar sua abordagem ao entrevistador
                  antes de iniciar o código, você pode validar suas idéias e ambos podem concordar
                  sob uma perspectiva aceitável em relação ao problema e a sua solução.
                </p><h3>Ao receber a questão</h3><p>
                  Muitos candidatos começam a criar código no momento que ouvem a questão. Isso é
                  normalmente um grande erro. Leve um momento e repita a pergunta de volta para o
                  entrevistador e certifique-se de que entendeu exatamente o que estão solicitando.
                  Repetir de volta/frasear novamente a questão reduzir as chances de falha de
                  comunicação.
                </p><p>
                  Busque sempre clareza sobre a questão ao ouvi-la mesmo que julgue estar clara para
                  você. Você pode descobrir algo que acabou escapando e também envia um sinal ao
                  entrevistador de que você é uma pessoa cuidadosa que presta atenção aos detalhes.
                  Só comece a codificar após você e seu entrevistador concordar sobre uma abordagem
                  e ele tiver dado a luz verde a você. Alguns entrevistadores omitem
                  intencionalmente os detalhes importantes para checar se você vai fazer as
                  perguntas certas.
                </p><p>Algumas perguntas comuns que você pode fazer:</p><ul>
                  <li>Qual o tamanho da entrada?</li><li>Qual o comprimento dos valores?</li><li>
                    Que tipo de valores existem? Existem números negativos? Pontos flutuantes?
                    Haverão entradas vazias?
                  </li><li>Existem duplicatas na entrada?</li><li>
                    Quais são alguns dos casos extremos da entrada?
                  </li><li>Posso destruir o vetor/grafo/estrutura de dados original?</li><li>
                    Como a entrada é armazenada? Se for dado um dicionário de palavras, será uma
                    lista de strings ou uma árvore de prefixos?
                  </li>
                </ul><p>
                  Após ter esclarecido o suficiente o escopo e a intenção do problema, explique sua
                  abordagem de alto nível ao entrevistador <strong
                    >mesmo que seja uma solução completamente estúpida</strong
                  >. Se você travar, considere várias abordagens e explique em alto, e bom-tom
                  porque irá/não irá funcionar. Às vezes seu entrevistador pode dar algumas dicas e
                  guiar você no caminho certo. Fique atento, se o entrevistador te perguntar
                  &quot;Podemos fazer melhor?&quot;, isso significa que ele está procurando por uma
                  abordagem melhor em relação a que você fez.
                </p><p>
                  Você pode procurar por algum código repetido e tentar otimizá-lo utilizando,
                  potencialmente, cache para o resultado calculado em algum lugar e referenciando-o
                  mais tarde, em vez de ter que computá-lo todo novamente.
                </p><h3>O que fazer quando travar?</h3><p>
                  Travar durante entrevistas de código é extremamente comum. Mas não se preocupe,
                  isso faz parte do processo e é um teste das suas habilidades de solução de
                  problemas. Aqui vão algumas dicas que você pode experimentar quando estiver
                  travado:
                </p><div class="w-embed">
                  <table>
                    <tr>
                      <th>Passo</th>
                      <th>Descrição</th>
                    </tr>
                    <tr>
                      <td
                        >Fale sobre o que você pensou inicialmente que poderia funcionar e explique
                        porque não funciona</td
                      >
                      <td>Isso pode ajudar a guiá-lo ao caminho certo, evitando as armadilhas</td>
                    </tr>
                    <tr>
                      <td>Crie mais casos de teste e anote-os</td>
                      <td>Um padrão ou alguma ideia pode surgir</td>
                    </tr>
                    <tr>
                      <td>Pense como você resolveria sem um programa em si</td>
                      <td>Você pode encontrar um padrão e criar um algoritmo genérico</td>
                    </tr>
                    <tr>
                      <td
                        >Relembre questões passadas relacionadas ao tópico, quais questões parecidas
                        você encontrou no passado e quais técnicas você utilizou? (aqui a
                        importância de treinar exercícios no Leetcode)</td
                      >
                      <td></td>
                    </tr>
                    <tr>
                      <td
                        >Enumere as estruturas de dados comuns e se podem ser aplicadas à questão</td
                      >
                      <td
                        >Dicionários/mapas são extremamente comuns para tornar os algoritmos mais
                        eficientes</td
                      >
                    </tr>
                    <tr>
                      <td
                        >Procure por trabalho repetido e determine se pode empregar cache nesses
                        cálculos</td
                      >
                      <td></td>
                    </tr>
                  </table>
                </div><h2>Durante a criação do código</h2><p>
                  Entender o código dos outros pode ser uma tarefa árdua, e quando está mal
                  formatado, torna-se ainda mais complicado. A chave está em escrever código limpo.
                  Seu objetivo é permitir que o entrevistador compreenda rapidamente o que você
                  escreveu, avaliando se cumpre sua função e resolve o problema proposto. Use nomes
                  de variáveis descritivos, evitando abreviações excessivas, a menos que explicadas
                  previamente. Se estiver escrevendo código em uma lousa, considere abreviar
                  variáveis para economizar tempo, mas assegure-se de explicar o significado das
                  abreviações. Durante a codificação, comunique-se com o entrevistador sobre o que
                  está fazendo e por que está fazendo, em um nível mais alto. Isso não significa
                  narrar cada linha digitada, mas explicar o contexto e a lógica por trás do código
                  em questão.
                </p><h2>Após a criação do código</h2><ol start="1" role="list">
                  <li>
                    Após ter finalizado a codificação, não anuncie imediatamente ao entrevistador
                    que você terminou. Na maioria das vezes, seu código não está perfeito e contem
                    alguns bugs ou erros de sintaxe. O que você precisa fazer agora é revisar seu
                    código.
                  </li><li>
                    Primeiramente, percorra seu código do começo ao fim como se fosse a primeira vez
                    que está olhando, como se tivesse sido escrito por outra pessoa e você está
                    tentando encontrar bugs nele. É exatamente o que seu entrevistador estará
                    fazendo. Vasculhe e corrija quaisquer erros menores que possa encontrar.
                  </li><li>
                    Em seguida, crie pequenos casos de teste e aplique-os ao seu código (não ao seu
                    algoritmo!) com uma entrada grande.
                  </li><li>
                    O que os entrevistadores geralmente fazem após você ter terminado de escrever o
                    código é justamente o que faz você escrever testes. É um enorme ponto forte se
                    você escrever testes para seu código mesmo antes de solicitarem que você os
                    faça.
                  </li><li>
                    Você deve emular um depurador quando estiver percorrendo o código e anotar ou
                    dizer claramente os valores de variáveis importantes conforme avança pelas
                    linhas de código.
                  </li><li>
                    Se existirem enormes porções de código duplicadas em sua solução, seria uma boa
                    oportunidade de refatorá-las e demonstrar ao entrevistador que você valoriza a
                    qualidade do código.
                  </li><li>
                    Por último, forneça a complexidade de tempo e espaço do seu código e explique o
                    porquê. Você pode até anotar certas porções de código com várias complexidades
                    de tempo e espaço para demonstrar seu entendimento do código e as APIs da
                    linguagem de programação escolhida.
                  </li><li>
                    Explique quaisquer compensações da sua abordagem atual e outras alternativas,
                    possivelmente com respeito ao tempo/espaço.
                  </li>
                </ol><p>
                  Se o seu entrevistador estiver satisfeito com a solução que você apresentou,
                  geralmente é a hora de encerrar a conversa. No entanto, é comum que ele também
                  faça perguntas adicionais para avaliar mais a fundo suas habilidades. Por exemplo,
                  ele pode questionar como você lidaria com o problema se os dados fossem grandes
                  demais para caber na memória ou se fossem fornecidos de forma contínua ao invés de
                  estar em um arquivo estático. Isso é particularmente relevante em empresas como a
                  Google, que valorizam muito a escalabilidade de suas soluções. Uma resposta típica
                  seria adotar uma abordagem de &quot;dividir para conquistar&quot;. Isso envolve
                  distribuir o processamento dos dados e ler apenas partes específicas do conjunto
                  de entrada, armazenando temporariamente os resultados no disco antes de
                  combiná-los posteriormente.
                </p><h2>Cronograma de Algoritmos</h2><p>
                  Aqui está um cronograma sugerido para revisar e praticar perguntas de algoritmo no <a
                    href="https://leetcode.com/">LeetCode</a
                  >.
                </p><p>
                  Ao praticar, é aconselhado você tratá-la como uma entrevista de código real e
                  verificar cuidadosamente antes de enviar. Considere até mesmo criar manualmente
                  alguns casos de teste e executá-los para verificar a exatidão.
                </p><h3>Semana 1 - Sequências</h3><p>
                  Na semana 1 você encontra uma mistura de perguntas fáceis e médias sobre vetores e
                  strings. Ambas são as perguntas mais comuns encontrados em entrevistas;
                  familiarizar-se com eles ajudará na construção de fundamentos sólidos para lidar
                  melhor com questões mais difíceis:
                </p><h4>Exercícios Propostos:</h4><ul>
                  <li><a href="https://leetcode.com/problems/two-sum/">Duas Somas</a></li><li>
                    <a href="https://leetcode.com/problems/contains-duplicate/">Contém Duplicatas</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/best-time-to-buy-and-sell-stock/"
                      >O Melhor Tempo para Comprar e Vender o Estoque</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/valid-anagram/">Anagrama Válido</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/valid-parentheses/">Parenteses Válidos</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/product-of-array-except-self/"
                      >Produto de um Vetor Exceto Ele</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/maximum-subarray/">Sub-vetor Máximo</a>
                  </li><li><a href="https://leetcode.com/problems/3sum/">3Soma</a></li><li>
                    <a href="https://leetcode.com/problems/merge-intervals/">Mescle Intervalos</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/group-anagrams/">Agrupe Anagramas</a>
                  </li>
                </ul><h4>Opcional</h4><ul>
                  <li>
                    <a href="https://leetcode.com/problems/maximum-product-subarray/"
                      >Produto Máximo de um Sub-vetor</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/search-in-rotated-sorted-array/"
                      >Procure em um Vetor Rotacionado</a
                    >
                  </li>
                </ul><h3>Semana 2 - Estruturas de Dados</h3><p>
                  O foco da semana 2 está em listas encadeadas, strings e questões baseadas em
                  matriz. O objetivo é aprender as rotinas comuns que lidam com listas encadeadas,
                  atravessar matrizes e técnicas de análise de sequência (vetores / strings), como
                  sliding window.
                </p><h3>Exercícios Propostos:</h3><ul>
                  <li>
                    <a href="https://leetcode.com/problems/reverse-linked-list/"
                      >Inverta uma Lista Encadeada</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/linked-list-cycle/"
                      >Detecte Ciclos em uma Lista Encadeada</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/container-with-most-water/"
                      >Contêiner com Mais Água</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/find-minimum-in-rotated-sorted-array/"
                      >Encontre o Menor Número de um Vetor Rotacionado</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/longest-repeating-character-replacement/"
                      >Substituição do Caractere Mais Longo Repetido</a
                    >
                  </li><li>
                    <a
                      href="https://leetcode.com/problems/longest-substring-without-repeating-characters/"
                      >Substring Mais Longa sem Caracteres Repetidos</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/minimum-window-substring/"
                      >Menor Janela de Substring</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/number-of-islands/">Número de Ilhas</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/remove-nth-node-from-end-of-list/"
                      >Remove o Enésimo Nó do Final da Lista</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/palindromic-substrings/"
                      >Substrings Palindrômicas</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/pacific-atlantic-water-flow/"
                      >Fluxo de Água do Pacífico Atlântico</a
                    >
                  </li>
                </ul><h3>Semana 3 - Estruturas de Dados Não-Lineares</h3><p>
                  O foco da semana 3 são as estruturas de dados não lineares como árvores, grafos e
                  pilhas. Você deve estar familiarizado com os vários algoritmos de travessia de
                  árvore (em ordem, pré-ordem, pós-ordem) e algoritmos de travessia de grafo, como
                  busca em largura e busca em profundidade.
                </p><h3>Exercícios Propostos:</h3><ul>
                  <li>
                    <a href="https://leetcode.com/problems/validate-binary-search-tree/"
                      >Valide uma Árvore de Busca Binária</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/invert-binary-tree/"
                      >Inverta uma Árvore Binária</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/non-overlapping-intervals/"
                      >Intervalos Não Sobrepostos</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/serialize-and-deserialize-binary-tree/"
                      >Serialize e Desserialize uma Árvore Binária</a
                    >
                  </li><li>
                    <a
                      href="https://leetcode.com/problems/construct-binary-tree-from-preorder-and-inorder-traversal/"
                      >Construa uma Árvore Binária com Travessia Prévia e Posterior</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/top-k-frequent-elements/"
                      >Os Elementos Top K Frequentes</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/clone-graph/">Clone um Grafo</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/course-schedule/">Cronograma do Curso</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/binary-tree-maximum-path-sum/"
                      >Soma de Trajetória Máxima de uma Árvore Binária</a
                    >
                  </li>
                </ul><h3>Opcional</h3><ul>
                  <li>
                    <a href="https://leetcode.com/problems/maximum-depth-of-binary-tree/"
                      >Profundidade Máxima de uma Árvore Binária</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/same-tree/">A Mesma Árvore</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/binary-tree-level-order-traversal/"
                      >Travessia de Nível de Árvore Binária</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/encode-and-decode-strings/"
                      >Codifique e Decodifique Strings (LeetCode Premium)</a
                    >
                  </li>
                </ul><h3>Semana 4 - Mais Estruturas de Dados</h3><p>
                  A semana 4 é construída sobre o conhecimento das semanas anteriores, mas as
                  questões apresentam dificuldade crescente. Espere ver esse nível de perguntas
                  durante as entrevistas. Você adquire mais prática em estruturas de dados mais
                  avançadas, como (mas não exclusivamente limitado a) heaps e árvores de prefixos.
                </p><h4>Exercícios Propostos:</h4><ul>
                  <li>
                    <a
                      href="https://leetcode.com/problems/add-and-search-word-data-structure-design/"
                      >Palavras de Adição e Busca</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/implement-trie-prefix-tree/"
                      >Implemente uma Árvore de Prefixos</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/subtree-of-another-tree/"
                      >Sub-árvore de Outra Árvore</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/kth-smallest-element-in-a-bst/"
                      >Enésimo Menor Elemento em uma BST (Árvore de Busca Binária)</a
                    >
                  </li><li>
                    <a
                      href="https://leetcode.com/problems/lowest-common-ancestor-of-a-binary-search-tree/"
                      >O Menor Ancestral Comum de uma BST</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/merge-k-sorted-lists/"
                      >Mescle K Listas Ordenadas</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/find-median-from-data-stream/"
                      >Encontre a Mediana do Fluxo Contínuo de Dados</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/insert-interval/">Insira um Intervalo</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/longest-consecutive-sequence/"
                      >A Sequência Consecutiva Mais Longa</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/word-search-ii/">Busca de Palavra II</a>
                  </li>
                </ul><h4>Opcional</h4><ul>
                  <li>
                    <a href="https://leetcode.com/problems/meeting-rooms/"
                      >Salas de Reunião (LeetCode Premium)</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/meeting-rooms-ii/"
                      >Salas de Reunião II (LeetCode Premium)</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/alien-dictionary/"
                      >Dicionário Alienígena (LeetCode Premium)</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/graph-valid-tree/"
                      >Árvore Válida por Grafos (LeetCode Premium)</a
                    >
                  </li><li>
                    <a
                      href="https://leetcode.com/problems/number-of-connected-components-in-an-undirected-graph/"
                      >Número de Componentes Conectados em um Grafo Não Direcionado (LeetCode
                      Premium)</a
                    >
                  </li>
                </ul><h3>Semana 5 - Programação Dinâmica</h3><p>
                  A semana 5 foca nas questões de Programação Dinâmica (PD).
                </p><p>
                  Esse tipo de exercício pode parecer distante da realidade cotidiana, mas algumas
                  empresas, como o Google, ainda incluem perguntas de Pensamento Divergente (PD) em
                  suas entrevistas. Se você almeja trabalhar em uma Big Tech, enfrentar essas
                  questões pode se tornar inevitável. Dominar as perguntas de PD pode ser
                  desafiador, mas a prática é a chave para melhorar. É importante se familiarizar
                  com conceitos como memorização e retrocesso. No entanto, é crucial reconhecer que
                  o retorno do investimento (ROI) ao estudar e praticar para essas questões pode ser
                  limitado. Portanto, as perguntas de PD podem ser consideradas menos prioritárias
                  ou até opcionais, devendo ser abordadas apenas por aqueles que estão genuinamente
                  interessados em cobrir todos os aspectos possíveis.
                </p><ul>
                  <li>
                    <a href="https://leetcode.com/problems/climbing-stairs/">Escalando Escadas</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/coin-change/">Troca de Moeda</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/longest-increasing-subsequence/"
                      >A Subsequência Crescente Mais Longa</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/combination-sum-iv/">Soma Combinatória</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/house-robber/">Ladrão de Casa</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/house-robber-ii/">Ladrão de Casa II</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/decode-ways/">Formas de Decodificar</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/unique-paths/">Caminhos Únicos</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/jump-game/">Jogo de Pular</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/word-break/"
                      >O Problema de Quebra de Palavra</a
                    >
                  </li>
                </ul><h3>Semana 6 - Encontrando padrões comuns.</h3><p>
                  A sexta e última semana, temos a coleção dos algoritmos mais importantes - e
                  comuns - em entrevistas algoritmicas no geral. Vale a pena investir um tempo e
                  pesquisar com mais profundidade sobre cada uma delas.
                </p><h4>Exercícios adicionais:</h4><ol role="list">
                  <li>
                    <a href="https://www.youtube.com/watch?v=EM8IgIIiOdY"
                      >Algoritmos mais comuns em entrevistas</a
                    >:
                  </li><li>
                    <a
                      href="https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbFpWQVFsZ2tlNlMta0FLVzlibXU4OEJUc0tLd3xBQ3Jtc0trWkM5WkdjZUFxdG1LUkRpeHNRZmtwdE1kQXpBeklyMU1lQzFrVEZhMDZVeUQ5WnE5ZVRuMkwyMWFuX19WdkwzWnhybE1VaDlvcHB5UUo4VWxHYkFxeS15Z2tPZFZkcmhZTWN1My1BRHp0cVJPejVqaw&q=https%3A%2F%2Fwww.geeksforgeeks.org%2Fk-largestor-smallest-elements-in-an-array%2F&v=EM8IgIIiOdY"
                      >Top k largest elements</a
                    >.
                  </li><li>
                    <a
                      href="https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbjVhNnVZT2hBUzZRZkxjUmtyeDJXS08zZ09EZ3xBQ3Jtc0tuNTV3Q0FKc01xRkJ5UDVOVUw4dklsamZZVEhVekhfSlRQZVlvYVlrTEg3a25MTHFMZzNIRzJhUDk2OGt6R0hWVzR6VzZPTnB5cE1XblV6UlZjekJrTGd3c1NjOUFCNnJ6SHVyVnI4eUszWEN3X3NNVQ&q=https%3A%2F%2Fleetcode.com%2Fproblems%2Flongest-substring-without-repeating-characters%2Fsolutions%2F1812%2Fshare-my-java-solution-using-hashset%2F&v=EM8IgIIiOdY"
                      >Sliding window</a
                    >.
                  </li><li>
                    <a
                      href="https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbVBBRW5jRDd2a3dRcTZOUUxDYy1vLWpITnkwZ3xBQ3Jtc0ttZGxQZWNvUEd3d1NlQ1h4LVl6dmFqbkF3MzdMVm5aWTdJTlpma2VoTjZjb1ZBLXM5NDhKLXRFU3NSUFBQYVo3dWpQMHprTkhZQ0hraVF0LVRPWmFWano1am01MVJ3ZmtGSU5UUUdWRVFadzhWQWVDMA&q=https%3A%2F%2Freplit.com%2F%40replitshare2%2FCombinationSumBacktracking%23main.py&v=EM8IgIIiOdY"
                      >Combination Sum Backtracking</a
                    >.
                  </li><li>
                    <a
                      href="https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbW1IdDBzUVlNU2gyTmhPOXlxaXI3OGxsNDU2Z3xBQ3Jtc0tsRXlQZC1pNzV1YWc3dG53SkotemVnOGN3b2xpUGhfVkZkQ2cyblMxVXdIVnhpZzBaVlM2d3FoaGk5ZnBkNi0zUVprOW5OWVA0cDNDZkZkR2pJVzZ4THA5OHllQjI2LWdTTXhDYmpBVDVmQzZLQXhZYw&q=https%3A%2F%2Freplit.com%2F%40replitshare2%2FCombinationSumDP%23main.py&v=EM8IgIIiOdY"
                      >Combination Sum Dynamic Programming</a
                    >.
                  </li><li>
                    <a href="https://www.youtube.com/watch?v=pcKY4hjDrxk&t=0s">DFS and BFS</a>.
                  </li>
                </ol>
              </div><div class="margin-top margin-small">
                <div class="lesson_card-meta-wrapper w-condition-invisible">
                  <div class="lesson_card-meta-user-wrapper">
                    <img
                      src="/cdn-assets/images/graphics/graphic-1706531811556-21.webp"
                      loading="lazy"
                      alt=""
                      class="user-card__thumbnail is-small"
                    /><div class="div-block-3">
                      <div class="text-size-medium text-weight-bold w-embed">
                        Carta de Paulo Luan
                      </div><div class="text-size-small">
                        Dev há 14 anos. Estruturou a arquitetura de diversas startups americanas.
                        Mentorou mais de 6k devs.
                      </div>
                    </div>
                  </div><a
                    href="https://www.linkedin.com/in/pauloluan/recent-activity/"
                    target="_blank"
                    class="w-inline-block"
                    ><div class="text-color-custom is-linkedin">
                      <div class="icon-1x1-large w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                          ><path
                            fill="currentColor"
                            d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
                          ></path></svg
                        >
                      </div>
                    </div></a
                  >
                </div>
              </div><div class="dialog-box w-condition-invisible">
                <div class="link_group">
                  <div class="icon-1x1-small w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10s10-4.486 10-10S17.514 2 12 2m0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8s8 3.589 8 8s-3.589 8-8 8"
                      ></path><path
                        fill="currentColor"
                        d="M10.707 12.293L9.414 11l1.293-1.293l-1.414-1.414L8 9.586L6.707 8.293L5.293 9.707L6.586 11l-1.293 1.293l1.414 1.414L8 12.414l1.293 1.293zm6.586-4L16 9.586l-1.293-1.293l-1.414 1.414L14.586 11l-1.293 1.293l1.414 1.414L16 12.414l1.293 1.293l1.414-1.414L17.414 11l1.293-1.293zM10 16h4v2h-4z"
                      ></path></svg
                    >
                  </div><div class="heading-style-h6">Essa aula ainda está sendo construída.</div>
                </div><div class="text-size-small">
                  Esta aula foi planejada e está sendo desenvolvida no momento. Em breve será
                  adicionada aqui.
                </div>
              </div><div class="code_block w-embed">
                <style>
                  .lesson_rich-text pre {
                    font-size: 0.875rem !important;
                    border-radius: 0.5rem;
                    margin: 1rem;
                  }

                  .lesson_rich-text .linenumber {
                    opacity: 0.25;
                  }
                </style>
              </div><div class="lesson_cta">
                <div class="heading-style-3">
                  Conheça o Repositório de Question &amp; Answers #JNG
                </div><p>
                  Preparamos um banco de perguntas e respostas técnicas que potencialmente podem ser
                  abordadas em diversas áreas
                </p><a
                  href="https://www.jobnagringa.com.br/qa"
                  target="_blank"
                  class="button is-secondary w-button">Acesse o Q&amp;A Repo</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><footer class="navbar-secondary_component">
  <div class="container-medium">
    <div class="nav_left-col">
      <img
        src="/cdn-assets/images/logos/logo-vectors-wrapper.svg"
        loading="lazy"
        width="138.25469970703125"
        height="19.743812561035156"
        alt=""
        class="logo_image"
      />
    </div>
  </div>
</footer><!-- Google Tag Manager (noscript) -->

<!-- End Google Tag Manager (noscript) -->

<!-- ChatWOOT -->

<!--
-->

<!-- END ChatWOOT -->

<!-- MAUTIC -->

<!-- END MAUTIC -->

<!-- Declare as variáveis de configuração (não minificado) -->

<!--

  -->
