---
import BaseLayout from '@layouts/BaseLayout.astro';
import CommunityNavbar from '@components/CommunityNavbar.astro';
---

<BaseLayout
  title={'Workshops JNG - Entrevistas de Algoritmos'}
  description={''}
  ogImage={'/cdn-assets/images/graphics/social/og-image.avif'}
  robots={'noindex'}
  wfPage={'657caac76d0591ff6f86e5b8'}
>
  <div class="nav_wrapper">
    <CommunityNavbar />
  </div>
</BaseLayout>
<div class="section-lesson-unbind">
  <div class="padding-section-small">
    <div class="padding-global">
      <div class="container-large">
        <div class="lesson_container">
          <div class="sidebar__wrapper is-top-padding">
            <div class="hide-tablet">
              <a href="/course" class="link-return is-margin-05 w-inline-block"
                ><div class="button is-icon-only is-small">
                  <div class="icon-1x1-small w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1rem"
                      height="1rem"
                      viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M21 11H6.414l5.293-5.293l-1.414-1.414L2.586 12l7.707 7.707l1.414-1.414L6.414 13H21z"
                      ></path></svg
                    >
                  </div>
                </div><div class="w-embed">Volte para o MĂłdulo 6.1</div></a
              >
            </div><div class="lesson_sidebar">
              <div class="course_sidebar-title-copy">
                <div class="text-size-small">Esta ĂŠ uma aula do mĂłdulo:</div><a
                  href="/modulo/dev-interviews"
                  class="w-inline-block"
                  ><div class="course_content-heading w-embed">
                    M6.1&nbsp&nbspâŚ&nbsp&nbspEntrevista para Devs (Tech Interview)
                  </div></a
                ><div class="text-size-small">
                  VocĂŞ estĂĄ na etapa crucial: a entrevista tĂŠcnica. Ă hora de mostrar que, alĂŠm de
                  ser excelente no dia a dia, vocĂŞ tambĂŠm sabe se expressar. Este mĂłdulo treina essa
                  habilidade, essencial para competir em um mercado exigente. Dedique-se ao mĂĄximo,
                  pois isso pode te aproximar de oportunidades com salĂĄrios mais disputados do
                  mercado. Ă um investimento no seu futuro profissional.
                </div>
              </div><div class="lesson-card_list-wrapper w-dyn-list">
                <div role="list" class="card-row_list is-no-border w-dyn-items">
                  <div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/guia-definitivo-de-entrevista"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A1&nbsp&nbspâŚ&nbsp&nbspGuia Definitivo das Etapas TĂŠcnicas
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/prepare-se-para-a-entrevista"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A2&nbsp&nbspâŚ&nbsp&nbspPreparatĂłrio TĂŠcnico
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/algoritmos-para-entrevistas"
                      aria-current="page"
                      class="lesson-card_row is-underline w-inline-block w--current"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A3&nbsp&nbspâŚ&nbsp&nbspEntrevistas de Algoritmos
                          </div>
                        </div>
                      </div></a
                    >
                  </div>
                </div>
              </div>
            </div><a
              href="/aulas/algoritmos-para-entrevistas#"
              class="card-content is-vertical-small-padding-small w-inline-block"
              ><img
                src="/cdn-assets/images/graphics/illustrations/graphic-img-bills.avif"
                loading="lazy"
                sizes="(max-width: 800px) 100vw, 800px"
                srcset="/cdn-assets/images/graphics/illustrations/graphic-img-bills-73.avif 500w, /cdn-assets/images/graphics/illustrations/graphic-img-bills.avif 800w"
                alt=""
                class="card_thumbnail is-small"
              /><h3 class="heading-style-h5">JobÂ Boards Repo</h3><div class="text-size-small">
                Descubra quais empresas gringas jĂĄ contrataram brasileiros e quais vagas elas tĂŞm
                disponĂ­veis no momento.
              </div><div class="margin-top margin-tiny">
                <div class="text-size-small text-color-primary">Acesse o RepositĂłrio</div>
              </div></a
            ><a
              href="/aulas/algoritmos-para-entrevistas#"
              class="card-content is-vertical-small-padding-small w-inline-block"
              ><img
                src="/cdn-assets/images/graphics/illustrations/graphic-img-brain.avif"
                loading="lazy"
                sizes="(max-width: 800px) 100vw, 800px"
                srcset="/cdn-assets/images/graphics/illustrations/graphic-img-brain-36.avif 500w, /cdn-assets/images/graphics/illustrations/graphic-img-brain.avif 800w"
                alt=""
                class="card_thumbnail is-small"
              /><h3 class="heading-style-h5">Q&amp;AÂ Repo (DisponĂ­vel em breve)</h3><div
                class="text-size-small"
              >
                Navegue por uma curadoria completa de perguntas e respostas de entrevistas tĂŠcnicas
                e nĂŁo-tĂŠcnicas pra vocĂŞ chegar afiado(a).
              </div><div class="margin-top margin-tiny">
                <div class="text-size-small text-color-primary">Acesse o RepositĂłrio</div>
              </div></a
            >
          </div><div class="hide-desktop">
            <a href="/#modulos" class="link-return is-margin-05 w-inline-block"
              ><div class="button is-icon-only is-small">
                <div class="icon-1x1-small w-embed">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1rem"
                    height="1rem"
                    viewBox="0 0 24 24"
                    ><path
                      fill="currentColor"
                      d="M21 11H6.414l5.293-5.293l-1.414-1.414L2.586 12l7.707 7.707l1.414-1.414L6.414 13H21z"
                    ></path></svg
                  >
                </div>
              </div><div class="w-embed">Volte para o MĂłdulo 6.1</div></a
            >
          </div><div class="lesson_body">
            <div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path
                      fill="currentColor"
                      d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-6-2h4V14h-4zm-4 2H2V18h8z"
                    ></path></svg
                  >
                </div><div class="heading-style-h6">ConteĂşdo IntrodutĂłrio</div>
              </div><div class="text-size-small">
                Se vocĂŞ jĂĄ ĂŠ um usuĂĄrio ativo de ChatGPT, esta aula introdutĂłria pode soar um tĂŠdio.
                Acesse conteĂşdos mais avanĂ§ados e interessantes no painel ao lado.
              </div>
            </div><div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path
                      fill="currentColor"
                      d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"></path></svg
                  >
                </div><div class="heading-style-h6">ConteĂşdo IntermediĂĄrio</div>
              </div><div class="text-size-small">
                Ideal para quem estĂĄ explorando possibilidades com a ferramenta. Lembre-se: vocĂŞ
                pode obter resultados diferentes daqueles aqui reproduzidos.
              </div>
            </div><div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path fill="currentColor" d="M30 30h-8V4h8zm-10 0h-8V12h8zm-10 0H2V18h8z"
                    ></path></svg
                  >
                </div><div class="heading-style-h6">ConteĂşdo AvanĂ§ado</div>
              </div><div class="text-size-small">
                Ideal para quem jĂĄ tem domĂ­nio da ferramenta e busca integraĂ§Ăľes e engenharia de
                prompts.
              </div>
            </div><div id="cms-content" class="course_content-description is-contained">
              <div class="lesson_breadcrumbs is-wrapped">
                <a href="/course" class="link_group is-small w-inline-block"
                  ><div class="icon-1x1-small w-embed">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M12.74 2.32a1 1 0 0 0-1.48 0l-9 10A1 1 0 0 0 3 14h2v7a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-7h2a1 1 0 0 0 1-1a1 1 0 0 0-.26-.68z"
                      ></path></svg
                    >
                  </div><div>#JNG</div></a
                ><div class="text-color-light-gray">/</div><a
                  href="/modulo/dev-interviews"
                  class="breadcrumb_link w-inline-block"><div class="w-embed">M6.1</div></a
                ><div class="text-color-light-gray">/</div><a
                  href="/aulas/algoritmos-para-entrevistas"
                  aria-current="page"
                  class="breadcrumb_link w-inline-block w--current"
                  ><div>Entrevistas de Algoritmos</div></a
                >
              </div><div class="lesson_video-wrapper w-condition-invisible">
                <div class="lesson_video-embed w-embed w-iframe">
                  <div style="position:relative;padding-top:56.25%;">
                    <iframe
                      id="panda-"
                      src="https://player-vz-7d355ab5-ed5.tv.pandavideo.com.br/embed/?v="
                      style="border:none;position:absolute;top:0;left:0;"
                      allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture"
                      allowfullscreen="true"
                      width="100%"
                      height="100%"
                      fetchpriority="high"></iframe>
                  </div>
                </div>
              </div><h1 class="single-lesson_title">Entrevistas de Algoritmos</h1><div
                class="lesson_card-meta-wrapper w-condition-invisible"
              >
                <div class="lesson_card-meta-user-wrapper">
                  <img
                    src="/cdn-assets/images/graphics/illustrations/graphic-illustration-9.avif"
                    loading="lazy"
                    alt=""
                    class="user-card__thumbnail is-small"
                  /><div class="div-block-3">
                    <div class="text-size-medium text-weight-bold w-embed">
                      Carta de Paulo Luan
                    </div><div>Dev Front-End e Co-Fundador #jobnagringa</div>
                  </div>
                </div><a
                  href="https://www.linkedin.com/in/pauloluan/recent-activity/"
                  target="_blank"
                  class="w-inline-block"
                  ><div class="text-color-custom is-linkedin">
                    <div class="icon-1x1-large w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1em"
                        height="1em"
                        viewBox="0 0 24 24"
                        ><path
                          fill="currentColor"
                          d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
                        ></path></svg
                      >
                    </div>
                  </div></a
                >
              </div><div class="lesson_meta-date">
                <div>Este conteĂşdo foi atualizado em</div><div>07/2024</div>
              </div><div class="lesson_rich-text w-richtext">
                <p>
                  Entrevistas de algoritmos sĂŁo difĂ­ceis. Mas felizmente, existe um mĂŠtodo testado e
                  aprovado para melhorar nelas. Com uma combinaĂ§ĂŁo de estudar, praticar perguntas e
                  fazer entrevistas simuladas, conseguir o emprego dos sonhos pode se tornar uma
                  realidade, atĂŠ mesmo numa Big Tech.
                </p><p>
                  Em geral, esses sĂŁo os passos que vocĂŞ deve seguir para mandar bem na entrevista
                  tĂŠcnica:
                </p><ol role="list">
                  <li>
                    Estudar os fundamentos da CiĂŞncia da ComputaĂ§ĂŁo (Algoritmos, Estrutura de Dados
                    e System Design)
                  </li><li>Praticar a resoluĂ§ĂŁo de questĂľes de algoritmo.</li><li>
                    Saber o que fazer e o que nĂŁo fazer em entrevistas.
                  </li><li>
                    Conhecer quais os sinais e comportamentos que os entrevistadores estĂŁo em busca
                    em cada uma das etapas.
                  </li><li>Praticar entrevistas simuladas e se comunicar com tranquilidade.</li><li>
                    Passar em uma entrevista com sucesso, conseguir a vaga, ser feliz e comprar uma
                    Porsche.
                  </li>
                </ol><h2>Recapitulando os fundamentos da CiĂŞncia da ComputaĂ§ĂŁo</h2><p>
                  Se vocĂŞ estĂĄ fora da faculdade faz um tempo, vocĂŞ vai precisar revisar os
                  fundamentos da CiĂŞncia da ComputaĂ§ĂŁo como algoritmos e estruturas de dados.
                </p><h3>SugestĂŁo deÂ Estudo</h3><ol start="1" role="list">
                  <li>
                    FaĂ§a o <a
                      href="https://www.youtube.com/watch?v=LkwMuJrJ1zA&list=PLeKXYyZCJHxc7-du4c2-D89ktUOUgsF2p"
                      >Curso de ProgramaĂ§ĂŁo dinĂ˘mica</a
                    > do Henrique Bastos (DuraĂ§ĂŁo: 1h 25m)
                  </li><li>
                    FaĂ§a o <a href="https://frontendmasters.com/courses/algorithms/"
                      >Curso de algoritmos do ThePrimeagen</a
                    >. (DuraĂ§ĂŁo: 9h 20m)
                  </li>
                </ol><p>
                  Os cursos acima sĂŁo a base mĂ­nima que vocĂŞ precisa para entender os tĂłpicos de
                  base antes de iniciar as seĂ§Ăľes abaixo.
                </p><h3>Outros recursos interessantes opcionais</h3><ol role="list">
                  <li>
                    Esse <a href="https://github.com/kdn251/interviews">repositĂłrio</a> pode servir como
                    um recurso para refrescar a memĂłria.
                  </li><li>
                    Esse <a href="https://medium.com/basecs">perfil do Medium</a> tambĂŠm ĂŠ um recurso
                    leve e bacana para recapitular os vĂĄrios algoritmos e estruturas de dados.
                  </li><li>
                    VocĂŞ tambĂŠm pode encontrar implementaĂ§Ăľes de algoritmos e estruturas de dados
                    simples usando vĂĄrias linguagens populares em <a
                      href="https://thealgorithms.github.io/">TheAlgorithms</a
                    >.
                  </li>
                </ol><h2>DomĂ­nio atravĂŠs da prĂĄtica</h2><p>
                  VocĂŞ pode praticar exercĂ­cios desse tipo participando de maratonas de programaĂ§ĂŁo.
                  LĂĄ pelo menos vocĂŞ vai se divertir e praticar os exercĂ­cios de forma deliberada.
                  Em casa, vocĂŞ pode particar com os exercĂ­cios resolvidos <a
                    href="https://github.com/careercup/CtCI-6th-Edition">deste repositĂłrio</a
                  > do Cracking the Coding Interview. Outra forma sĂŁo atravĂŠs dos diversos sites de competiĂ§ĂŁo
                  de programaĂ§ĂŁo como <a href="https://leetcode.com/">LeetCode</a>, <a
                    href="https://www.hackerrank.com/">HackerRank</a
                  > e <a href="http://codeforces.com/">CodeForces</a>.As questĂľes do LeetCode sĂŁo
                  mais similares Ă s questĂľes que serĂŁo perguntadas em entrevistas enquanto as do
                  HackerRank e CodeForces lembram questĂľes de programaĂ§ĂŁo competitivas. Caso seja
                  uma pessoal mais visual, esse curso do <a
                    href="https://www.educative.io/collection/5642554087309312/5679846214598656"
                    >Coderust</a
                  > explica questĂľes de algoritmo comuns atravĂŠs de visualizaĂ§Ăľes passo-a-passo, o que
                  torna a compreensĂŁo das soluĂ§Ăľes muito mais fĂĄcil.
                </p><h3>Complexidades de tempo/espaĂ§o</h3><p>
                  Aprenda e entenda as complexidades de tempo e espaĂ§o de operaĂ§Ăľes comuns na sua
                  linguagem de programaĂ§ĂŁo. Para Python, essa <a
                    href="https://wiki.python.org/moin/TimeComplexity">pĂĄgina</a
                  > ĂŠ bem Ăştil. Se estiver boiando vocĂŞ precisa ver o <a
                    href="https://www.youtube.com/watch?v=LkwMuJrJ1zA&list=PLeKXYyZCJHxc7-du4c2-D89ktUOUgsF2p"
                    >curso do Henrique Bastos</a
                  > focando na aula de complexidade assintĂłtica. Como boa prĂĄtica ĂŠ recomendado apĂłs completar
                  uma questĂŁo no LeetCode, sempre incluir as complexidades de tempo e espaĂ§o do cĂłdigo
                  escrito em forma de comentĂĄrios acima do corpo da funĂ§ĂŁo, assim vocĂŞ se lembrarĂĄ de
                  analisar o algoritmo assim que terminar sua implementaĂ§ĂŁo. Isso ĂŠ particularmente Ăştil,
                  porque sempre o entrevistador vai querer saber dessa informaĂ§ĂŁo.
                </p><h3>Internalize as armadilhas</h3><p>
                  Descubra e familiarize-se com as armadilhas comuns e ressalvas da linguagem. Se
                  apontĂĄ-las durante a entrevista e evitar, inteligentemente, de cair nelas,
                  normalmente vocĂŞ impressionarĂĄ o entrevistador e isso resulta em pontos bĂ´nus em
                  seu feedback, independente se o entrevistador estiver familiarizado com a
                  linguagem ou nĂŁo.
                </p><h3>Amplie a exposiĂ§ĂŁo</h3><p>
                  Adquira uma ampla exposiĂ§ĂŁo Ă s questĂľes de vĂĄrios tĂłpicos. Nos prĂłximos mĂłdulos
                  vocĂŞ verĂĄ diversos tĂłpicos de algoritmo e questĂľes para praticar em cada um deles.
                  FaĂ§a em torno de 100-200 questĂľes do LeetCode e vocĂŞ serĂĄ bom. Pratique.
                </p><h3>Algumas linguagens sĂŁo mais adequadas para entrevistas</h3><p>
                  Existem algumas linguagens que sĂŁo mais adequadas do que outras para entrevistas
                  de cĂłdigo e algumas linguagens vocĂŞ definitivamente vai querer evitar. A maioria
                  dos candidatos escolhe Python ou Java. Outras linguagens vistas normalmente
                  incluem JavaScript, Ruby e C++. Evite linguagens de baixo nĂ­vel como C ou Go,
                  simplesmente porque elas nĂŁo tĂŞm muitas funĂ§Ăľes e estruturas de dados de
                  biblioteca padrĂŁo, e algumas podem exigir gerenciamento manual de memĂłria. Python
                  ĂŠ uma boa pedida para entrevistas de cĂłdigo e algoritmo, porque ĂŠ sucinta e tem
                  uma gigantesca biblioteca de funĂ§Ăľes e estruturas de dados disponĂ­veis. VocĂŞ pode
                  alcanĂ§ar muito com o mĂ­nimo da sintaxe em Python.
                </p><h3>Utilize uma linguagem que vocĂŞ domine</h3><p>
                  Na maior parte do tempo, ĂŠ recomendĂĄvel que vocĂŞ utilize uma linguagem que vocĂŞ ĂŠ
                  extremamente familiarizado em vez de escolher uma linguagem nova apenas para fazer
                  entrevistas porque a empresa usa muito tal linguagem ou sĂł porque vocĂŞ quer
                  mostrar que segue tendĂŞncias. Se vocĂŞ estĂĄ com limitaĂ§Ăľes de tempo, aprender uma
                  nova linguagem apenas para entrevistas nĂŁo ĂŠ uma boa ideia. Siga no que vocĂŞ
                  entende e nĂŁo perca tempo. Tem muita coisa a se estudar, nĂŁo adicione uma
                  linguagem a essa lista.
                </p><h2>Comunique seu Pensamento Durante a Entrevista de CĂłdigo</h2><p>
                  Seu entrevistador estarĂĄ procurando por sinais de que vocĂŞ preenche os requisitos
                  da funĂ§ĂŁo e cabe a vocĂŞ exibir esses sinais a ele. Comunique-se a todo instante. Ă
                  extremamente difĂ­cil para o entrevistador saber o que vocĂŞ estĂĄ pensando apenas
                  olhando para o cĂłdigo que vocĂŞ digita. Inicialmente, pode parecer estranho
                  conversar enquanto vocĂŞ programa, visto que a maioria dos devs nĂŁo tem o hĂĄbito de
                  explicar em voz alta enquanto estĂŁo trabalhando, mas vocĂŞ precisa explicar sua
                  linha de raciocĂ­nio a todo tempo. Se vocĂŞ comunicar sua abordagem ao entrevistador
                  antes de iniciar o cĂłdigo, vocĂŞ pode validar suas idĂŠias e ambos podem concordar
                  sob uma perspectiva aceitĂĄvel em relaĂ§ĂŁo ao problema e a sua soluĂ§ĂŁo.
                </p><h3>Ao receber a questĂŁo</h3><p>
                  Muitos candidatos comeĂ§am a criar cĂłdigo no momento que ouvem a questĂŁo. Isso ĂŠ
                  normalmente um grande erro. Leve um momento e repita a pergunta de volta para o
                  entrevistador e certifique-se de que entendeu exatamente o que estĂŁo solicitando.
                  Repetir de volta/frasear novamente a questĂŁo reduzir as chances de falha de
                  comunicaĂ§ĂŁo.
                </p><p>
                  Busque sempre clareza sobre a questĂŁo ao ouvi-la mesmo que julgue estar clara para
                  vocĂŞ. VocĂŞ pode descobrir algo que acabou escapando e tambĂŠm envia um sinal ao
                  entrevistador de que vocĂŞ ĂŠ uma pessoa cuidadosa que presta atenĂ§ĂŁo aos detalhes.
                  SĂł comece a codificar apĂłs vocĂŞ e seu entrevistador concordar sobre uma abordagem
                  e ele tiver dado a luz verde a vocĂŞ. Alguns entrevistadores omitem
                  intencionalmente os detalhes importantes para checar se vocĂŞ vai fazer as
                  perguntas certas.
                </p><p>Algumas perguntas comuns que vocĂŞ pode fazer:</p><ul>
                  <li>Qual o tamanho da entrada?</li><li>Qual o comprimento dos valores?</li><li>
                    Que tipo de valores existem? Existem nĂşmeros negativos? Pontos flutuantes?
                    HaverĂŁo entradas vazias?
                  </li><li>Existem duplicatas na entrada?</li><li>
                    Quais sĂŁo alguns dos casos extremos da entrada?
                  </li><li>Posso destruir o vetor/grafo/estrutura de dados original?</li><li>
                    Como a entrada ĂŠ armazenada? Se for dado um dicionĂĄrio de palavras, serĂĄ uma
                    lista de strings ou uma ĂĄrvore de prefixos?
                  </li>
                </ul><p>
                  ApĂłs ter esclarecido o suficiente o escopo e a intenĂ§ĂŁo do problema, explique sua
                  abordagem de alto nĂ­vel ao entrevistador <strong
                    >mesmo que seja uma soluĂ§ĂŁo completamente estĂşpida</strong
                  >. Se vocĂŞ travar, considere vĂĄrias abordagens e explique em alto, e bom-tom
                  porque irĂĄ/nĂŁo irĂĄ funcionar. Ăs vezes seu entrevistador pode dar algumas dicas e
                  guiar vocĂŞ no caminho certo. Fique atento, se o entrevistador te perguntar
                  &quot;Podemos fazer melhor?&quot;, isso significa que ele estĂĄ procurando por uma
                  abordagem melhor em relaĂ§ĂŁo a que vocĂŞ fez.
                </p><p>
                  VocĂŞ pode procurar por algum cĂłdigo repetido e tentar otimizĂĄ-lo utilizando,
                  potencialmente, cache para o resultado calculado em algum lugar e referenciando-o
                  mais tarde, em vez de ter que computĂĄ-lo todo novamente.
                </p><h3>O que fazer quando travar?</h3><p>
                  Travar durante entrevistas de cĂłdigo ĂŠ extremamente comum. Mas nĂŁo se preocupe,
                  isso faz parte do processo e ĂŠ um teste das suas habilidades de soluĂ§ĂŁo de
                  problemas. Aqui vĂŁo algumas dicas que vocĂŞ pode experimentar quando estiver
                  travado:
                </p><div class="w-embed">
                  <table>
                    <tr>
                      <th>Passo</th>
                      <th>DescriĂ§ĂŁo</th>
                    </tr>
                    <tr>
                      <td
                        >Fale sobre o que vocĂŞ pensou inicialmente que poderia funcionar e explique
                        porque nĂŁo funciona</td
                      >
                      <td>Isso pode ajudar a guiĂĄ-lo ao caminho certo, evitando as armadilhas</td>
                    </tr>
                    <tr>
                      <td>Crie mais casos de teste e anote-os</td>
                      <td>Um padrĂŁo ou alguma ideia pode surgir</td>
                    </tr>
                    <tr>
                      <td>Pense como vocĂŞ resolveria sem um programa em si</td>
                      <td>VocĂŞ pode encontrar um padrĂŁo e criar um algoritmo genĂŠrico</td>
                    </tr>
                    <tr>
                      <td
                        >Relembre questĂľes passadas relacionadas ao tĂłpico, quais questĂľes parecidas
                        vocĂŞ encontrou no passado e quais tĂŠcnicas vocĂŞ utilizou? (aqui a
                        importĂ˘ncia de treinar exercĂ­cios no Leetcode)</td
                      >
                      <td></td>
                    </tr>
                    <tr>
                      <td
                        >Enumere as estruturas de dados comuns e se podem ser aplicadas Ă  questĂŁo</td
                      >
                      <td
                        >DicionĂĄrios/mapas sĂŁo extremamente comuns para tornar os algoritmos mais
                        eficientes</td
                      >
                    </tr>
                    <tr>
                      <td
                        >Procure por trabalho repetido e determine se pode empregar cache nesses
                        cĂĄlculos</td
                      >
                      <td></td>
                    </tr>
                  </table>
                </div><h2>Durante a criaĂ§ĂŁo do cĂłdigo</h2><p>
                  Entender o cĂłdigo dos outros pode ser uma tarefa ĂĄrdua, e quando estĂĄ mal
                  formatado, torna-se ainda mais complicado. A chave estĂĄ em escrever cĂłdigo limpo.
                  Seu objetivo ĂŠ permitir que o entrevistador compreenda rapidamente o que vocĂŞ
                  escreveu, avaliando se cumpre sua funĂ§ĂŁo e resolve o problema proposto. Use nomes
                  de variĂĄveis descritivos, evitando abreviaĂ§Ăľes excessivas, a menos que explicadas
                  previamente. Se estiver escrevendo cĂłdigo em uma lousa, considere abreviar
                  variĂĄveis para economizar tempo, mas assegure-se de explicar o significado das
                  abreviaĂ§Ăľes. Durante a codificaĂ§ĂŁo, comunique-se com o entrevistador sobre o que
                  estĂĄ fazendo e por que estĂĄ fazendo, em um nĂ­vel mais alto. Isso nĂŁo significa
                  narrar cada linha digitada, mas explicar o contexto e a lĂłgica por trĂĄs do cĂłdigo
                  em questĂŁo.
                </p><h2>ApĂłs a criaĂ§ĂŁo do cĂłdigo</h2><ol start="1" role="list">
                  <li>
                    ApĂłs ter finalizado a codificaĂ§ĂŁo, nĂŁo anuncie imediatamente ao entrevistador
                    que vocĂŞ terminou. Na maioria das vezes, seu cĂłdigo nĂŁo estĂĄ perfeito e contem
                    alguns bugs ou erros de sintaxe. O que vocĂŞ precisa fazer agora ĂŠ revisar seu
                    cĂłdigo.
                  </li><li>
                    Primeiramente, percorra seu cĂłdigo do comeĂ§o ao fim como se fosse a primeira vez
                    que estĂĄ olhando, como se tivesse sido escrito por outra pessoa e vocĂŞ estĂĄ
                    tentando encontrar bugs nele. Ă exatamente o que seu entrevistador estarĂĄ
                    fazendo. Vasculhe e corrija quaisquer erros menores que possa encontrar.
                  </li><li>
                    Em seguida, crie pequenos casos de teste e aplique-os ao seu cĂłdigo (nĂŁo ao seu
                    algoritmo!) com uma entrada grande.
                  </li><li>
                    O que os entrevistadores geralmente fazem apĂłs vocĂŞ ter terminado de escrever o
                    cĂłdigo ĂŠ justamente o que faz vocĂŞ escrever testes. Ă um enorme ponto forte se
                    vocĂŞ escrever testes para seu cĂłdigo mesmo antes de solicitarem que vocĂŞ os
                    faĂ§a.
                  </li><li>
                    VocĂŞ deve emular um depurador quando estiver percorrendo o cĂłdigo e anotar ou
                    dizer claramente os valores de variĂĄveis importantes conforme avanĂ§a pelas
                    linhas de cĂłdigo.
                  </li><li>
                    Se existirem enormes porĂ§Ăľes de cĂłdigo duplicadas em sua soluĂ§ĂŁo, seria uma boa
                    oportunidade de refatorĂĄ-las e demonstrar ao entrevistador que vocĂŞ valoriza a
                    qualidade do cĂłdigo.
                  </li><li>
                    Por Ăşltimo, forneĂ§a a complexidade de tempo e espaĂ§o do seu cĂłdigo e explique o
                    porquĂŞ. VocĂŞ pode atĂŠ anotar certas porĂ§Ăľes de cĂłdigo com vĂĄrias complexidades
                    de tempo e espaĂ§o para demonstrar seu entendimento do cĂłdigo e as APIs da
                    linguagem de programaĂ§ĂŁo escolhida.
                  </li><li>
                    Explique quaisquer compensaĂ§Ăľes da sua abordagem atual e outras alternativas,
                    possivelmente com respeito ao tempo/espaĂ§o.
                  </li>
                </ol><p>
                  Se o seu entrevistador estiver satisfeito com a soluĂ§ĂŁo que vocĂŞ apresentou,
                  geralmente ĂŠ a hora de encerrar a conversa. No entanto, ĂŠ comum que ele tambĂŠm
                  faĂ§a perguntas adicionais para avaliar mais a fundo suas habilidades. Por exemplo,
                  ele pode questionar como vocĂŞ lidaria com o problema se os dados fossem grandes
                  demais para caber na memĂłria ou se fossem fornecidos de forma contĂ­nua ao invĂŠs de
                  estar em um arquivo estĂĄtico. Isso ĂŠ particularmente relevante em empresas como a
                  Google, que valorizam muito a escalabilidade de suas soluĂ§Ăľes. Uma resposta tĂ­pica
                  seria adotar uma abordagem de &quot;dividir para conquistar&quot;. Isso envolve
                  distribuir o processamento dos dados e ler apenas partes especĂ­ficas do conjunto
                  de entrada, armazenando temporariamente os resultados no disco antes de
                  combinĂĄ-los posteriormente.
                </p><h2>Cronograma de Algoritmos</h2><p>
                  Aqui estĂĄ um cronograma sugerido para revisar e praticar perguntas de algoritmo no <a
                    href="https://leetcode.com/">LeetCode</a
                  >.
                </p><p>
                  Ao praticar, ĂŠ aconselhado vocĂŞ tratĂĄ-la como uma entrevista de cĂłdigo real e
                  verificar cuidadosamente antes de enviar. Considere atĂŠ mesmo criar manualmente
                  alguns casos de teste e executĂĄ-los para verificar a exatidĂŁo.
                </p><h3>Semana 1 - SequĂŞncias</h3><p>
                  Na semana 1 vocĂŞ encontra uma mistura de perguntas fĂĄceis e mĂŠdias sobre vetores e
                  strings. Ambas sĂŁo as perguntas mais comuns encontrados em entrevistas;
                  familiarizar-se com eles ajudarĂĄ na construĂ§ĂŁo de fundamentos sĂłlidos para lidar
                  melhor com questĂľes mais difĂ­ceis:
                </p><h4>ExercĂ­cios Propostos:</h4><ul>
                  <li><a href="https://leetcode.com/problems/two-sum/">Duas Somas</a></li><li>
                    <a href="https://leetcode.com/problems/contains-duplicate/">ContĂŠm Duplicatas</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/best-time-to-buy-and-sell-stock/"
                      >O Melhor Tempo para Comprar e Vender o Estoque</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/valid-anagram/">Anagrama VĂĄlido</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/valid-parentheses/">Parenteses VĂĄlidos</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/product-of-array-except-self/"
                      >Produto de um Vetor Exceto Ele</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/maximum-subarray/">Sub-vetor MĂĄximo</a>
                  </li><li><a href="https://leetcode.com/problems/3sum/">3Soma</a></li><li>
                    <a href="https://leetcode.com/problems/merge-intervals/">Mescle Intervalos</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/group-anagrams/">Agrupe Anagramas</a>
                  </li>
                </ul><h4>Opcional</h4><ul>
                  <li>
                    <a href="https://leetcode.com/problems/maximum-product-subarray/"
                      >Produto MĂĄximo de um Sub-vetor</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/search-in-rotated-sorted-array/"
                      >Procure em um Vetor Rotacionado</a
                    >
                  </li>
                </ul><h3>Semana 2 - Estruturas de Dados</h3><p>
                  O foco da semana 2 estĂĄ em listas encadeadas, strings e questĂľes baseadas em
                  matriz. O objetivo ĂŠ aprender as rotinas comuns que lidam com listas encadeadas,
                  atravessar matrizes e tĂŠcnicas de anĂĄlise de sequĂŞncia (vetores / strings), como
                  sliding window.
                </p><h3>ExercĂ­cios Propostos:</h3><ul>
                  <li>
                    <a href="https://leetcode.com/problems/reverse-linked-list/"
                      >Inverta uma Lista Encadeada</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/linked-list-cycle/"
                      >Detecte Ciclos em uma Lista Encadeada</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/container-with-most-water/"
                      >ContĂŞiner com Mais Ăgua</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/find-minimum-in-rotated-sorted-array/"
                      >Encontre o Menor NĂşmero de um Vetor Rotacionado</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/longest-repeating-character-replacement/"
                      >SubstituiĂ§ĂŁo do Caractere Mais Longo Repetido</a
                    >
                  </li><li>
                    <a
                      href="https://leetcode.com/problems/longest-substring-without-repeating-characters/"
                      >Substring Mais Longa sem Caracteres Repetidos</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/minimum-window-substring/"
                      >Menor Janela de Substring</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/number-of-islands/">NĂşmero de Ilhas</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/remove-nth-node-from-end-of-list/"
                      >Remove o EnĂŠsimo NĂł do Final da Lista</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/palindromic-substrings/"
                      >Substrings PalindrĂ´micas</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/pacific-atlantic-water-flow/"
                      >Fluxo de Ăgua do PacĂ­fico AtlĂ˘ntico</a
                    >
                  </li>
                </ul><h3>Semana 3 - Estruturas de Dados NĂŁo-Lineares</h3><p>
                  O foco da semana 3 sĂŁo as estruturas de dados nĂŁo lineares como ĂĄrvores, grafos e
                  pilhas. VocĂŞ deve estar familiarizado com os vĂĄrios algoritmos de travessia de
                  ĂĄrvore (em ordem, prĂŠ-ordem, pĂłs-ordem) e algoritmos de travessia de grafo, como
                  busca em largura e busca em profundidade.
                </p><h3>ExercĂ­cios Propostos:</h3><ul>
                  <li>
                    <a href="https://leetcode.com/problems/validate-binary-search-tree/"
                      >Valide uma Ărvore de Busca BinĂĄria</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/invert-binary-tree/"
                      >Inverta uma Ărvore BinĂĄria</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/non-overlapping-intervals/"
                      >Intervalos NĂŁo Sobrepostos</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/serialize-and-deserialize-binary-tree/"
                      >Serialize e Desserialize uma Ărvore BinĂĄria</a
                    >
                  </li><li>
                    <a
                      href="https://leetcode.com/problems/construct-binary-tree-from-preorder-and-inorder-traversal/"
                      >Construa uma Ărvore BinĂĄria com Travessia PrĂŠvia e Posterior</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/top-k-frequent-elements/"
                      >Os Elementos Top K Frequentes</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/clone-graph/">Clone um Grafo</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/course-schedule/">Cronograma do Curso</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/binary-tree-maximum-path-sum/"
                      >Soma de TrajetĂłria MĂĄxima de uma Ărvore BinĂĄria</a
                    >
                  </li>
                </ul><h3>Opcional</h3><ul>
                  <li>
                    <a href="https://leetcode.com/problems/maximum-depth-of-binary-tree/"
                      >Profundidade MĂĄxima de uma Ărvore BinĂĄria</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/same-tree/">A Mesma Ărvore</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/binary-tree-level-order-traversal/"
                      >Travessia de NĂ­vel de Ărvore BinĂĄria</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/encode-and-decode-strings/"
                      >Codifique e Decodifique Strings (LeetCode Premium)</a
                    >
                  </li>
                </ul><h3>Semana 4 - Mais Estruturas de Dados</h3><p>
                  A semana 4 ĂŠ construĂ­da sobre o conhecimento das semanas anteriores, mas as
                  questĂľes apresentam dificuldade crescente. Espere ver esse nĂ­vel de perguntas
                  durante as entrevistas. VocĂŞ adquire mais prĂĄtica em estruturas de dados mais
                  avanĂ§adas, como (mas nĂŁo exclusivamente limitado a) heaps e ĂĄrvores de prefixos.
                </p><h4>ExercĂ­cios Propostos:</h4><ul>
                  <li>
                    <a
                      href="https://leetcode.com/problems/add-and-search-word-data-structure-design/"
                      >Palavras de AdiĂ§ĂŁo e Busca</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/implement-trie-prefix-tree/"
                      >Implemente uma Ărvore de Prefixos</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/subtree-of-another-tree/"
                      >Sub-ĂĄrvore de Outra Ărvore</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/kth-smallest-element-in-a-bst/"
                      >EnĂŠsimo Menor Elemento em uma BST (Ărvore de Busca BinĂĄria)</a
                    >
                  </li><li>
                    <a
                      href="https://leetcode.com/problems/lowest-common-ancestor-of-a-binary-search-tree/"
                      >O Menor Ancestral Comum de uma BST</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/merge-k-sorted-lists/"
                      >Mescle K Listas Ordenadas</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/find-median-from-data-stream/"
                      >Encontre a Mediana do Fluxo ContĂ­nuo de Dados</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/insert-interval/">Insira um Intervalo</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/longest-consecutive-sequence/"
                      >A SequĂŞncia Consecutiva Mais Longa</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/word-search-ii/">Busca de Palavra II</a>
                  </li>
                </ul><h4>Opcional</h4><ul>
                  <li>
                    <a href="https://leetcode.com/problems/meeting-rooms/"
                      >Salas de ReuniĂŁo (LeetCode Premium)</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/meeting-rooms-ii/"
                      >Salas de ReuniĂŁo II (LeetCode Premium)</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/alien-dictionary/"
                      >DicionĂĄrio AlienĂ­gena (LeetCode Premium)</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/graph-valid-tree/"
                      >Ărvore VĂĄlida por Grafos (LeetCode Premium)</a
                    >
                  </li><li>
                    <a
                      href="https://leetcode.com/problems/number-of-connected-components-in-an-undirected-graph/"
                      >NĂşmero de Componentes Conectados em um Grafo NĂŁo Direcionado (LeetCode
                      Premium)</a
                    >
                  </li>
                </ul><h3>Semana 5 - ProgramaĂ§ĂŁo DinĂ˘mica</h3><p>
                  A semana 5 foca nas questĂľes de ProgramaĂ§ĂŁo DinĂ˘mica (PD).
                </p><p>
                  Esse tipo de exercĂ­cio pode parecer distante da realidade cotidiana, mas algumas
                  empresas, como o Google, ainda incluem perguntas de Pensamento Divergente (PD) em
                  suas entrevistas. Se vocĂŞ almeja trabalhar em uma Big Tech, enfrentar essas
                  questĂľes pode se tornar inevitĂĄvel. Dominar as perguntas de PD pode ser
                  desafiador, mas a prĂĄtica ĂŠ a chave para melhorar. Ă importante se familiarizar
                  com conceitos como memorizaĂ§ĂŁo e retrocesso. No entanto, ĂŠ crucial reconhecer que
                  o retorno do investimento (ROI) ao estudar e praticar para essas questĂľes pode ser
                  limitado. Portanto, as perguntas de PD podem ser consideradas menos prioritĂĄrias
                  ou atĂŠ opcionais, devendo ser abordadas apenas por aqueles que estĂŁo genuinamente
                  interessados em cobrir todos os aspectos possĂ­veis.
                </p><ul>
                  <li>
                    <a href="https://leetcode.com/problems/climbing-stairs/">Escalando Escadas</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/coin-change/">Troca de Moeda</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/longest-increasing-subsequence/"
                      >A SubsequĂŞncia Crescente Mais Longa</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/combination-sum-iv/">Soma CombinatĂłria</a
                    >
                  </li><li>
                    <a href="https://leetcode.com/problems/house-robber/">LadrĂŁo de Casa</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/house-robber-ii/">LadrĂŁo de Casa II</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/decode-ways/">Formas de Decodificar</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/unique-paths/">Caminhos Ănicos</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/jump-game/">Jogo de Pular</a>
                  </li><li>
                    <a href="https://leetcode.com/problems/word-break/"
                      >O Problema de Quebra de Palavra</a
                    >
                  </li>
                </ul><h3>Semana 6 - Encontrando padrĂľes comuns.</h3><p>
                  A sexta e Ăşltima semana, temos a coleĂ§ĂŁo dos algoritmos mais importantes - e
                  comuns - em entrevistas algoritmicas no geral. Vale a pena investir um tempo e
                  pesquisar com mais profundidade sobre cada uma delas.
                </p><h4>ExercĂ­cios adicionais:</h4><ol role="list">
                  <li>
                    <a href="https://www.youtube.com/watch?v=EM8IgIIiOdY"
                      >Algoritmos mais comuns em entrevistas</a
                    >:
                  </li><li>
                    <a
                      href="https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbFpWQVFsZ2tlNlMta0FLVzlibXU4OEJUc0tLd3xBQ3Jtc0trWkM5WkdjZUFxdG1LUkRpeHNRZmtwdE1kQXpBeklyMU1lQzFrVEZhMDZVeUQ5WnE5ZVRuMkwyMWFuX19WdkwzWnhybE1VaDlvcHB5UUo4VWxHYkFxeS15Z2tPZFZkcmhZTWN1My1BRHp0cVJPejVqaw&q=https%3A%2F%2Fwww.geeksforgeeks.org%2Fk-largestor-smallest-elements-in-an-array%2F&v=EM8IgIIiOdY"
                      >Top k largest elements</a
                    >.
                  </li><li>
                    <a
                      href="https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbjVhNnVZT2hBUzZRZkxjUmtyeDJXS08zZ09EZ3xBQ3Jtc0tuNTV3Q0FKc01xRkJ5UDVOVUw4dklsamZZVEhVekhfSlRQZVlvYVlrTEg3a25MTHFMZzNIRzJhUDk2OGt6R0hWVzR6VzZPTnB5cE1XblV6UlZjekJrTGd3c1NjOUFCNnJ6SHVyVnI4eUszWEN3X3NNVQ&q=https%3A%2F%2Fleetcode.com%2Fproblems%2Flongest-substring-without-repeating-characters%2Fsolutions%2F1812%2Fshare-my-java-solution-using-hashset%2F&v=EM8IgIIiOdY"
                      >Sliding window</a
                    >.
                  </li><li>
                    <a
                      href="https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbVBBRW5jRDd2a3dRcTZOUUxDYy1vLWpITnkwZ3xBQ3Jtc0ttZGxQZWNvUEd3d1NlQ1h4LVl6dmFqbkF3MzdMVm5aWTdJTlpma2VoTjZjb1ZBLXM5NDhKLXRFU3NSUFBQYVo3dWpQMHprTkhZQ0hraVF0LVRPWmFWano1am01MVJ3ZmtGSU5UUUdWRVFadzhWQWVDMA&q=https%3A%2F%2Freplit.com%2F%40replitshare2%2FCombinationSumBacktracking%23main.py&v=EM8IgIIiOdY"
                      >Combination Sum Backtracking</a
                    >.
                  </li><li>
                    <a
                      href="https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbW1IdDBzUVlNU2gyTmhPOXlxaXI3OGxsNDU2Z3xBQ3Jtc0tsRXlQZC1pNzV1YWc3dG53SkotemVnOGN3b2xpUGhfVkZkQ2cyblMxVXdIVnhpZzBaVlM2d3FoaGk5ZnBkNi0zUVprOW5OWVA0cDNDZkZkR2pJVzZ4THA5OHllQjI2LWdTTXhDYmpBVDVmQzZLQXhZYw&q=https%3A%2F%2Freplit.com%2F%40replitshare2%2FCombinationSumDP%23main.py&v=EM8IgIIiOdY"
                      >Combination Sum Dynamic Programming</a
                    >.
                  </li><li>
                    <a href="https://www.youtube.com/watch?v=pcKY4hjDrxk&t=0s">DFS and BFS</a>.
                  </li>
                </ol>
              </div><div class="margin-top margin-small">
                <div class="lesson_card-meta-wrapper w-condition-invisible">
                  <div class="lesson_card-meta-user-wrapper">
                    <img
                      src="/cdn-assets/images/graphics/illustrations/graphic-illustration-9.avif"
                      loading="lazy"
                      alt=""
                      class="user-card__thumbnail is-small"
                    /><div class="div-block-3">
                      <div class="text-size-medium text-weight-bold w-embed">
                        Carta de Paulo Luan
                      </div><div class="text-size-small">
                        Dev hĂĄ 14 anos. Estruturou a arquitetura de diversas startups americanas.
                        Mentorou mais de 6k devs.
                      </div>
                    </div>
                  </div><a
                    href="https://www.linkedin.com/in/pauloluan/recent-activity/"
                    target="_blank"
                    class="w-inline-block"
                    ><div class="text-color-custom is-linkedin">
                      <div class="icon-1x1-large w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                          ><path
                            fill="currentColor"
                            d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
                          ></path></svg
                        >
                      </div>
                    </div></a
                  >
                </div>
              </div><div class="dialog-box w-condition-invisible">
                <div class="link_group">
                  <div class="icon-1x1-small w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10s10-4.486 10-10S17.514 2 12 2m0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8s8 3.589 8 8s-3.589 8-8 8"
                      ></path><path
                        fill="currentColor"
                        d="M10.707 12.293L9.414 11l1.293-1.293l-1.414-1.414L8 9.586L6.707 8.293L5.293 9.707L6.586 11l-1.293 1.293l1.414 1.414L8 12.414l1.293 1.293zm6.586-4L16 9.586l-1.293-1.293l-1.414 1.414L14.586 11l-1.293 1.293l1.414 1.414L16 12.414l1.293 1.293l1.414-1.414L17.414 11l1.293-1.293zM10 16h4v2h-4z"
                      ></path></svg
                    >
                  </div><div class="heading-style-h6">Essa aula ainda estĂĄ sendo construĂ­da.</div>
                </div><div class="text-size-small">
                  Esta aula foi planejada e estĂĄ sendo desenvolvida no momento. Em breve serĂĄ
                  adicionada aqui.
                </div>
              </div><div class="code_block w-embed">
                <style>
                  .lesson_rich-text pre {
                    font-size: 0.875rem !important;
                    border-radius: 0.5rem;
                    margin: 1rem;
                  }

                  .lesson_rich-text .linenumber {
                    opacity: 0.25;
                  }
                </style>
              </div>
              <!-- Q&A Repository CTA - temporarily disabled
              <div class="lesson_cta">
                <div class="heading-style-3">
                  ConheĂ§a o RepositĂłrio de Question &amp; Answers #JNG
                </div><p>
                  Preparamos um banco de perguntas e respostas tĂŠcnicas que potencialmente podem ser
                  abordadas em diversas ĂĄreas
                </p><a href="/qa" target="_blank" class="button is-secondary w-button"
                  >Acesse o Q&amp;A Repo</a
                >
              </div>
              -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><footer class="navbar-secondary_component">
  <div class="container-medium">
    <div class="nav_left-col">
      <img
        src="/cdn-assets/images/logos/companies/logo-vectors-wrapper.svg"
        loading="lazy"
        width="138.25469970703125"
        height="19.743812561035156"
        alt=""
        class="logo_image"
      />
    </div>
  </div>
</footer><!-- Google Tag Manager (noscript) -->

<!-- End Google Tag Manager (noscript) -->

<!-- ChatWOOT -->

<!--
-->

<!-- END ChatWOOT -->

<!-- MAUTIC -->

<!-- END MAUTIC -->

<!-- Declare as variĂĄveis de configuraĂ§ĂŁo (nĂŁo minificado) -->

<!--

  -->
