---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PublicNavbar from '../../components/PublicNavbar.astro';
import CommunityNavbar from '../../components/CommunityNavbar.astro';
---

<BaseLayout
  title={'Workshops JNG - Resume - Existe o jeito certo de fazer'}
  description={''}
  ogImage={'/cdn-assets/images/graphics/social/og-image.avif'}
  robots={'noindex'}
  wfPage={'657caac76d0591ff6f86e5b8'}
>
  <div class="nav_wrapper">
    <CommunityNavbar />
    <PublicNavbar />
  </div>

  <div class="content-wrapper"></div><div class="nav_right-col">
    <a href="/" class="navbar_link">Dashboard</a><a
      href="../jobs"
      class="navbar_link">Vagas</a
    ><a href="curriculo-existe-o-jeito-certo-de-fazer#" class="navbar_link is-white w-button"
      >Sair</a
    >
  </div><div class="nav_menu-button">
    <div class="icon-1x1-medium w-embed">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
        ><path fill="currentColor" d="M4 11h12v2H4zm0-5h16v2H4zm0 12h7.235v-2H4z"></path></svg
      >
    </div>
  </div></BaseLayout
>
<div class="section-lesson-unbind">
  <div class="padding-section-small">
    <div class="padding-global">
      <div class="container-large">
        <div class="lesson_container">
          <div class="sidebar__wrapper is-top-padding">
            <div class="hide-tablet">
              <a href="../course" class="link-return is-margin-05 w-inline-block"
                ><div class="button is-icon-only is-small">
                  <div class="icon-1x1-small w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1rem"
                      height="1rem"
                      viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M21 11H6.414l5.293-5.293l-1.414-1.414L2.586 12l7.707 7.707l1.414-1.414L6.414 13H21z"
                      ></path></svg
                    >
                  </div>
                </div><div class="w-embed">Volte para o Módulo 4</div></a
              >
            </div><div class="lesson_sidebar">
              <div class="course_sidebar-title-copy">
                <div class="text-size-small">Esta é uma aula do módulo:</div><a
                  href="/modulo/linkedin.html"
                  class="w-inline-block"
                  ><div class="course_content-heading w-embed">
                    M4&nbsp&nbsp✦&nbsp&nbspPersonal Branding - LinkedIn SEO &amp; CV
                  </div></a
                ><div class="text-size-small">
                  Agora que você tem as vagas e os contatos certos, você precisa SER A PESSOA CERTA.
                  Mas como você sabe, existe uma diferença entre ser bom e parecer bom. O que é
                  melhor? Nenhum. Ambos são igualmente importantes e a gente diz por quê.
                </div>
              </div><div class="lesson-card_list-wrapper w-dyn-list">
                <div role="list" class="card-row_list is-no-border w-dyn-items">
                  <div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/quem-e-bom-fala-menos-e-mostra-mais.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A1&nbsp&nbsp✦&nbsp&nbspQuem é bom fala menos e mostra mais
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/linkedin-seo-1-4-seja-o-candidato-perfeito-para-headhunters-e-recruiters.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A2&nbsp&nbsp✦&nbsp&nbspLinkedIn (SEO) 1/4 - Seja o candidato perfeito
                            para headhunters e recruiters
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/linkedin-seo-2-4-foto-e-capa-importam.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A3&nbsp&nbsp✦&nbsp&nbspLinkedIn (SEO) 2/3 - Foto e Capa Importam
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/linkedin-seo-3-4-seja-facil-de-ser-localizado.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A4&nbsp&nbsp✦&nbsp&nbspLinkedIn (SEO) 3/4 - Seja fácil de ser localizado
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/linkedin-seo-4-4-ative-seu-perfil-em-ingles-como-traduzir-o-perifl.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A5&nbsp&nbsp✦&nbsp&nbspLinkedIn (SEO) 4/4 - Prepare seu Perfil em Inglês
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/curriculo-existe-o-jeito-certo-de-fazer.html"
                      aria-current="page"
                      class="lesson-card_row is-underline w-inline-block w--current"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A6&nbsp&nbsp✦&nbsp&nbspResume - Existe o jeito certo de fazer
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/estrategia-de-portfolio-para-devs.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A7&nbsp&nbsp✦&nbsp&nbspEstratégia de Portfólio Para Devs
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/estrategia-de-portfolio-para-designers.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A8&nbsp&nbsp✦&nbsp&nbspEstratégia de Portfólio para Designers
                          </div>
                        </div>
                      </div></a
                    >
                  </div>
                </div>
              </div>
            </div><a
              href="curriculo-existe-o-jeito-certo-de-fazer#"
              class="card-content is-vertical-small-padding-small w-inline-block"
              ><img
                src="/cdn-assets/images/graphics/illustrations/graphic-img-bills.avif"
                loading="lazy"
                sizes="(max-width: 800px) 100vw, 800px"
                srcset="/cdn-assets/images/graphics/illustrations/graphic-img-bills-73.avif 500w, /cdn-assets/images/graphics/illustrations/graphic-img-bills.avif 800w"
                alt=""
                class="card_thumbnail is-small"
              /><h3 class="heading-style-h5">Job Boards Repo</h3><div class="text-size-small">
                Descubra quais empresas gringas já contrataram brasileiros e quais vagas elas têm
                disponíveis no momento.
              </div><div class="margin-top margin-tiny">
                <div class="text-size-small text-color-primary">Acesse o Repositório</div>
              </div></a
            ><a
              href="curriculo-existe-o-jeito-certo-de-fazer#"
              class="card-content is-vertical-small-padding-small w-inline-block"
              ><img
                src="/cdn-assets/images/graphics/illustrations/graphic-img-brain.avif"
                loading="lazy"
                sizes="(max-width: 800px) 100vw, 800px"
                srcset="/cdn-assets/images/graphics/illustrations/graphic-img-brain-36.avif 500w, /cdn-assets/images/graphics/illustrations/graphic-img-brain.avif 800w"
                alt=""
                class="card_thumbnail is-small"
              /><h3 class="heading-style-h5">Q&amp;A Repo (Disponível em breve)</h3><div
                class="text-size-small"
              >
                Navegue por uma curadoria completa de perguntas e respostas de entrevistas técnicas
                e não-técnicas pra você chegar afiado(a).
              </div><div class="margin-top margin-tiny">
                <div class="text-size-small text-color-primary">Acesse o Repositório</div>
              </div></a
            >
          </div><div class="hide-desktop">
            <a href="../index#modulos" class="link-return is-margin-05 w-inline-block"
              ><div class="button is-icon-only is-small">
                <div class="icon-1x1-small w-embed">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1rem"
                    height="1rem"
                    viewBox="0 0 24 24"
                    ><path
                      fill="currentColor"
                      d="M21 11H6.414l5.293-5.293l-1.414-1.414L2.586 12l7.707 7.707l1.414-1.414L6.414 13H21z"
                    ></path></svg
                  >
                </div>
              </div><div class="w-embed">Volte para o Módulo 4</div></a
            >
          </div><div class="lesson_body">
            <div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path
                      fill="currentColor"
                      d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-6-2h4V14h-4zm-4 2H2V18h8z"
                    ></path></svg
                  >
                </div><div class="heading-style-h6">Conteúdo Introdutório</div>
              </div><div class="text-size-small">
                Se você já é um usuário ativo de ChatGPT, esta aula introdutória pode soar um tédio.
                Acesse conteúdos mais avançados e interessantes no painel ao lado.
              </div>
            </div><div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path
                      fill="currentColor"
                      d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"></path></svg
                  >
                </div><div class="heading-style-h6">Conteúdo Intermediário</div>
              </div><div class="text-size-small">
                Ideal para quem está explorando possibilidades com a ferramenta. Lembre-se: você
                pode obter resultados diferentes daqueles aqui reproduzidos.
              </div>
            </div><div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path fill="currentColor" d="M30 30h-8V4h8zm-10 0h-8V12h8zm-10 0H2V18h8z"
                    ></path></svg
                  >
                </div><div class="heading-style-h6">Conteúdo Avançado</div>
              </div><div class="text-size-small">
                Ideal para quem já tem domínio da ferramenta e busca integrações e engenharia de
                prompts.
              </div>
            </div><div id="cms-content" class="course_content-description is-contained">
              <div class="lesson_breadcrumbs is-wrapped">
                <a href="../course" class="link_group is-small w-inline-block"
                  ><div class="icon-1x1-small w-embed">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M12.74 2.32a1 1 0 0 0-1.48 0l-9 10A1 1 0 0 0 3 14h2v7a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-7h2a1 1 0 0 0 1-1a1 1 0 0 0-.26-.68z"
                      ></path></svg
                    >
                  </div><div>#JNG</div></a
                ><div class="text-color-light-gray">/</div><a
                  href="/modulo/linkedin.html"
                  class="breadcrumb_link w-inline-block"><div class="w-embed">M4</div></a
                ><div class="text-color-light-gray">/</div><a
                  href="/curriculo-existe-o-jeito-certo-de-fazer.html"
                  aria-current="page"
                  class="breadcrumb_link w-inline-block w--current"
                  ><div>Resume - Existe o jeito certo de fazer</div></a
                >
              </div><div class="lesson_video-wrapper w-condition-invisible">
                <div class="lesson_video-embed w-embed w-iframe">
                  <div style="position:relative;padding-top:56.25%;">
                    <iframe
                      id="panda-"
                      src="https://player-vz-7d355ab5-ed5.tv.pandavideo.com.br/embed/?v="
                      style="border:none;position:absolute;top:0;left:0;"
                      allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture"
                      allowfullscreen="true"
                      width="100%"
                      height="100%"
                      fetchpriority="high"></iframe>
                  </div>
                </div>
              </div><h1 class="single-lesson_title">Resume - Existe o jeito certo de fazer</h1><div
                class="lesson_card-meta-wrapper w-condition-invisible"
              >
                <div class="lesson_card-meta-user-wrapper">
                  <img
                    src="/cdn-assets/images/screenshots/examples/user-placeholder.svg"
                    loading="lazy"
                    alt=""
                    class="user-card__thumbnail is-small w-dyn-bind-empty"
                  /><div class="div-block-3">
                    <div class="text-size-medium text-weight-bold w-embed">Carta de</div><div
                      class="w-dyn-bind-empty"
                    >
                    </div>
                  </div>
                </div><a href="curriculo-existe-o-jeito-certo-de-fazer#" class="w-inline-block"
                  ><div class="text-color-custom is-linkedin">
                    <div class="icon-1x1-large w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1em"
                        height="1em"
                        viewBox="0 0 24 24"
                        ><path
                          fill="currentColor"
                          d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
                        ></path></svg
                      >
                    </div>
                  </div></a
                >
              </div><div class="lesson_meta-date">
                <div>Este conteúdo foi atualizado em</div><div>06/2024</div>
              </div><div class="lesson_rich-text w-richtext">
                <p>
                  Não adianta nada você se aplicar pra 1000 vagas, se seu currículo está formatado
                  do jeito errado. Currículo não é brincadeira e existe o JEITO CERTO de fazer. Aqui
                  vai tudo que você precisa saber.
                </p><h2>Você com certeza já se perguntou: Por que ninguém lê seu currículo?</h2><p>
                  Entenda a Diferença entre Currículo ATS e Currículo Personalizado:
                </p><p>
                  <strong>Currículo <em>ATS Friendly</em></strong> é um currículo MUITO SIMPLES que vc
                  vai usar pra fazer upload nas plataformas de recrutamento, tipo LinkedIn, Gupy, Greenhouse,
                  Catho, Glassdoor, etc.
                </p><p>
                  <strong>Currículo Personalizado</strong> é aquele mais visualmente bonitinho que você
                  entrega em mãos ou envia para o e-mail de ALGUÉM.
                </p><h2>Como formatar um Currículo ATS?</h2><p>
                  ATS (Applicant Tracking System) são os serviços utilizados por plataformas de
                  recrutamento. Esses serviços vão automaticamente acessar seu CV e usar de
                  algoritmos e Inteligência Artificial para buscar por palavras-chave, escolaridade,
                  skills, etc.
                </p><p>
                  Por isso existe uma forma sistemática e estruturada de formatá-lo do jeito certo.
                </p><h2>Exemplo e Estrutura de Currículo ATS</h2><figure
                  
                  class="w-richtext-align-fullwidth w-richtext-figure-type-image"
                >
                  <div>
                    <img
                      src="/cdn-assets/images/screenshots/examples/resume-example.avif"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                </figure><h2>Como criar o Currículo ATS?</h2><ol role="list">
                  <li>
                    Você pode baixar templates em sites como como o <a href="http://read.cv"
                      >read.cv</a
                    > e o <a href="http://visual.cv">visual.cv</a> ambos oferecem templates que são clean
                    e eficientes.
                  </li><li>
                    Use os softwares mais populares: <strong>Google Docs ou Microsoft Word</strong>.
                  </li>
                </ol><figure
                  style="padding-bottom:56.206088992974244%"
                  class="w-richtext-align-fullwidth w-richtext-figure-type-video"
                >
                  <div>
                    <iframe
                      allowfullscreen="true"
                      frameborder="0"
                      scrolling="no"
                      src="https://www.youtube.com/embed/0jQwXfsOds4"
                      title="How to Create an ATS-Friendly Resume for Today's Job Market (2024)"
                    ></iframe>
                  </div>
                </figure><h2>
                  Template do #JNG (<a
                    href="https://docs.google.com/document/d/1sXnaIs-a0a5aUA5u_ECGnaYMbpt210rk/edit?usp=sharing&ouid=112594348167723100632&rtpof=true&sd=true"
                    >Acesse</a
                  >)
                </h2><p>
                  Além dos templates que você pode buscar na internet (busque por ATS Friendly
                  Resume Template), no link abaixo você encontra um modelo que preparamos com
                  comentários detalhados de como você pode preparar o seu currículo ATS.
                </p><h3>Lembre-se de:</h3><ol start="" role="list">
                  <li>Este é um currículo ATS e deve ser utilizado e formatado como tal.</li><li>
                    Não o estilize muito. O objetivo deste currículo não é ser visualmente
                    chamativo.
                  </li><li>
                    O objetivo deste currículo é ser facilmente rastreado por ferramentas de
                    pesquisa de talentos (ATS).
                  </li><li>Ao final da edição, lembre-se de exportar em PDF para enviar.</li><li>
                    Nunca envie currículos em .doc. A menos que lhe seja diretamente solicitado.
                  </li><li>
                    A fonte Garamond é amplamente utilizada em currículos ATS, por ser uma fonte
                    segura. Estilize por sua conta e risco.
                  </li><li>
                    Lembre-se que você pode utilizar o ChatGPT para melhor guiá-lo durante o
                    processo de criação deste currículo. Lembre-se sempre, porém, de adaptar o
                    conteúdo gerado à sua realidade e comunicação.
                  </li><li>
                    Não esqueça de seguir as sugestões descritas na estrutura deste resume de
                    ponta-a-ponta. Não deixe nenhum ponto em branco ou sem adaptação.
                  </li><li>
                    Este é um documento que deve ser criado com calma e atenção. Tome algumas horas
                    da sua semana para criá-lo e adaptá-lo à vaga que você se canditará.
                  </li>
                </ol><h3>Dicas importantes:</h3><ul role="list">
                  <li>
                    Liste skills que você possa comprovar e sejam importantes para empresas;
                  </li><li>
                    Entre na página About da empresa, veja quais as visões e valores dela e use as
                    que derem match com seu perfil como suas principais softskills;
                  </li><li>
                    Nas suas experiências fale de valores quantitativos e qualitativos dos projetos
                    que você trabalhou (fale sobre <a
                      href="https://www.google.com/search?q=o+que+s%C3%A3o+okrs&rlz=1C5CHFA_enBR971BR971&oq=o+que+s%C3%A3o+okrs&aqs=chrome..69i57j69i60l2.2020j0j1&sourceid=chrome&ie=UTF-8"
                      >OKRs</a
                    > e <a
                      href="https://www.google.com/search?q=o+que+s%C3%A3o+KPIs&sca_esv=563983722&rlz=1C5CHFA_enBR971BR971&ei=KV38ZI-UM8vN1sQPhPOC4A4&ved=0ahUKEwjPzL6kvJ2BAxXLppUCHYS5AOwQ4dUDCBA&uact=5&oq=o+que+s%C3%A3o+KPIs&gs_lp=Egxnd3Mtd2l6LXNlcnAiD28gcXVlIHPDo28gS1BJczIKEAAYRxjWBBiwAzIKEAAYRxjWBBiwAzIKEAAYRxjWBBiwAzIKEAAYRxjWBBiwAzIKEAAYRxjWBBiwAzIKEAAYRxjWBBiwAzIKEAAYRxjWBBiwAzIKEAAYRxjWBBiwAzIKEAAYigUYsAMYQzIKEAAYigUYsAMYQ0i7A1DRAljRAnACeAGQAQCYAQCgAQCqAQC4AQPIAQD4AQL4AQHiAwQYACBBiAYBkAYK&sclient=gws-wiz-serp"
                      >KPIs</a
                    >);
                  </li><li>Não liste coisas que você sabe mais ou menos.</li>
                </ul><p>‍</p><h2>Use o CHATGPT para customizar Currículos</h2><figure
                  style="padding-bottom:56.206088992974244%"
                  class="w-richtext-align-fullwidth w-richtext-figure-type-video"
                >
                  <div>
                    <iframe
                      allowfullscreen="true"
                      frameborder="0"
                      scrolling="no"
                      src="https://www.youtube.com/embed/Zntt9yWEhco"
                      title="Seqüência 02"></iframe>
                  </div>
                </figure><p>
                  Se você tem pressa ou está se candidatando para diversas vagas, recomendamos o uso
                  de prompts no ChatGPT para criar conteúdos de forma customizada e produtiva.
                  Entretanto, é importante usar essa ferramenta de maneira inteligente.
                </p><p>
                  Sugerimos que você utilize descrições de vagas de empresas para as quais não
                  pretende se candidatar como base para criar templates. Caso contrário, ao utilizar
                  as descrições de vagas das empresas de seu interesse, você corre o risco de o
                  ChatGPT apenas reorganizar as palavras, alterar o tom, mas manter a mesma
                  estrutura. Isso pode resultar em um currículo que pareça uma cópia barata da
                  descrição da vaga.
                </p><p>
                  Portanto, utilize o output da IA como uma fonte de inspiração, e não como plágio.
                  Aproveite os tópicos que realmente refletem sua experiência, modifique as palavras
                  e incorpore-os em seu currículo.
                </p><p><strong>E, acima de tudo, não minta.</strong></p><p>‍</p><h4>
                  🤖 Prompt 1: criação de CV do zero baseado no job description
                </h4><blockquote>
                  I would like you to create a perfect CV for me based on a specific job
                  description. I&#x27;m seeking an example of a CV that aligns perfectly with the
                  requirements and expectations of the job. By reviewing this example, I hope to
                  gain a better understanding of how to tailor my own CV to fit similar roles. Could
                  you please provide me with a comprehensive CV that showcases the ideal
                  qualifications, skills, and experiences needed for this job?<br />[COLA AQUI A JOB
                  DESCRIPTION]
                </blockquote><p>
                  Os demais prompts são para a criação de seções específicas do CV, como sumário,
                  bullet points e finalização.
                </p><h4>🤖 Prompt 2: <strong>Sumário</strong></h4><blockquote>
                  I&#x27;m looking for assistance in creating a summary that effectively showcases
                  my skills, experiences, and achievements relevant to a [insert job title] role.<br
                  />I want to highlight my past accomplishments, my passion and career aspirations
                  in [insert industry/field] and demonstrate my ability to [insert relevant
                  skill/achievement].<br />It&#x27;s important for the summary to emphasize my
                  unique selling points and set me apart from other candidates. I also need a
                  summary that showcases my proficiency in [insert relevant soft skill or technical
                  skill].<br />Whether it&#x27;s highlighting my experience in [insert relevant job
                  function/task] or my achievements in [insert relevant job/project], I want a
                  summary that represents my strengths and potential contribution.<br /><br
                  />Furthermore, I would like a summary that showcases my dedication to [insert
                  relevant cause/issue] and how I&#x27;ve made a difference in the past.
                </blockquote><h4>🤖 Prompt 3: <strong>Bullet Points</strong></h4><blockquote>
                  <strong>‍</strong>I&#x27;m seeking assistance in creating impactful bullet points
                  that effectively showcase my achievements and experience across various aspects of
                  my professional profile. I would like the bullet points to highlight my
                  accomplishments, experience, skills, and impact in my most recent role as [insert
                  job title].<br />Additionally, I want to emphasize my experience in [insert
                  relevant job function/task] and demonstrate my ability to [insert relevant
                  skill/achievement].<br />It&#x27;s important to create concise and powerful bullet
                  points that capture the essence of my contributions and demonstrate my value as a
                  professional. I appreciate your support in creating these impactful bullet points
                  that will strengthen my resume and present a compelling case for my expertise.
                </blockquote><h4>🤖 Prompt 4: <strong>Edição / finalização.</strong></h4><p>
                  O prompt 4 é bastante importante para revisar possíveis erros ou identificar más
                  práticas que você tenha colocado sem intenção. Esse prompt vai te ajudar a não ser
                  ignorado, e a passar mais confiança tanto em processos automatizados de robôs
                  quanto de humanos:<br />‍
                </p><blockquote>
                  I would like to request your assistance in reviewing my resume and providing any
                  suggestions or edits for improvement.<br /><br />I want to ensure that my resume
                  stands out from other candidates. Additionally, I would like to know common
                  mistakes that job seekers make in their resumes, as well as the most important
                  keywords to include for applicant tracking systems.<br /><br />Furthermore, I
                  would appreciate tips on making my resume more concise and to the point. Can you
                  also suggest ways to tailor my resume to specific job postings? I&#x27;m
                  interested in making my resume visually appealing and professional, so any advice
                  on that would be helpful. Additionally, I would like to know common formatting
                  mistakes to avoid. How can I best highlight my achievements in my resume? Finally,
                  I would appreciate tips for preparing my resume for a job interview.
                </blockquote>
              </div><div class="margin-top margin-small">
                <div class="lesson_card-meta-wrapper w-condition-invisible">
                  <div class="lesson_card-meta-user-wrapper">
                    <img
                      src="/cdn-assets/images/screenshots/examples/user-placeholder.svg"
                      loading="lazy"
                      alt=""
                      class="user-card__thumbnail is-small w-dyn-bind-empty"
                    /><div class="div-block-3">
                      <div class="text-size-medium text-weight-bold w-embed">Carta de</div><div
                        class="text-size-small w-dyn-bind-empty"
                      >
                      </div>
                    </div>
                  </div><a href="curriculo-existe-o-jeito-certo-de-fazer#" class="w-inline-block"
                    ><div class="text-color-custom is-linkedin">
                      <div class="icon-1x1-large w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                          ><path
                            fill="currentColor"
                            d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
                          ></path></svg
                        >
                      </div>
                    </div></a
                  >
                </div>
              </div><div class="dialog-box w-condition-invisible">
                <div class="link_group">
                  <div class="icon-1x1-small w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10s10-4.486 10-10S17.514 2 12 2m0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8s8 3.589 8 8s-3.589 8-8 8"
                      ></path><path
                        fill="currentColor"
                        d="M10.707 12.293L9.414 11l1.293-1.293l-1.414-1.414L8 9.586L6.707 8.293L5.293 9.707L6.586 11l-1.293 1.293l1.414 1.414L8 12.414l1.293 1.293zm6.586-4L16 9.586l-1.293-1.293l-1.414 1.414L14.586 11l-1.293 1.293l1.414 1.414L16 12.414l1.293 1.293l1.414-1.414L17.414 11l1.293-1.293zM10 16h4v2h-4z"
                      ></path></svg
                    >
                  </div><div class="heading-style-h6">Essa aula ainda está sendo construída.</div>
                </div><div class="text-size-small">
                  Esta aula foi planejada e está sendo desenvolvida no momento. Em breve será
                  adicionada aqui.
                </div>
              </div><div class="code_block w-embed">
                <style>
                  .lesson_rich-text pre {
                    font-size: 0.875rem !important;
                    border-radius: 0.5rem;
                    margin: 1rem;
                  }

                  .lesson_rich-text .linenumber {
                    opacity: 0.25;
                  }
                </style>
              </div><div class="lesson_cta w-condition-invisible">
                <div class="heading-style-3 w-dyn-bind-empty"></div><p class="w-dyn-bind-empty">
                </p><a
                  href="curriculo-existe-o-jeito-certo-de-fazer#"
                  class="button is-secondary w-dyn-bind-empty w-button"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><footer class="navbar-secondary_component">
  <div class="container-medium">
    <div class="nav_left-col">
      <img
        src="/cdn-assets/images/logos/companies/logo-vectors-wrapper.svg"
        loading="lazy"
        width="138.25469970703125"
        height="19.743812561035156"
        alt=""
        class="logo_image"
      />
    </div>
  </div>
</footer><!-- Google Tag Manager (noscript) -->

<!-- End Google Tag Manager (noscript) -->

<!-- ChatWOOT -->

<!--
-->

<!-- END ChatWOOT -->

<!-- MAUTIC -->

<!-- END MAUTIC -->

<!-- Declare as variáveis de configuração (não minificado) -->

<!--

  -->
