---
import BaseLayout from '@layouts/BaseLayout.astro';
import CommunityNavbar from '@components/CommunityNavbar.astro';
---

<BaseLayout
  title={'Workshops JNG - Hack 4. Encontre as vagas escondidas das plataformas'}
  description={''}
  ogImage={'/cdn-assets/images/graphics/social/og-image.avif'}
  robots={'noindex'}
  wfPage={'657caac76d0591ff6f86e5b8'}
>
  <div class="nav_wrapper">
    <CommunityNavbar />
  </div>
</BaseLayout>
<div class="section-lesson-unbind">
  <div class="padding-section-small">
    <div class="padding-global">
      <div class="container-large">
        <div class="lesson_container">
          <div class="sidebar__wrapper is-top-padding">
            <div class="hide-tablet">
              <a href="/course" class="link-return is-margin-05 w-inline-block"
                ><div class="button is-icon-only is-small">
                  <div class="icon-1x1-small w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1rem"
                      height="1rem"
                      viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M21 11H6.414l5.293-5.293l-1.414-1.414L2.586 12l7.707 7.707l1.414-1.414L6.414 13H21z"
                      ></path></svg
                    >
                  </div>
                </div><div class="w-embed">Volte para o Módulo 2</div></a
              >
            </div><div class="lesson_sidebar">
              <div class="course_sidebar-title-copy">
                <div class="text-size-small">Esta é uma aula do módulo:</div><a
                  href="/modulo/empresas"
                  class="w-inline-block"
                  ><div class="course_content-heading w-embed">
                    M2&nbsp&nbsp✦&nbsp&nbspComo encontrar as empresas certas
                  </div></a
                ><div class="text-size-small">
                  Não existe esse papo de: não existe vaga disponível para mim. Em 99% dos casos é
                  você quem não consegue encontrar as vagas disponíveis. Neste capítulo, ensinaremos
                  você a driblar todos os algoritmos que te impedem de encontrar a vaga perfeita.
                  Você não vai sair desse capítulo sem ela.
                </div>
              </div><div class="lesson-card_list-wrapper w-dyn-list">
                <div role="list" class="card-row_list is-no-border w-dyn-items">
                  <div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/introducao-a-busca-como-comecar-a-procurar"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A1&nbsp&nbsp✦&nbsp&nbspIntrodução à Busca - Como Começar a Procurar
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/palavras-chave-dos-donts"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A2&nbsp&nbsp✦&nbsp&nbspPalavras-chave: dos &amp; don’ts
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/hack-1-busca-exata-intro-tecnicas-de-busca"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A3&nbsp&nbsp✦&nbsp&nbspHack 1. Busca Exata (Intro Técnicas de Busca)
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/hack-2-busca-de-termo-exato-em-outras-plataformas"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A4&nbsp&nbsp✦&nbsp&nbspHack 2. Busca em Outras Plataformas
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/hack-3-busca-boleana-avancada"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A5&nbsp&nbsp✦&nbsp&nbspHack 3. Busca Boleana Avançada
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/hack-4-busca-ats"
                      aria-current="page"
                      class="lesson-card_row is-underline w-inline-block w--current"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A6&nbsp&nbsp✦&nbsp&nbspHack 4. Encontre as vagas escondidas das
                            plataformas
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/hack-5-busque-vagas-gringas-para-brasileiros"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A7&nbsp&nbsp✦&nbsp&nbspHack 5. Busque vagas GRINGAS PARA BRASILEIROS
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/hack-6-use-o-chatgpt"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A8&nbsp&nbsp✦&nbsp&nbspHack 6. Use o ChatGPT
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/hack-7-empresas-que-buscam-latam"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A9&nbsp&nbsp✦&nbsp&nbspHack 7. Empresas que buscam LATAM
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/hack-8-fundos-de-investimentos-vc-venture-capital"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A10&nbsp&nbsp✦&nbsp&nbspHack 8. Fundos de Investimentos (VC - Venture
                            Capital)
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/conclusao-de-modulo-viu-vaga-nao-falta-o-que-falta-e-voce"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A13&nbsp&nbsp✦&nbsp&nbspConclusão de Módulo (Viu? Vaga não falta. O que
                            falta é você.)
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/leapfrog-encontre-empresas-que-contratam-brasileiros"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A14&nbsp&nbsp✦&nbsp&nbspLeapfrog - Encontre empresas que contratam
                            brasileiros
                          </div>
                        </div>
                      </div></a
                    >
                  </div>
                </div>
              </div>
            </div><a
              href="/aulas/hack-4-busca-ats#"
              class="card-content is-vertical-small-padding-small w-inline-block"
              ><img
                src="/cdn-assets/images/graphics/illustrations/graphic-img-bills.avif"
                loading="lazy"
                sizes="(max-width: 800px) 100vw, 800px"
                srcset="/cdn-assets/images/graphics/illustrations/graphic-img-bills-73.avif 500w, /cdn-assets/images/graphics/illustrations/graphic-img-bills.avif 800w"
                alt=""
                class="card_thumbnail is-small"
              /><h3 class="heading-style-h5">Job Boards Repo</h3><div class="text-size-small">
                Descubra quais empresas gringas já contrataram brasileiros e quais vagas elas têm
                disponíveis no momento.
              </div><div class="margin-top margin-tiny">
                <div class="text-size-small text-color-primary">Acesse o Repositório</div>
              </div></a
            ><a
              href="/aulas/hack-4-busca-ats#"
              class="card-content is-vertical-small-padding-small w-inline-block"
              ><img
                src="/cdn-assets/images/graphics/illustrations/graphic-img-brain.avif"
                loading="lazy"
                sizes="(max-width: 800px) 100vw, 800px"
                srcset="/cdn-assets/images/graphics/illustrations/graphic-img-brain-36.avif 500w, /cdn-assets/images/graphics/illustrations/graphic-img-brain.avif 800w"
                alt=""
                class="card_thumbnail is-small"
              /><h3 class="heading-style-h5">Q&amp;A Repo (Disponível em breve)</h3><div
                class="text-size-small"
              >
                Navegue por uma curadoria completa de perguntas e respostas de entrevistas técnicas
                e não-técnicas pra você chegar afiado(a).
              </div><div class="margin-top margin-tiny">
                <div class="text-size-small text-color-primary">Acesse o Repositório</div>
              </div></a
            >
          </div><div class="hide-desktop">
            <a href="/#modulos" class="link-return is-margin-05 w-inline-block"
              ><div class="button is-icon-only is-small">
                <div class="icon-1x1-small w-embed">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1rem"
                    height="1rem"
                    viewBox="0 0 24 24"
                    ><path
                      fill="currentColor"
                      d="M21 11H6.414l5.293-5.293l-1.414-1.414L2.586 12l7.707 7.707l1.414-1.414L6.414 13H21z"
                    ></path></svg
                  >
                </div>
              </div><div class="w-embed">Volte para o Módulo 2</div></a
            >
          </div><div class="lesson_body">
            <div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path
                      fill="currentColor"
                      d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-6-2h4V14h-4zm-4 2H2V18h8z"
                    ></path></svg
                  >
                </div><div class="heading-style-h6">Conteúdo Introdutório</div>
              </div><div class="text-size-small">
                Se você já é um usuário ativo de ChatGPT, esta aula introdutória pode soar um tédio.
                Acesse conteúdos mais avançados e interessantes no painel ao lado.
              </div>
            </div><div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path
                      fill="currentColor"
                      d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"></path></svg
                  >
                </div><div class="heading-style-h6">Conteúdo Intermediário</div>
              </div><div class="text-size-small">
                Ideal para quem está explorando possibilidades com a ferramenta. Lembre-se: você
                pode obter resultados diferentes daqueles aqui reproduzidos.
              </div>
            </div><div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path fill="currentColor" d="M30 30h-8V4h8zm-10 0h-8V12h8zm-10 0H2V18h8z"
                    ></path></svg
                  >
                </div><div class="heading-style-h6">Conteúdo Avançado</div>
              </div><div class="text-size-small">
                Ideal para quem já tem domínio da ferramenta e busca integrações e engenharia de
                prompts.
              </div>
            </div><div id="cms-content" class="course_content-description is-contained">
              <div class="lesson_breadcrumbs is-wrapped">
                <a href="/course" class="link_group is-small w-inline-block"
                  ><div class="icon-1x1-small w-embed">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M12.74 2.32a1 1 0 0 0-1.48 0l-9 10A1 1 0 0 0 3 14h2v7a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-7h2a1 1 0 0 0 1-1a1 1 0 0 0-.26-.68z"
                      ></path></svg
                    >
                  </div><div>#JNG</div></a
                ><div class="text-color-light-gray">/</div><a
                  href="/modulo/empresas"
                  class="breadcrumb_link w-inline-block"><div class="w-embed">M2</div></a
                ><div class="text-color-light-gray">/</div><a
                  href="/aulas/hack-4-busca-ats"
                  aria-current="page"
                  class="breadcrumb_link w-inline-block w--current"
                  ><div>Hack 4. Encontre as vagas escondidas das plataformas</div></a
                >
              </div><div class="lesson_video-wrapper">
                <div class="lesson_video-embed w-embed w-iframe">
                  <div style="position:relative;padding-top:56.25%;">
                    <iframe
                      id="panda-4ef2695a-1a68-425c-8075-67af2fa98eb5"
                      src="https://player-vz-7d355ab5-ed5.tv.pandavideo.com.br/embed/?v=4ef2695a-1a68-425c-8075-67af2fa98eb5"
                      style="border:none;position:absolute;top:0;left:0;"
                      allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture"
                      allowfullscreen="true"
                      width="100%"
                      height="100%"
                      fetchpriority="high"></iframe>
                  </div>
                </div>
              </div><h1 class="single-lesson_title">
                Hack 4. Encontre as vagas escondidas das plataformas
              </h1><div class="lesson_card-meta-wrapper w-condition-invisible">
                <div class="lesson_card-meta-user-wrapper">
                  <img
                    src="/cdn-assets/images/screenshots/examples/user-placeholder.svg"
                    loading="lazy"
                    alt=""
                    class="user-card__thumbnail is-small w-dyn-bind-empty"
                  /><div class="div-block-3">
                    <div class="text-size-medium text-weight-bold w-embed">Carta de</div><div
                      class="w-dyn-bind-empty"
                    >
                    </div>
                  </div>
                </div><a href="/aulas/hack-4-busca-ats#" class="w-inline-block"
                  ><div class="text-color-custom is-linkedin">
                    <div class="icon-1x1-large w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1em"
                        height="1em"
                        viewBox="0 0 24 24"
                        ><path
                          fill="currentColor"
                          d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
                        ></path></svg
                      >
                    </div>
                  </div></a
                >
              </div><div class="lesson_meta-date">
                <div>Este conteúdo foi atualizado em</div><div>05/2024</div>
              </div><div class="lesson_rich-text w-richtext">
                <p>
                  Você já se deparou com plataformas como Gupy, Catho, etc.? Assim como essas,
                  existem diversas outras plataformas usadas por muitas empresas estrangeiras para
                  buscar vagas. Estas são chamadas de ATS (Applicant Tracking System). É fácil de
                  reconhecer. Geralmente é aquela página com a descrição da vaga e o formulário de
                  inscrição abaixo.
                </p><p>
                  Alguns sites de ATS que você pode usar como base para sua pesquisa e tornar sua
                  busca muito mais precisa são:
                </p><h3>Algumas Plataformas ATS com vagas para Brasileiros</h3><div class="w-embed">
                  <table>
                    <thead>
                      <tr>
                        <th>Freshteam by Freshworks</th>
                        <th>https://www.freshworks.com/</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>JazzHR</td>
                        <td>https://www.jazzhr.com/</td>
                      </tr>
                      <tr>
                        <td>BreezyHR</td>
                        <td>https://breezy.hr/</td>
                      </tr>
                      <tr>
                        <td>Greenhouse</td>
                        <td>https://www.greenhouse.io/</td>
                      </tr>
                      <tr>
                        <td>BambooHR</td>
                        <td>https://www.bamboohr.com/</td>
                      </tr>
                      <tr>
                        <td>Workable</td>
                        <td>https://www.workable.com/</td>
                      </tr>
                      <tr>
                        <td>Bullhorn</td>
                        <td>https://www.bullhorn.com/</td>
                      </tr>
                      <tr>
                        <td>Recruit CRM</td>
                        <td>https://recruitcrm.io/</td>
                      </tr>
                      <tr>
                        <td>Recruitee</td>
                        <td>https://www.recruitee.com/</td>
                      </tr>
                      <tr>
                        <td>Ashbyhq</td>
                        <td>https://www.ashbyhq.com/</td>
                      </tr>
                      <tr>
                        <td>Comparably</td>
                        <td>ats.comparably.com</td>
                      </tr>
                      <tr>
                        <td>Pluo</td>
                        <td>https://pluo.jobs/jobs/</td>
                      </tr>
                      <tr>
                        <td>Prometeotalent</td>
                        <td>https://jobs.prometeotalent.com/jobs/</td>
                      </tr>
                    </tbody>
                  </table>
                </div><p>‍</p>
                <!-- Job Boards Repository link - temporarily disabled
                <p>
                  Não esqueça de visitar o nosso <a href="/jobboards">Repositório de Job Boards</a>
                </p>
                -->
                <p>‍</p><blockquote>
                  💡#dicaóbvia. Menos é mais. Use poucas palavras-chave, mas use as boas.
                </blockquote><p>‍</p><p>Por exemplo, ao invés de buscar por:</p><ul>
                  <li>
                    ‍<strong>site:greenhouse.io front developer css react tailwindcss</strong>
                  </li><li>‍<strong>site:greenhouse.io web designer framer</strong></li>
                </ul><p>
                  Prefira usar a palavra-chave estritamente utilizada para especificar aquela vaga:<strong
                    >‍</strong
                  >
                </p><ul>
                  <li>‍<strong>site:greenhouse.io &quot;tailwind&quot;</strong></li><li>
                    <strong>site:greenhouse.io &quot;framer&quot;</strong>
                  </li>
                </ul><p>
                  Ao refinar a busca de um termo pela especialidade, você poderá eliminar todas as
                  chances de confusão que o recrutador possa ter feito com outros erros,
                  simplesmente ignorando-os.
                </p><p>‍</p><p>
                  Observe que a mesma busca pode ser usada com base na lista das plataformas acima:
                </p><pre
                  contenteditable="false"
                  class="w-code-block"
                  style="display:block;overflow-x:auto;background:#2b2b2b;color:#f8f8f2;padding:0.5em"><code class="language-python" style="white-space:pre"><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">1</span><span>site:jobs.lever.co </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">2</span><span>site:jobs.ashbyhq.com </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">3</span><span>site:jobs.smartrecruiters.com </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">4</span><span>site:icims.com </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">5</span><span>site:gohire.io </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">6</span><span>site:jobvite.com </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">7</span><span>site:breezy.hr </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">8</span><span>site:greenhouse.io </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">9</span><span>site:bamboohr.com </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">10</span><span>site:workable.com </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">11</span><span>site:recruitee.com </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">12</span><span>site:ats.comparably.com </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">13</span><span>site:applytojob.com </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">14</span><span>site:freshteam.com </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">15</span><span>site:app.dover.io </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">16</span><span>site:pinpointhq.com </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">17</span><span>site:personio.com </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">18</span><span>site:briohr.com </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">19</span><span>site:rippling-ats.com </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">20</span><span>site:startup.jobs </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">21</span><span>site:jobs.prometeotalent.com </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">22</span><span>site:teamtailor.com </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">23</span><span>site:workday.com </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">24</span><span>site:pageuppeople.com </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">25</span><span>site:cegid.com </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">26</span><span>site:welcomekit.co </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">27</span><span>site:zohorecruit.com </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">28</span><span>site:recruit.zoho.com </span><span style="color:#abe338">&quot;tailwind&quot;</span><span>
</span><span class="comment linenumber react-syntax-highlighter-line-number" style="display:inline-block;min-width:2.25em;padding-right:1em;text-align:right;user-select:none">29</span><span>site:wellfound.com </span><span style="color:#abe338">&quot;tailwind&quot;</span></code></pre><h3
                >
                  Final Combo - Busca Avançada (Exclusividade #JNG)
                </h3><p>
                  Essa é a junção de todas as técnicas anteriores. Basicamente, é uma combinação de
                  pesquisa com OR e AND no Google, filtrando sua especialidade em todos os sites de
                  ATS que mapeamos.
                </p><p>
                  Através dessa técnica, você conseguirá extrair o máximo do resultado das buscas
                  que apresentamos até então.
                </p><h4>
                  <strong>Exemplo 1:</strong> Combo FINAL com todas as regras aplicadas:
                </h4><pre
                  contenteditable="false"
                  class="w-code-block"
                  style="display:block;overflow-x:auto;background:#2b2b2b;color:#f8f8f2;padding:0.5em"><code class="language-javascript" style="white-space:pre"><span>(site:jobs.lever.co) AND (engineer OR developer OR software) AND (react OR vue OR python) AND (frontend OR front-end OR front) AND (</span><span style="color:#abe338">&quot;Remote&quot;</span><span> OR </span><span style="color:#abe338">&quot;Latin America&quot;</span><span> OR </span><span style="color:#abe338">&quot;Latam&quot;</span><span> OR </span><span style="color:#abe338">&quot;Brazil&quot;</span><span>)</span></code></pre><p
                >
                  Vamos quebrar o exemplo para entender melhor. Cada par de parênteses () representa
                  uma condição AND, enquanto o símbolo | representa uma condição OR. Isso significa
                  que estamos limitando e expandindo nossa pesquisa ao mesmo tempo.
                </p><p>Vamos detalhar as regras para que você entenda melhor:</p><ul>
                  <li>
                    ‍<strong>(site:jobs.lever.co)</strong> 👈🏼 Limitamos pelos domínios que queremos
                  </li><li>
                    ‍<strong>(engineer | developer | software)</strong> 👈🏼 adicionamos algumas palavras-chave
                    relacionada ao nosso tipo de emprego
                  </li><li>
                    ‍<strong>(react | vue | python)</strong> 👈🏼 adicionarmos a tech stack
                  </li><li>
                    (frontend | front-end | front) 👈🏼 mais possíveis palavras-chaves específicas da
                    posição de programador frontend
                  </li><li>
                    ‍<strong
                      >(&quot;Remote&quot; | &quot;Latin America&quot; | &quot;Latam&quot; |
                      &quot;Brazil&quot;)</strong
                    > 👈🏼 limitamos a busca para pegar ao máximo o possível as vagas que aceitam Brasileiros.
                  </li>
                </ul><h4>Exemplo 2</h4><p>
                  Esta é a versão completa da qual você deve copiar, colar e mudar as palavras-chave
                  de acordo com a sua posição almejada.
                </p><pre
                  contenteditable="false"
                  class="w-code-block"
                  style="display:block;overflow-x:auto;background:#2b2b2b;color:#f8f8f2;padding:0.5em"><code class="language-javascript" style="white-space:pre"><span>(site:jobs.lever.co OR site:jobs.ashbyhq.com OR site:jobs.smartrecruiters.com OR site:icims.com OR site:gohire.io OR site:jobvite.com OR site:breezy.hr OR site:greenhouse.io OR site:bamboohr.com OR site:workable.com OR site:recruitee.com OR site:ats.comparably.com OR site:applytojob.com OR site:freshteam.com OR site:app.dover.io OR site:teamtailor.com OR site:pinpointhq.com OR site:personio.com OR site:briohr.com OR site:rippling-ats.com OR site:startup.jobs OR site:jobs.prometeotalent.com OR site:teamtailor.com OR site:workday.com OR site:pageuppeople.com OR site:cegid.com OR site:welcomekit.co OR site:zohorecruit.com OR site:recruit.zoho.com OR site:wellfound.com) AND (engineer OR developer OR software) AND (react OR vue OR python) AND (frontend OR front-end OR front) AND (</span><span style="color:#abe338">&quot;Remote&quot;</span><span> OR </span><span style="color:#abe338">&quot;Latin America&quot;</span><span> OR </span><span style="color:#abe338">&quot;Latam&quot;</span><span> OR </span><span style="color:#abe338">&quot;Brazil&quot;</span><span>)</span></code></pre><p
                >
                  ‍
                </p><p><strong>ATENÇÃO: NÃO MODIFIQUE A PARTE DO ATS</strong>‍</p><p>
                  Por exemplo, vamos pesquisar a mesma vaga para um designer, ficaria mais ou menos
                  assim:
                </p><pre
                  contenteditable="false"
                  class="w-code-block"
                  style="display:block;overflow-x:auto;background:#2b2b2b;color:#f8f8f2;padding:0.5em"><code class="language-javascript" style="white-space:pre"><span>(site:jobs.lever.co or site:jobs.ashbyhq.com or site:jobs.smartrecruiters.com or site:icims.com or site:gohire.io or site:jobvite.com or site:breezy.hr or site:greenhouse.io or site:bamboohr.com or site:workable.com or site:recruitee.com or site:ats.comparably.com or site:applytojob.com or site:freshteam.com or site:app.dover.io or site:teamtailor.com or site:pinpointhq.com or site:personio.com or site:briohr.com or site:rippling-ats.com or site:startup.jobs or site:jobs.prometeotalent.com or site:teamtailor.com or site:workday.com or site:pageuppeople.com or site:cegid.com or site:welcomekit.co or site:zohorecruit.com or site:recruit.zoho.com or site:wellfound.com) AND (designer or </span><span style="color:#abe338">&quot;product designer&quot;</span><span> or brand designer) AND (figma or indesign or webflow) AND (</span><span style="color:#abe338">&quot;Remote&quot;</span><span> or </span><span style="color:#abe338">&quot;Latin America&quot;</span><span> or </span><span style="color:#abe338">&quot;Latam&quot;</span><span> or </span><span style="color:#abe338">&quot;Brazil&quot;</span><span>)</span></code></pre>
              </div><div class="margin-top margin-small">
                <div class="lesson_card-meta-wrapper w-condition-invisible">
                  <div class="lesson_card-meta-user-wrapper">
                    <img
                      src="/cdn-assets/images/screenshots/examples/user-placeholder.svg"
                      loading="lazy"
                      alt=""
                      class="user-card__thumbnail is-small w-dyn-bind-empty"
                    /><div class="div-block-3">
                      <div class="text-size-medium text-weight-bold w-embed">Carta de</div><div
                        class="text-size-small w-dyn-bind-empty"
                      >
                      </div>
                    </div>
                  </div><a href="/aulas/hack-4-busca-ats#" class="w-inline-block"
                    ><div class="text-color-custom is-linkedin">
                      <div class="icon-1x1-large w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                          ><path
                            fill="currentColor"
                            d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
                          ></path></svg
                        >
                      </div>
                    </div></a
                  >
                </div>
              </div><div class="dialog-box w-condition-invisible">
                <div class="link_group">
                  <div class="icon-1x1-small w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10s10-4.486 10-10S17.514 2 12 2m0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8s8 3.589 8 8s-3.589 8-8 8"
                      ></path><path
                        fill="currentColor"
                        d="M10.707 12.293L9.414 11l1.293-1.293l-1.414-1.414L8 9.586L6.707 8.293L5.293 9.707L6.586 11l-1.293 1.293l1.414 1.414L8 12.414l1.293 1.293zm6.586-4L16 9.586l-1.293-1.293l-1.414 1.414L14.586 11l-1.293 1.293l1.414 1.414L16 12.414l1.293 1.293l1.414-1.414L17.414 11l1.293-1.293zM10 16h4v2h-4z"
                      ></path></svg
                    >
                  </div><div class="heading-style-h6">Essa aula ainda está sendo construída.</div>
                </div><div class="text-size-small">
                  Esta aula foi planejada e está sendo desenvolvida no momento. Em breve será
                  adicionada aqui.
                </div>
              </div><div class="code_block w-embed">
                <style>
                  .lesson_rich-text pre {
                    font-size: 0.875rem !important;
                    border-radius: 0.5rem;
                    margin: 1rem;
                  }

                  .lesson_rich-text .linenumber {
                    opacity: 0.25;
                  }
                </style>
              </div><div class="lesson_cta w-condition-invisible">
                <div class="heading-style-3 w-dyn-bind-empty"></div><p class="w-dyn-bind-empty">
                </p><a
                  href="/aulas/hack-4-busca-ats#"
                  class="button is-secondary w-dyn-bind-empty w-button"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><footer class="navbar-secondary_component">
  <div class="container-medium">
    <div class="nav_left-col">
      <img
        src="/cdn-assets/images/logos/companies/logo-vectors-wrapper.svg"
        loading="lazy"
        width="138.25469970703125"
        height="19.743812561035156"
        alt=""
        class="logo_image"
      />
    </div>
  </div>
</footer><!-- Google Tag Manager (noscript) -->

<!-- End Google Tag Manager (noscript) -->

<!-- ChatWOOT -->

<!--
-->

<!-- END ChatWOOT -->

<!-- MAUTIC -->

<!-- END MAUTIC -->

<!-- Declare as variáveis de configuração (não minificado) -->

<!--

  -->
