---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PublicNavbar from '../../components/PublicNavbar.astro';
import CommunityNavbar from '../../components/CommunityNavbar.astro';
---

<BaseLayout
  title={'Workshops JNG - LinkedIn (SEO) 3/4 - Seja fácil de ser localizado'}
  description={''}
  ogImage={'/cdn-assets/images/graphics/og-image.webp'}
  robots={'noindex'}
  wfPage={'657caac76d0591ff6f86e5b8'}
>
  <div class="nav_wrapper">
    <CommunityNavbar />
    <PublicNavbar />
  </div>

  <div class="content-wrapper"></div><div class="nav_right-col">
    <a href="/" class="navbar_link">Dashboard</a><a
      href="../jobs"
      class="navbar_link">Vagas</a
    ><a href="linkedin-seo-3-4-seja-facil-de-ser-localizado#" class="navbar_link is-white w-button"
      >Sair</a
    >
  </div><div class="nav_menu-button">
    <div class="icon-1x1-medium w-embed">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
        ><path fill="currentColor" d="M4 11h12v2H4zm0-5h16v2H4zm0 12h7.235v-2H4z"></path></svg
      >
    </div>
  </div></BaseLayout
><div class="embed-hidden w-embed">
  <style>
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0px 1000px #fff inset;
      -webkit-text-fill-color: #0071ff;
    }
  </style>
</div><div class="logout-code w-embed w-script"></div><div
  data-w-id="7ed6ea69-8ce5-677c-3dcb-160f5da98a7d"
  class="nav_close-overlay"
>
</div><div data-ms-content="!community" class="public_nav">
  <div class="navbar--blue--primary">
    <div class="navbar_wrapper">
      <div class="navbar_container">
        <a href="https://www.jobnagringa.com.br/" class="navbar_logo w-inline-block"
          ><img
            src="/cdn-assets/images/logos/logo-vectors-wrapper.svg"
            loading="lazy"
            width="138.25469970703125"
            height="19.743812561035156"
            alt=""
            class="logo_image hide-tablet"
          /><img
            src="/cdn-assets/images/logos/logo-small-white.svg"
            loading="lazy"
            alt=""
            height="0"
            class="logo_image hide-desktop"
          /></a
        ><div class="navbar_link-wrap">
          <a
            href="http://accounts.jobnagringa.com.br/sign-in?redirect_url=https://jobnagringa.com.br"
            class="navbar_link w-inline-block"><div>Vagas</div></a
          ><a href="https://www.jobnagringa.com.br/blog" class="navbar_link w-inline-block"
            ><div>Blog</div></a
          ><a
            href="http://accounts.jobnagringa.com.br/sign-in?redirect_url=https://jobnagringa.com.br/redirect/zap-channel"
            target="_blank"
            class="navbar_link w-inline-block"><div>Grupo Whats</div></a
          ><a
            href="http://accounts.jobnagringa.com.br/sign-in?redirect_url=https://link.jobnagringa.com.br/discord"
            target="_blank"
            class="navbar_link w-inline-block"><div>Discord</div></a
          >
        </div><div class="navbar_button-wrap">
          <a href="../index" class="navbar_link w-inline-block"><div>Assine</div></a><a
            href="https://accounts.jobnagringa.com.br/sign-in?redirect_url=https://jobnagringa.com.br/"
            class="navbar_link is-white w-inline-block"><div>Login</div></a
          ><div class="navbar_mobile-menu">
            <div class="icon-1x1-medium w-embed">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                ><path
                  fill="currentColor"
                  d="M2 4.75A.75.75 0 0 1 2.75 4h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 4.75m0 5A.75.75 0 0 1 2.75 9h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 9.75M2.75 14a.75.75 0 0 0 0 1.5h14.5a.75.75 0 0 0 0-1.5z"
                ></path></svg
              >
            </div>
          </div>
        </div>
      </div>
    </div><div class="w-embed">
      <style>
        .item__arrow {
          display: none;
        }

        .w--current .item__arrow {
          display: flex;
        }
      </style>
    </div><div class="hide-desktop"><div class="spacer-xlarge"></div></div>
  </div>
</div>
<div class="section-lesson-unbind">
  <div class="padding-section-small">
    <div class="padding-global">
      <div class="container-large">
        <div class="lesson_container">
          <div class="sidebar__wrapper is-top-padding">
            <div class="hide-tablet">
              <a href="../course" class="link-return is-margin-05 w-inline-block"
                ><div class="button is-icon-only is-small">
                  <div class="icon-1x1-small w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1rem"
                      height="1rem"
                      viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M21 11H6.414l5.293-5.293l-1.414-1.414L2.586 12l7.707 7.707l1.414-1.414L6.414 13H21z"
                      ></path></svg
                    >
                  </div>
                </div><div class="w-embed">Volte para o Módulo 4</div></a
              >
            </div><div class="lesson_sidebar">
              <div class="course_sidebar-title-copy">
                <div class="text-size-small">Esta é uma aula do módulo:</div><a
                  href="/modulo/linkedin.html"
                  class="w-inline-block"
                  ><div class="course_content-heading w-embed">
                    M4&nbsp&nbsp✦&nbsp&nbspPersonal Branding - LinkedIn SEO &amp; CV
                  </div></a
                ><div class="text-size-small">
                  Agora que você tem as vagas e os contatos certos, você precisa SER A PESSOA CERTA.
                  Mas como você sabe, existe uma diferença entre ser bom e parecer bom. O que é
                  melhor? Nenhum. Ambos são igualmente importantes e a gente diz por quê.
                </div>
              </div><div class="lesson-card_list-wrapper w-dyn-list">
                <div role="list" class="card-row_list is-no-border w-dyn-items">
                  <div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/quem-e-bom-fala-menos-e-mostra-mais.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A1&nbsp&nbsp✦&nbsp&nbspQuem é bom fala menos e mostra mais
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/linkedin-seo-1-4-seja-o-candidato-perfeito-para-headhunters-e-recruiters.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A2&nbsp&nbsp✦&nbsp&nbspLinkedIn (SEO) 1/4 - Seja o candidato perfeito
                            para headhunters e recruiters
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/linkedin-seo-2-4-foto-e-capa-importam.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A3&nbsp&nbsp✦&nbsp&nbspLinkedIn (SEO) 2/3 - Foto e Capa Importam
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/linkedin-seo-3-4-seja-facil-de-ser-localizado.html"
                      aria-current="page"
                      class="lesson-card_row is-underline w-inline-block w--current"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A4&nbsp&nbsp✦&nbsp&nbspLinkedIn (SEO) 3/4 - Seja fácil de ser localizado
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/linkedin-seo-4-4-ative-seu-perfil-em-ingles-como-traduzir-o-perifl.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A5&nbsp&nbsp✦&nbsp&nbspLinkedIn (SEO) 4/4 - Prepare seu Perfil em Inglês
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/curriculo-existe-o-jeito-certo-de-fazer.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A6&nbsp&nbsp✦&nbsp&nbspResume - Existe o jeito certo de fazer
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/estrategia-de-portfolio-para-devs.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A7&nbsp&nbsp✦&nbsp&nbspEstratégia de Portfólio Para Devs
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/estrategia-de-portfolio-para-designers.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A8&nbsp&nbsp✦&nbsp&nbspEstratégia de Portfólio para Designers
                          </div>
                        </div>
                      </div></a
                    >
                  </div>
                </div>
              </div>
            </div><a
              href="linkedin-seo-3-4-seja-facil-de-ser-localizado#"
              class="card-content is-vertical-small-padding-small w-inline-block"
              ><img
                src="/cdn-assets/images/graphics/graphic-img_bills.webp"
                loading="lazy"
                sizes="(max-width: 800px) 100vw, 800px"
                srcset="/cdn-assets/images/graphics/graphic-img_bills-73.webp 500w, /cdn-assets/images/graphics/graphic-img_bills.webp 800w"
                alt=""
                class="card_thumbnail is-small"
              /><h3 class="heading-style-h5">Job Boards Repo</h3><div class="text-size-small">
                Descubra quais empresas gringas já contrataram brasileiros e quais vagas elas têm
                disponíveis no momento.
              </div><div class="margin-top margin-tiny">
                <div class="text-size-small text-color-primary">Acesse o Repositório</div>
              </div></a
            ><a
              href="linkedin-seo-3-4-seja-facil-de-ser-localizado#"
              class="card-content is-vertical-small-padding-small w-inline-block"
              ><img
                src="/cdn-assets/images/graphics/graphic-img_brain.webp"
                loading="lazy"
                sizes="(max-width: 800px) 100vw, 800px"
                srcset="/cdn-assets/images/graphics/graphic-img_brain-36.webp 500w, /cdn-assets/images/graphics/graphic-img_brain.webp 800w"
                alt=""
                class="card_thumbnail is-small"
              /><h3 class="heading-style-h5">Q&amp;A Repo (Disponível em breve)</h3><div
                class="text-size-small"
              >
                Navegue por uma curadoria completa de perguntas e respostas de entrevistas técnicas
                e não-técnicas pra você chegar afiado(a).
              </div><div class="margin-top margin-tiny">
                <div class="text-size-small text-color-primary">Acesse o Repositório</div>
              </div></a
            >
          </div><div class="hide-desktop">
            <a href="../index#modulos" class="link-return is-margin-05 w-inline-block"
              ><div class="button is-icon-only is-small">
                <div class="icon-1x1-small w-embed">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1rem"
                    height="1rem"
                    viewBox="0 0 24 24"
                    ><path
                      fill="currentColor"
                      d="M21 11H6.414l5.293-5.293l-1.414-1.414L2.586 12l7.707 7.707l1.414-1.414L6.414 13H21z"
                    ></path></svg
                  >
                </div>
              </div><div class="w-embed">Volte para o Módulo 4</div></a
            >
          </div><div class="lesson_body">
            <div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path
                      fill="currentColor"
                      d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-6-2h4V14h-4zm-4 2H2V18h8z"
                    ></path></svg
                  >
                </div><div class="heading-style-h6">Conteúdo Introdutório</div>
              </div><div class="text-size-small">
                Se você já é um usuário ativo de ChatGPT, esta aula introdutória pode soar um tédio.
                Acesse conteúdos mais avançados e interessantes no painel ao lado.
              </div>
            </div><div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path
                      fill="currentColor"
                      d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"></path></svg
                  >
                </div><div class="heading-style-h6">Conteúdo Intermediário</div>
              </div><div class="text-size-small">
                Ideal para quem está explorando possibilidades com a ferramenta. Lembre-se: você
                pode obter resultados diferentes daqueles aqui reproduzidos.
              </div>
            </div><div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path fill="currentColor" d="M30 30h-8V4h8zm-10 0h-8V12h8zm-10 0H2V18h8z"
                    ></path></svg
                  >
                </div><div class="heading-style-h6">Conteúdo Avançado</div>
              </div><div class="text-size-small">
                Ideal para quem já tem domínio da ferramenta e busca integrações e engenharia de
                prompts.
              </div>
            </div><div id="cms-content" class="course_content-description is-contained">
              <div class="lesson_breadcrumbs is-wrapped">
                <a href="../course" class="link_group is-small w-inline-block"
                  ><div class="icon-1x1-small w-embed">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M12.74 2.32a1 1 0 0 0-1.48 0l-9 10A1 1 0 0 0 3 14h2v7a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-7h2a1 1 0 0 0 1-1a1 1 0 0 0-.26-.68z"
                      ></path></svg
                    >
                  </div><div>#JNG</div></a
                ><div class="text-color-light-gray">/</div><a
                  href="/modulo/linkedin.html"
                  class="breadcrumb_link w-inline-block"><div class="w-embed">M4</div></a
                ><div class="text-color-light-gray">/</div><a
                  href="/linkedin-seo-3-4-seja-facil-de-ser-localizado.html"
                  aria-current="page"
                  class="breadcrumb_link w-inline-block w--current"
                  ><div>LinkedIn (SEO) 3/4 - Seja fácil de ser localizado</div></a
                >
              </div><div class="lesson_video-wrapper">
                <div class="lesson_video-embed w-embed w-iframe">
                  <div style="position:relative;padding-top:56.25%;">
                    <iframe
                      id="panda-1c904ce2-16d6-4d78-90df-24c91805e543"
                      src="https://player-vz-7d355ab5-ed5.tv.pandavideo.com.br/embed/?v=1c904ce2-16d6-4d78-90df-24c91805e543"
                      style="border:none;position:absolute;top:0;left:0;"
                      allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture"
                      allowfullscreen="true"
                      width="100%"
                      height="100%"
                      fetchpriority="high"></iframe>
                  </div>
                </div>
              </div><h1 class="single-lesson_title">
                LinkedIn (SEO) 3/4 - Seja fácil de ser localizado
              </h1><div class="lesson_card-meta-wrapper w-condition-invisible">
                <div class="lesson_card-meta-user-wrapper">
                  <img
                    src="/cdn-assets/placeholder.60f9b1840c.svg"
                    loading="lazy"
                    alt=""
                    class="user-card__thumbnail is-small w-dyn-bind-empty"
                  /><div class="div-block-3">
                    <div class="text-size-medium text-weight-bold w-embed">Carta de</div><div
                      class="w-dyn-bind-empty"
                    >
                    </div>
                  </div>
                </div><a
                  href="linkedin-seo-3-4-seja-facil-de-ser-localizado#"
                  class="w-inline-block"
                  ><div class="text-color-custom is-linkedin">
                    <div class="icon-1x1-large w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1em"
                        height="1em"
                        viewBox="0 0 24 24"
                        ><path
                          fill="currentColor"
                          d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
                        ></path></svg
                      >
                    </div>
                  </div></a
                >
              </div><div class="lesson_meta-date">
                <div>Este conteúdo foi atualizado em</div><div>07/2024</div>
              </div><div class="lesson_rich-text w-richtext">
                <p>
                  Pra quem não sabe, SEO (Search Engine Optimization) significa optimização de
                  mecanismo de busca. Long story short, significa você conseguir fazer o uso das
                  palavras certas, do jeito certo, no lugar certo.
                </p><p>No LinkedIn isso significa você aperfeiçoar:</p><p>‍</p><h3>
                  Co<em>n</em>figure o Nome
                </h3><p>
                  Esse é um assunto sensível, mas existem nomes que são simplesmente muito difíceis
                  de serem LEMBRADOS. Por isso o Gabriel Bortolot, autor no #jobnagringa, é chamado
                  de Gabe Bo. Ele simplesmente fez uma escolha entre usar seu nome original ou um
                  “nome profissional”, ou seja, que seja fácil de memorizar e mais popular
                  internacionalmente. Você não vai querer que seu nome seja um impeditivo na hora
                  das pessoas te acharem, por isso, se você se sentir à vontade, tenha um codinome
                  fácil de ser encontrado e memorável.
                </p><p>
                  Outro exemplo: Mykhailo é um nome estrangeiro difícil de ser lembrado e
                  pronunciado, principalmente para americanos. Traduzido do russo, este nome em
                  inglês é Michael, no Brasil, Miguel. Por isso uma boa alternativa neste caso é
                  adaptar o nome de perfil, por exemplo:
                </p><ul role="list">
                  <li>DE: Mykhailo Menezes</li><li>PARA: Mykhailo (Michael) Menezes</li>
                </ul><p>‍</p><h3>Configure a Minibio</h3><figure
                  style="max-width:1048pxpx"
                  class="w-richtext-align-fullwidth w-richtext-figure-type-image"
                >
                  <div>
                    <img
                      src="/cdn-assets/images/screenshots/screenshot-2024-01-05-222919.webp"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                </figure><p>
                  Esse espaço é o primeiro contato que alguém terá com a sua função, é a primeira
                  associação que será feita entre o seu nome e o que você faz. Essa parte pode ser
                  usada de muitas formas criativas, mas o que recomendamos é que você demonstre de
                  forma breve E ESPECÍFICA: qual sua função ou cargo e a sua atuação na comunidade e
                  outras empresas(caso tenha alguma).
                </p><p>A estrutura, portanto, fica assim:</p><blockquote>
                  [CARGO] + [TECNOLOGIA ESPECIFICA] + [EMPRESA] + [DEMAIS ATIVIDADES]
                </blockquote><p>Exemplos:</p><ul role="list">
                  <li>Senior Product Owner at Company &amp; Writer at Product Magazine</li><li>
                    Webflow Designer at BeatStars. Making Creative accessible for creatives.
                  </li><li>Senior Front-End Developer @ Flatirons | React Native | NextJS</li>
                </ul><p>‍</p><h3>Configure seu About (O mais importante de todos)</h3><p>
                  Esse é de longe a seção mais importante e mais subestimada do LinkedIn. Ele é a
                  seção que segundo nossos seguidores mais surtem resultado na hora de SEREM
                  ENCONTRADOS por recrutadores. Existem algumas dicas importantes aqui:
                </p><ol start="1" role="list">
                  <li>Mantenha sempre seu about conciso.</li><li>
                    Essa é uma parte do seu perfil que o recrutador quer identificar se você é um
                    bom fit pra empresa
                  </li><li>
                    O recrutador lê muitos perfis por dia e lerá seu about em alguns segundos.
                  </li><li>Faça portanto um texto fácil de ser digerido visualmente.</li><li>
                    Use a estrutura abaixo:
                  </li>
                </ol><blockquote>
                  [Pequena Descrição: até 3 linhas]<br />[Lista de Hardskills]<br />[Lista de
                  Softskills]
                </blockquote><p>‍</p><p>Você pode usar o nosso como inspiração:</p><figure
                  style="max-width:1231pxpx"
                  class="w-richtext-align-fullwidth w-richtext-figure-type-image"
                >
                  <div>
                    <img
                      src="/cdn-assets/images/screenshots/screenshot-2024-01-24-232618.webp"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                </figure><p>‍</p><p>‍</p><h3>Configure os Links destacados</h3><p>
                  A seção destaques é o primeiro contato que o recrutador terá com seu trabalho.
                  Aqui ele deverá encontrar tudo que ele precisa para te conhecer: currículo,
                  portfólio, Github e cases. Simples, direto e objetivo. Com essa seção organizada,
                  você ganhará pontos e economizará tempo do recrutador.
                </p><figure
                  style="max-width:1230pxpx"
                  class="w-richtext-align-fullwidth w-richtext-figure-type-image"
                >
                  <div>
                    <img
                      src="/cdn-assets/6598ae3f5c7496284793692c_Untitled%20(24).webp"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                </figure><p>‍</p><h2>Crie Publicações</h2><p>
                  O Linkedin é uma das plataformas mais fáceis para você criar a gerenciar audiência
                  no mercado simplesmente porque através dela você tem essas vantagens:
                </p><ul role="list">
                  <li>Você consegue agregar muitos seguidores com apenas um post;</li><li>
                    Existem poucas pessoas compartilhando conteúdo criativo;
                  </li><li>Um post do Linkedin gera engajamento por semanas, às vezes meses;</li><li
                  >
                    Você não precisa ter um grande público para alcançar um bom número de pessoas;
                  </li>
                </ul><p>
                  Existem muitas pessoas que literalmente do dia pra noite conseguem gerar centenas
                  ou milhares de seguidores e engajamento simplesmente porque entregaram um conteúdo
                  de muito valor para a comunidade;
                </p><p>‍</p><h3>A receita do post viral</h3><p>
                  Se você nos segue no LinkedIn muito provavelmente sabe que nós do #jobnagringa,
                  Paulo Luan e Gabe Bo conseguem viralizar muitos posts. Quase semanalmente,
                  postamos conteúdos que geram dezenas de milhares de engajamento. A gente
                  compartilha o segredo com vocês:
                </p><ol role="list">
                  <li>Selecione um <strong>TÓPICO</strong> que:</li><li>
                    Já viralizou em outra língua;
                  </li><li>Já viralizou em outra plataforma;</li><li>
                    Já viralizou em outro formato (tipo Youtube ou TikTok);
                  </li><li>Já viralizou na internet;</li><li>
                    Crie um <strong>TÍTULO CHAMATIVO (HEADLINE)</strong>As primeiras duas linhas de
                    um post do LinkedIn são as decisivas para atrair atenção. Quanto mais
                    provocativo, engraçado e intrigante, melhor. E lembre-se, seja sempre
                    respeitoso.
                  </li><li>
                    Escreva o <strong>CORPO DO TEXTO DE FORMA ESTRUTURADA</strong> em tópicos como esse
                    aqui:[COLAR IMAGEM]
                  </li><li>
                    <strong>IMAGEM</strong> - Há pessoas que dizem que postar imagem ajuda, mas isso depende
                    do quanto a sua imagem contextualiza o que você vai escrever e o quanto ela é chamativa.
                    MEMEs muito criativos podem funcionar. Mas no geral não percebemos diferenças substanciais
                    no uso de imagens ao criarmos posts.
                  </li><li>
                    <strong>USE HUMOR E SEJA DIDÁTICO</strong> - O LinkedIn é uma plataforma lotada de
                    informações deprimentes para muita gente, o que é compreensível, o mercado de trabalho
                    no Brasil não é uma maravilha. Por isso, a experiência do LinkedIn tende a ser uma
                    timeline cheio de pessoas pedindo de emprego. O seu post pode se destacar tendo uma
                    abordagem diferente. Ao misturar humor e ensino, você pode ajudar muita gente a receber
                    sua informação de uma forma muito agradável. É a melhor forma de atrair seguidores:
                    ser útil e engraçado.
                  </li><li>
                    A qualidade de conteúdo do LinkedIn aqui no Brasil é um verdadeiro horror. Mas
                    você pode criar o post luz. Que vai ajudar aquelas pessoas a fazerem algo
                    especial ou resolverem um problema, ou até mesmo conseguir um emprego.
                  </li><li>
                    Como você pode ajudar alguém hoje com o que você sabe? A resposta é seu post.
                  </li>
                </ol><p>‍</p><h3>Mais Dicas Importantes</h3><ul role="list">
                  <li>
                    ✅ Não tenha medo de copiar é traduzir conteúdos. Informação boa é melhor que
                    originalidade. Mas sempre dê os créditos;
                  </li><li>
                    ✅ Provoque o diálogo. Fale de assuntos polêmicos que não envolvem
                    necessariamente política;
                  </li><li>
                    ✅ Lembre-se que quando você usa imagem, seu cabeçalho de texto será menor no
                    mobile;
                  </li><li>
                    ✅ Fale sobre carreira e trabalho, aqui não é Instagram ou Twitter;
                  </li><li>❌ Jamais fale sobre política;</li><li>
                    ❌ Nunca seja o primeiro a comentar no seu post;
                  </li><li>❌ Nunca xingue alguém;</li><li>
                    ❌ Cuidado com opiniões que possam ofender alguém;
                  </li>
                </ul><p>Veja mais detalhes nesse post:</p><p>
                  <a
                    href="https://www.linkedin.com/posts/gabebo_vaga-jobnagringa-trabalho-activity-7054780270863933441-avnR?utm_source=share&utm_medium=member_desktop"
                    >Gabe Bo on LinkedIn: #vaga #jobnagringa #trabalho #designer #linkedin #post
                    #hacks | 13 comments</a
                  >
                </p><p>‍</p><div class="w-embed w-iframe">
                  <iframe
                    src="https://www.linkedin.com/embed/feed/update/urn:li:share:7054780270406774784"
                    height="1482"
                    width="504"
                    frameborder="0"
                    allowfullscreen=""
                    title="Publicação incorporada"></iframe>
                </div><p>‍</p><h3>Configure a Experiência</h3><p>
                  A experiência é a linha do tempo onde os recrutadores avaliarão:
                </p><ul role="list">
                  <li>Por quais empresas você passou;</li><li>Quando você passou;</li><li>
                    Quanto tempo você ficou em cada uma delas;
                  </li><li>Quais cargos você assumiu</li><li>Como você se desenvolveu</li><li>
                    Quais projetos você trabalhou
                  </li>
                </ul><p>
                  Essa, portanto, é uma das seções que mais lhe tomará tempo. Pois você precisará
                  detalhar como você entregou valor e resultado para cada um dos cargos por onde
                  passou, como evoluiu e transitou entre essas experiências.
                </p><figure
                  style="padding-bottom:56.206088992974244%"
                  class="w-richtext-align-fullwidth w-richtext-figure-type-video"
                >
                  <div>
                    <iframe
                      allowfullscreen="true"
                      frameborder="0"
                      scrolling="no"
                      src="https://www.youtube.com/embed/HVr3CTGJOt4"
                      title="How To Add Experience In Linkedin Profile (2024 Update)"></iframe>
                  </div>
                </figure><h3>Prepare Depoimentos (Recomendações)</h3><p>
                  Existem poucas formas de provar que você realmente é bom no que faz. Nada melhor
                  nessas horas do que ter depoimentos. Pois é o momento que você DEIXA DE FALAR DE
                  SI E TEM ALGUÉM FALANDO POR VOCÊ. Conexões são sempre importantes e se você teve
                  uma reputação boa por onde passou e impactou pessoas, este é o lugar onde você
                  deve ter os depoimentos desses colegas.
                </p><p>Existem dois momentos bons de coletar esses depoimentos:</p><ul role="list">
                  <li>
                    Quando se time fez alguma entrega grande e importante que foi bem-sucedida;
                  </li><li>Quando você fez alguma entrega importante para seu cliente;</li>
                </ul><figure
                  style="padding-bottom:75%"
                  class="w-richtext-align-fullwidth w-richtext-figure-type-video"
                >
                  <div>
                    <iframe
                      allowfullscreen="true"
                      frameborder="0"
                      scrolling="no"
                      src="https://www.youtube.com/embed/xP8Ep4Z2OmU"
                      title="How to request a recommendation on LinkedIn"></iframe>
                  </div>
                </figure><blockquote>
                  💬 Olá [NOME DO(A) COLEGA],<br />Espero que você esteja tendo uma ótima semana!<br
                  />Tem sido muito importante para minha carreira trabalhar contigo, pois tenho
                  aprendido bastante, principalmente neste projeto [NOME DO PROJETO] que acabamos de
                  entregar.<br />Sei que sua agenda é bastante apertada, mas ainda, sim, se for
                  possível, gostaria de fazer um pequeno pedido. É muito importante para mim que meu
                  LinkedIn esteja atualizado para que eu consiga transparecer minhas habilidades e
                  experiências.<br />Por isso, ficaria muito grato, caso conseguisse escrever uma
                  recomendação sobre as minhas habilidades de [ÁREA DE ATUAÇÃO] e [ÁREA DE ATUAÇÃO
                  2, ETC].<br />Logicamente, em contrapartida, eu ficaria feliz em escrever uma
                  recomendação em troca também. Me avise caso queira que eu mencione algum aspecto
                  ou habilidade em específico na sua atuação.<br />É claro que não haverá nenhum
                  problema caso não possa. Todo mundo tem a agenda cheia e às vezes é só difícil
                  realmente escrever sobre o trabalho de alguém.<br />Obrigado(a), [SEU NOME]
                </blockquote><p>‍</p><h3>Entenda as vantagens do Perfil no Modo Creator</h3><p>
                  Entre as principais vantagens, o Modo de Criação do LinkedIn <strong
                    >permite que pessoas de fora da rede de conexões sigam a conta, destaca temas de
                    interesse e fornece acesso a ferramentas de publicação</strong
                  >.
                </p><p>‍</p><div class="w-embed">
                  <img
                    style="margin: 0 auto;"
                    src="https://images.ctfassets.net/b4k16c7lw5ut/5U8A5TMsszwKqA6yyo60qC/22b5881b9321558c7ad860ffdbf85ae3/Creator-Mode.gif"
                  />
                </div><p>‍</p><p>Como o modo creator você poderá criar:</p><ul role="list">
                  <li>
                    Tópicos de perfil - Selecionar tópicos que vão segmentar a entrega do seu
                    conteúdo;
                  </li><li>
                    Lives, newsletters e eventos em Áudio - Ótimo para compartilhar conhecimento;
                  </li><li>
                    Ter um link destacado de Seguir no Perfil (O que é super interessante para
                    destacar seu portfólio, site ou github);
                  </li><li>
                    Ter uma análise aprofundada sobre como seu conteúdo está sendo entregue à sua
                    audiência;
                  </li>
                </ul><figure
                  style="max-width:1256pxpx"
                  class="w-richtext-align-fullwidth w-richtext-figure-type-image"
                >
                  <div>
                    <img
                      src="/cdn-assets/6598b012280a758d5cad26e6_Untitled%20(25).webp"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                </figure><h2>Inspire-se em quem já ocupa o cargo dos seus sonhos</h2><p>
                  A melhor forma de chegar onde você quer é imitando as pessoas que inspiram você.
                  Isso mesmo, você não leu errado, imitando. Para fazer isso é muito simples:
                </p><ul role="list">
                  <li>Liste as empresas que você mais admira;</li><li>
                    Busque pelas pessoas que ocupam o cargo que você pessoalmente mais se
                    identifica;
                  </li><li>
                    Veja como é o perfil dessas pessoas (quais headlines, minibios, covers, como é a
                    foto);
                  </li><li>
                    Amplie a varredura: veja sobre o que elas publicam, quem elas seguem, os cursos
                    e especializações que fizeram, quais empresas trabalharam anteriormente.
                  </li><li>
                    Inspire-se no portfólio onde elas postam? No Github? No Behance? Site próprio?
                  </li>
                </ul><h3>
                  Você pode se perguntar… “Mas o fulano da empresa top não tem nada disso”
                </h3><p>
                  Bem, você talvez você não seja o fulano da empresa top. Nem talvez tenha as mesmas
                  indicações dele. Por isso, pode acontecer de você encontrar alguém que esteja no
                  cargo dos seus sonhos e não faça nada disso. Tem gente que pode. Tem gente que
                  corre. Aqui, a gente corre. Na hora da competição tudo vale. Existe coisa que só
                  mostrando…
                </p><figure
                  style="max-width:2718pxpx"
                  class="w-richtext-align-fullwidth w-richtext-figure-type-image"
                >
                  <div>
                    <img
                      src="/cdn-assets/6598b03743bc6fd02c7734ee_Untitled%20(26).webp"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                </figure><h2>Ententado o que é o LinkedIn Social Selling Index</h2><p>
                  O LinkedIn Social Selling Index (SSI) é uma métrica que avalia a eficácia e a
                  influência de um profissional ou empresa no uso do LinkedIn para vendas e
                  networking. O SSI é uma pontuação que varia de 0 a 100 e é calculada com base em
                  quatro componentes principais:
                </p><ol role="list">
                  <li>
                    <strong>Estabelecer sua marca profissional</strong>: Refere-se à eficácia do seu
                    perfil pessoal do LinkedIn em atrair e envolver sua audiência. Isso inclui ter
                    um perfil completo, com foto profissional, resumo detalhado, experiência
                    relevante e recomendações.
                  </li><li>
                    <strong>Localizar as pessoas certas</strong>: Avalia como você usa o LinkedIn
                    para encontrar e se conectar com os prospects certos para o seu negócio. Isso
                    inclui o uso de pesquisa avançada, grupos, conexões existentes e outras
                    ferramentas para identificar leads potenciais.
                  </li><li>
                    <strong>Engajar com insights</strong>: Refere-se à sua capacidade de envolver
                    sua rede por meio de compartilhamento de conteúdo relevante, comentários,
                    curtidas e mensagens. Isso demonstra sua expertise e constrói relacionamentos
                    com seus contatos.
                  </li><li>
                    <strong>Relacionar-se com os clientes</strong>: Avalia como você usa o LinkedIn
                    para construir e manter relacionamentos com seus clientes atuais, incluindo o
                    compartilhamento de conteúdo personalizado, a participação em conversas e a
                    resposta a perguntas e comentários.
                  </li>
                </ol><p>O LinkedIn Social Selling Index pode ser usado de várias maneiras:</p><ol
                  role="list"
                >
                  <li>
                    <strong>Avaliação do desempenho pessoal ou da equipe</strong>: O SSI permite que
                    os profissionais de vendas avaliem sua eficácia no uso do LinkedIn para vendas e
                    networking. Ele fornece uma medida objetiva do progresso ao longo do tempo e
                    identifica áreas de melhoria.
                  </li><li>
                    <strong>Benchmarking</strong>: Os profissionais podem usar o SSI para comparar
                    seu desempenho com seus colegas de equipe, concorrentes ou líderes do setor.
                    Isso ajuda a identificar melhores práticas e oportunidades de aprendizado.
                  </li><li>
                    <strong>Guiar estratégias de vendas e marketing</strong>: O SSI pode ajudar as
                    equipes de vendas e marketing a entender melhor como usar o LinkedIn para
                    alcançar seus objetivos. Ele fornece insights sobre áreas que precisam de mais
                    foco e recursos.
                  </li><li>
                    <strong>Desenvolvimento de habilidades</strong>: Os profissionais podem usar o
                    SSI como uma ferramenta de desenvolvimento pessoal para aprimorar suas
                    habilidades de vendas e networking no LinkedIn. Eles podem identificar áreas de
                    fraqueza e buscar treinamento ou recursos para melhorar.
                  </li>
                </ol><h3>Como Aumentar o seu SSI?</h3><p>
                  ‍<strong>Estabeleça sua marca profissional:</strong>
                </p><ul role="list">
                  <li>
                    <strong>Preencha 100% do seu perfil:</strong> Isso inclui um título atraente, um resumo
                    detalhado e seções ricas de experiência com realizações quantificáveis. Não se esqueça
                    de uma foto profissional e uma capa de fundo.
                  </li><li>
                    <strong>Exiba sua expertise:</strong> Inclua habilidades relevantes e peça recomendações
                    de conexões que possam comprovar suas habilidades. Considere fixar suas 3 principais
                    habilidades para melhor visibilidade.
                  </li><li>
                    <strong>Publique conteúdo de alta qualidade:</strong> Compartilhe artigos perspicazes,
                    atualizações do setor e seus próprios artigos de liderança inovadora para se posicionar
                    como um recurso valioso.
                  </li>
                </ul><p><strong>Amplie sua rede de contatos:</strong></p><ul role="list">
                  <li>
                    <strong>Aumente suas conexões estrategicamente:</strong> Busque pessoas do seu setor,
                    incluindo clientes potenciais, tomadores de decisão e líderes de pensamento.
                  </li><li>
                    <strong>Junte-se a grupos relevantes:</strong> Participar de discussões em grupo é
                    uma ótima maneira de se conectar com profissionais com ideias semelhantes e estabelecer
                    sua credibilidade.
                  </li>
                </ul><p><strong>Engage com sua rede:</strong></p><ul role="list">
                  <li>
                    <strong>Interaja com o conteúdo de outras pessoas:</strong> Curta, comente e compartilhe
                    regularmente postagens de sua rede. Isso fomenta o engajamento e constrói relacionamentos.
                  </li><li>
                    <strong>Contribua para discussões:</strong> Compartilhe seus insights e participe
                    de conversas do setor para demonstrar sua expertise.
                  </li><li>
                    <strong>Cultive relacionamentos:</strong> Conecte-se com seus contatos em um nível
                    pessoal. Ofereça parabéns, envie votos de aniversário e, de modo geral, mostre que
                    se importa.
                  </li>
                </ul><p><strong>Encontre as pessoas certas:</strong></p><ul role="list">
                  <li>
                    <strong>Utilize recursos de pesquisa avançada:</strong> Aproveite os filtros de pesquisa
                    do LinkedIn para segmentar dados demográficos específicos e tomadores de decisão em
                    seu nicho.
                  </li><li>
                    <strong
                      >Não adicione pessoas que não sejam estratégicas para seus objetivos:
                    </strong>Pessoas que não são relevantes para seu engajamento podem impactar seu
                    SSI.
                  </li>
                </ul><p>
                  Ao implementar essas estratégias de forma consistente, você verá um aumento
                  gradual em sua pontuação de SSI e consequentemente do número de visitas no seu
                  perfil.
                </p><p>
                  Lembre-se, o SSI é uma métrica dinâmica, portanto, o esforço contínuo é essencial
                  para manter uma pontuação alta.
                </p>
              </div><div class="margin-top margin-small">
                <div class="lesson_card-meta-wrapper w-condition-invisible">
                  <div class="lesson_card-meta-user-wrapper">
                    <img
                      src="/cdn-assets/placeholder.60f9b1840c.svg"
                      loading="lazy"
                      alt=""
                      class="user-card__thumbnail is-small w-dyn-bind-empty"
                    /><div class="div-block-3">
                      <div class="text-size-medium text-weight-bold w-embed">Carta de</div><div
                        class="text-size-small w-dyn-bind-empty"
                      >
                      </div>
                    </div>
                  </div><a
                    href="linkedin-seo-3-4-seja-facil-de-ser-localizado#"
                    class="w-inline-block"
                    ><div class="text-color-custom is-linkedin">
                      <div class="icon-1x1-large w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                          ><path
                            fill="currentColor"
                            d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
                          ></path></svg
                        >
                      </div>
                    </div></a
                  >
                </div>
              </div><div class="dialog-box w-condition-invisible">
                <div class="link_group">
                  <div class="icon-1x1-small w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10s10-4.486 10-10S17.514 2 12 2m0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8s8 3.589 8 8s-3.589 8-8 8"
                      ></path><path
                        fill="currentColor"
                        d="M10.707 12.293L9.414 11l1.293-1.293l-1.414-1.414L8 9.586L6.707 8.293L5.293 9.707L6.586 11l-1.293 1.293l1.414 1.414L8 12.414l1.293 1.293zm6.586-4L16 9.586l-1.293-1.293l-1.414 1.414L14.586 11l-1.293 1.293l1.414 1.414L16 12.414l1.293 1.293l1.414-1.414L17.414 11l1.293-1.293zM10 16h4v2h-4z"
                      ></path></svg
                    >
                  </div><div class="heading-style-h6">Essa aula ainda está sendo construída.</div>
                </div><div class="text-size-small">
                  Esta aula foi planejada e está sendo desenvolvida no momento. Em breve será
                  adicionada aqui.
                </div>
              </div><div class="code_block w-embed">
                <style>
                  .lesson_rich-text pre {
                    font-size: 0.875rem !important;
                    border-radius: 0.5rem;
                    margin: 1rem;
                  }

                  .lesson_rich-text .linenumber {
                    opacity: 0.25;
                  }
                </style>
              </div><div class="lesson_cta">
                <div class="heading-style-3">Seu Social Selling Index</div><p>
                  Cheque agora mesmo como está a sua métrica SSI no LinkedIn
                </p><a
                  href="https://www.linkedin.com/sales/ssi"
                  target="_blank"
                  class="button is-secondary w-button">Checar meu SSI</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><footer class="navbar-secondary_component">
  <div class="container-medium">
    <div class="nav_left-col">
      <img
        src="/cdn-assets/images/logos/logo-vectors-wrapper.svg"
        loading="lazy"
        width="138.25469970703125"
        height="19.743812561035156"
        alt=""
        class="logo_image"
      />
    </div>
  </div>
</footer><!-- Google Tag Manager (noscript) -->

<!-- End Google Tag Manager (noscript) -->

<!-- ChatWOOT -->

<!--
-->

<!-- END ChatWOOT -->

<!-- MAUTIC -->

<!-- END MAUTIC -->

<!-- Declare as variáveis de configuração (não minificado) -->

<!--

  -->
