---
import BaseLayout from '@layouts/BaseLayout.astro';
import CommunityNavbar from '@components/CommunityNavbar.astro';
---

<BaseLayout
  title={'Workshops JNG - Dicas para negociaĂ§ĂŁo de salĂĄrio.'}
  description={''}
  ogImage={'/cdn-assets/images/graphics/social/og-image.avif'}
  robots={'noindex'}
  wfPage={'657caac76d0591ff6f86e5b8'}
>
  <div class="nav_wrapper">
    <CommunityNavbar />
  </div>
</BaseLayout>
<div class="section-lesson-unbind">
  <div class="padding-section-small">
    <div class="padding-global">
      <div class="container-large">
        <div class="lesson_container">
          <div class="sidebar__wrapper is-top-padding">
            <div class="hide-tablet">
              <a href="/course" class="link-return is-margin-05 w-inline-block"
                ><div class="button is-icon-only is-small">
                  <div class="icon-1x1-small w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1rem"
                      height="1rem"
                      viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M21 11H6.414l5.293-5.293l-1.414-1.414L2.586 12l7.707 7.707l1.414-1.414L6.414 13H21z"
                      ></path></svg
                    >
                  </div>
                </div><div class="w-embed">Volte para o MĂłdulo 7</div></a
              >
            </div><div class="lesson_sidebar">
              <div class="course_sidebar-title-copy">
                <div class="text-size-small">Esta Ă© uma aula do mĂłdulo:</div><a
                  href="/modulo/negociacao"
                  class="w-inline-block"
                  ><div class="course_content-heading w-embed">
                    M7&nbsp&nbspâŠ&nbsp&nbspNegociaĂ§ĂŁo - Aprenda a Fechar Bem
                  </div></a
                ><div class="text-size-small">
                  Aprenda a negociar e multiplique o seu salĂĄrio. A remuneraĂ§ĂŁo Ă© um fator enorme
                  quando se tratar de decidir entre ofertas de emprego. Essa seĂ§ĂŁo lhe dĂĄ uma
                  explicaĂ§ĂŁo minuciosa dos componentes de remuneraĂ§ĂŁo comuns na indĂșstria de
                  tecnologia.Para a nossa realidade de LATAM Ă© mais comum sua remuneraĂ§ĂŁo consistir
                  de um salĂĄrio-base e benefĂ­cios.Em startups e empresas mais consolidadas vocĂȘ
                  poderĂĄ ter uma oferta de bĂŽnus de desempenho e patrimĂŽnio/aĂ§Ă”es. Explicaremos em
                  detalhes o que sĂŁo cada um, e logo depois, iremos dar diversas dicas de negociaĂ§ĂŁo
                  salarial.
                </div>
              </div><div class="lesson-card_list-wrapper w-dyn-list">
                <div role="list" class="card-row_list is-no-border w-dyn-items">
                  <div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/entendendo-os-salarios"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A1&nbsp&nbspâŠ&nbsp&nbspEntendendo os SalĂĄrios
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/negociando-um-bom-salario"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A2&nbsp&nbspâŠ&nbsp&nbspNegociando Um Bom SalĂĄrio
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/lista-de-consideracoes"
                      aria-current="page"
                      class="lesson-card_row is-underline w-inline-block w--current"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A3&nbsp&nbspâŠ&nbsp&nbspDicas para negociaĂ§ĂŁo de salĂĄrio.
                          </div>
                        </div>
                      </div></a
                    >
                  </div>
                </div>
              </div>
            </div><a
              href="/aulas/lista-de-consideracoes#"
              class="card-content is-vertical-small-padding-small w-inline-block"
              ><img
                src="/cdn-assets/images/graphics/illustrations/graphic-img-bills.avif"
                loading="lazy"
                sizes="(max-width: 800px) 100vw, 800px"
                srcset="/cdn-assets/images/graphics/illustrations/graphic-img-bills-73.avif 500w, /cdn-assets/images/graphics/illustrations/graphic-img-bills.avif 800w"
                alt=""
                class="card_thumbnail is-small"
              /><h3 class="heading-style-h5">JobÂ Boards Repo</h3><div class="text-size-small">
                Descubra quais empresas gringas jĂĄ contrataram brasileiros e quais vagas elas tĂȘm
                disponĂ­veis no momento.
              </div><div class="margin-top margin-tiny">
                <div class="text-size-small text-color-primary">Acesse o RepositĂłrio</div>
              </div></a
            ><a
              href="/aulas/lista-de-consideracoes#"
              class="card-content is-vertical-small-padding-small w-inline-block"
              ><img
                src="/cdn-assets/images/graphics/illustrations/graphic-img-brain.avif"
                loading="lazy"
                sizes="(max-width: 800px) 100vw, 800px"
                srcset="/cdn-assets/images/graphics/illustrations/graphic-img-brain-36.avif 500w, /cdn-assets/images/graphics/illustrations/graphic-img-brain.avif 800w"
                alt=""
                class="card_thumbnail is-small"
              /><h3 class="heading-style-h5">Q&amp;AÂ Repo (DisponĂ­vel em breve)</h3><div
                class="text-size-small"
              >
                Navegue por uma curadoria completa de perguntas e respostas de entrevistas tĂ©cnicas
                e nĂŁo-tĂ©cnicas pra vocĂȘ chegar afiado(a).
              </div><div class="margin-top margin-tiny">
                <div class="text-size-small text-color-primary">Acesse o RepositĂłrio</div>
              </div></a
            >
          </div><div class="hide-desktop">
            <a href="/#modulos" class="link-return is-margin-05 w-inline-block"
              ><div class="button is-icon-only is-small">
                <div class="icon-1x1-small w-embed">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1rem"
                    height="1rem"
                    viewBox="0 0 24 24"
                    ><path
                      fill="currentColor"
                      d="M21 11H6.414l5.293-5.293l-1.414-1.414L2.586 12l7.707 7.707l1.414-1.414L6.414 13H21z"
                    ></path></svg
                  >
                </div>
              </div><div class="w-embed">Volte para o MĂłdulo 7</div></a
            >
          </div><div class="lesson_body">
            <div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path
                      fill="currentColor"
                      d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-6-2h4V14h-4zm-4 2H2V18h8z"
                    ></path></svg
                  >
                </div><div class="heading-style-h6">ConteĂșdo IntrodutĂłrio</div>
              </div><div class="text-size-small">
                Se vocĂȘ jĂĄ Ă© um usuĂĄrio ativo de ChatGPT, esta aula introdutĂłria pode soar um tĂ©dio.
                Acesse conteĂșdos mais avanĂ§ados e interessantes no painel ao lado.
              </div>
            </div><div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path
                      fill="currentColor"
                      d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"></path></svg
                  >
                </div><div class="heading-style-h6">ConteĂșdo IntermediĂĄrio</div>
              </div><div class="text-size-small">
                Ideal para quem estĂĄ explorando possibilidades com a ferramenta. Lembre-se: vocĂȘ
                pode obter resultados diferentes daqueles aqui reproduzidos.
              </div>
            </div><div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path fill="currentColor" d="M30 30h-8V4h8zm-10 0h-8V12h8zm-10 0H2V18h8z"
                    ></path></svg
                  >
                </div><div class="heading-style-h6">ConteĂșdo AvanĂ§ado</div>
              </div><div class="text-size-small">
                Ideal para quem jĂĄ tem domĂ­nio da ferramenta e busca integraĂ§Ă”es e engenharia de
                prompts.
              </div>
            </div><div id="cms-content" class="course_content-description is-contained">
              <div class="lesson_breadcrumbs is-wrapped">
                <a href="/course" class="link_group is-small w-inline-block"
                  ><div class="icon-1x1-small w-embed">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M12.74 2.32a1 1 0 0 0-1.48 0l-9 10A1 1 0 0 0 3 14h2v7a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-7h2a1 1 0 0 0 1-1a1 1 0 0 0-.26-.68z"
                      ></path></svg
                    >
                  </div><div>#JNG</div></a
                ><div class="text-color-light-gray">/</div><a
                  href="/modulo/negociacao"
                  class="breadcrumb_link w-inline-block"><div class="w-embed">M7</div></a
                ><div class="text-color-light-gray">/</div><a
                  href="/aulas/lista-de-consideracoes"
                  aria-current="page"
                  class="breadcrumb_link w-inline-block w--current"
                  ><div>Dicas para negociaĂ§ĂŁo de salĂĄrio.</div></a
                >
              </div><div class="lesson_video-wrapper w-condition-invisible">
                <div class="lesson_video-embed w-embed w-iframe">
                  <div style="position:relative;padding-top:56.25%;">
                    <iframe
                      id="panda-"
                      src="https://player-vz-7d355ab5-ed5.tv.pandavideo.com.br/embed/?v="
                      style="border:none;position:absolute;top:0;left:0;"
                      allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture"
                      allowfullscreen="true"
                      width="100%"
                      height="100%"
                      fetchpriority="high"></iframe>
                  </div>
                </div>
              </div><h1 class="single-lesson_title">Dicas para negociaĂ§ĂŁo de salĂĄrio.</h1><div
                class="lesson_card-meta-wrapper w-condition-invisible"
              >
                <div class="lesson_card-meta-user-wrapper">
                  <img
                    src="/cdn-assets/images/screenshots/examples/user-placeholder.svg"
                    loading="lazy"
                    alt=""
                    class="user-card__thumbnail is-small w-dyn-bind-empty"
                  /><div class="div-block-3">
                    <div class="text-size-medium text-weight-bold w-embed">Carta de</div><div
                      class="w-dyn-bind-empty"
                    >
                    </div>
                  </div>
                </div><a href="/aulas/lista-de-consideracoes#" class="w-inline-block"
                  ><div class="text-color-custom is-linkedin">
                    <div class="icon-1x1-large w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1em"
                        height="1em"
                        viewBox="0 0 24 24"
                        ><path
                          fill="currentColor"
                          d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
                        ></path></svg
                      >
                    </div>
                  </div></a
                >
              </div><div class="lesson_meta-date">
                <div>Este conteĂșdo foi atualizado em</div><div>07/2024</div>
              </div><div class="lesson_rich-text w-richtext">
                <h3>Coloque tudo por escrito</h3><p>
                  Anote TUDO da sua chamada telefĂŽnica com seus recrutadores porque pode ser Ăștil
                  mais tarde. Mesmo se houverem coisas que nĂŁo sejam diretamente monetĂĄrias, caso se
                  relacionem com o emprego, anote-as. Se disserem para vocĂȘ &quot;estamos
                  trabalhando em portar o front-end para Angular&quot;, anote. Se disserem a vocĂȘ
                  que tĂȘm 20 funcionĂĄrios, anote. VocĂȘ quer o mĂĄximo de informaĂ§ĂŁo possĂ­vel. VocĂȘ
                  esquecerĂĄ muita coisa e serĂĄ importante quando for informar sua decisĂŁo.
                </p><h3>Sempre deixe a porta aberta</h3><p>
                  Nunca desista do seu poder de negociaĂ§ĂŁo atĂ© estar absolutamente pronto para tomar
                  uma decisĂŁo final intencional e bem-informada. Isso significa que seu trabalho Ă©
                  atravessar quantos desses pontos de decisĂŁo forem possĂ­veis sem desistir do poder
                  de continuar negociando. Muito frequentemente, seu interlocutor tentarĂĄ induzi-lo
                  a decidir ou amarrĂĄ-lo a uma decisĂŁo com a qual vocĂȘ nĂŁo se comprometeu. VocĂȘ deve
                  manter a agressĂŁo verbal longe dessas palhaĂ§adas atĂ© que esteja realmente pronto
                  para tomar sua decisĂŁo final.
                </p><h3>InformaĂ§ĂŁo Ă© poder</h3><p>
                  Para proteger seu poder na negociaĂ§ĂŁo, vocĂȘ deve proteger a informaĂ§ĂŁo o mĂĄximo
                  possĂ­vel. Um resultado dessa regra Ă© que vocĂȘ nĂŁo deve revelar Ă s empresas o que
                  vocĂȘ estĂĄ fazendo atualmente. Por exemplo, em um determinado escritĂłrio, nĂŁo peĂ§a
                  por mais dinheiro ou patrimĂŽnio, ou qualquer coisa parecida. NĂŁo comente sobre
                  nenhum detalhe especĂ­fico da oferta, exceto para esclarecimentos. As empresas
                  perguntarĂŁo sobre sua remuneraĂ§ĂŁo atual em diferentes estĂĄgios no processo-algumas
                  antes de entrevistar vocĂȘ, algumas apĂłs decidirem a fazerem uma oferta. Mas esteja
                  atento a isso e proteja as informaĂ§Ă”es.
                </p><p>
                  &quot;Sim, [COMPANY_NAME] parece Ăłtimo! Eu realmente achei essa uma boa proposta e
                  fico feliz que vocĂȘs concordem. Nesse momento estou conversando com outras
                  empresas, nĂŁo posso falar sobre os detalhes especĂ­ficos da oferta atĂ© terminar o
                  processo e estar prĂłximo de uma decisĂŁo. Mas tenho certeza que poderemos encontrar
                  um pacote em que ambos estejamos felizes, porque eu realmente adoraria fazer parte
                  do time.&quot;
                </p><h3>Seja sempre positivo</h3><p>
                  Mesmo se a oferta for ruim, Ă© extremamente importante permanecer positivo e
                  animado com a empresa. Isso Ă© porque sua animaĂ§ĂŁo Ă© um dos seus bens mais valiosos
                  em uma negociaĂ§ĂŁo.
                </p><p>
                  Apesar do que esteja acontecendo na negociaĂ§ĂŁo, dĂȘ a empresa a impressĂŁo de que 1)
                  vocĂȘ ainda gosta da empresa, e que 2) vocĂȘ ainda estĂĄ animado em trabalhar lĂĄ,
                  mesmo se os nĂșmeros, o dinheiro ou o tempo nĂŁo estejam funcionando. Geralmente a
                  coisa mais convincente para sinalizar isso Ă© reiterar que vocĂȘ ama a missĂŁo, o
                  time ou o problema no qual estĂŁo trabalhando, e que vocĂȘ realmente quer ver as
                  coisas darem certo.
                </p><h3>NĂŁo seja o tomador de decisĂ”es</h3><p>
                  Mesmo que vocĂȘ nĂŁo se preocupe muito com o que seus amigos/famĂ­lia/marido/mĂŁe
                  pensem, ao mencionĂĄ-los, vocĂȘ nĂŁo Ă© mais a Ășnica pessoa que o recrutador precisa
                  ganhar. NĂŁo faz sentido para eles tentarem intimidar vocĂȘ; o &quot;verdadeiro
                  tomador de decisĂ”es&quot; estĂĄ alĂ©m do seu alcance. Essa Ă© uma tĂ©cnica clĂĄssica no
                  suporte ao cliente e remediaĂ§ĂŁo. A culpa nunca Ă© da pessoa no telefone, eles sĂŁo
                  apenas pobres tolos fazendo seu trabalho. A decisĂŁo nĂŁo Ă© tomada por eles. Isso
                  ajuda a neutralizar a tensĂŁo e dĂĄ mais controle da situaĂ§ĂŁo a eles.
                </p><p>
                  Eu irei examinar alguns desses detalhes e irei discuti-los com minha
                  [FAMĂLIA/AMIGOS_PRĂXIMOS/MEU(MINHA)_PARCEIRO(A)]. Irei entrar em contato com vocĂȘ
                  se tiver qualquer dĂșvida. Muito obrigado por compartilhar a boa notĂ­cia comigo, eu
                  entro em contato!
                </p><p>
                  Ă muito mais difĂ­cil pressionar alguĂ©m se nĂŁo forem os reais tomadores de decisĂŁo.
                  EntĂŁo tire proveito disso.
                </p><h3>Tenha alternativas</h3><p>
                  Se vocĂȘ jĂĄ estĂĄ trabalhando com outras empresas (o que deve acontecer se estiver
                  fazendo certo), deve entrar em contato proativamente e informĂĄ-las de que acaba de
                  receber uma oferta. Tente criar um senso de urgĂȘncia. Independente se vocĂȘ sabe a
                  data de validade, todas as ofertas expiram em algum momento, entĂŁo tire proveito
                  disso.
                </p><p>OlĂĄ [PESSOA],</p><p>
                  Eu gostaria de atualizĂĄ-lo sobre meu prĂłprio processo. Eu acabei de receber uma
                  oferta da [EMPRESA] e Ă© bem interessante. Dito isso, eu estou realmente animado
                  com [SUA EMPRESA INCRĂVEL] e eu gostaria de ver se podemos fazer isso funcionar.
                  Como meu tempo estĂĄ curto, hĂĄ algo que vocĂȘ possa fazer para agilizar o processo?
                </p><p>
                  VocĂȘ deve mencionar especificamente a empresa que te propĂŽs a oferta? Depende. Se
                  for uma empresa bem conhecida ou um concorrente, entĂŁo definitivamente mencione-a.
                  Se for uma empresa que nĂŁo tenha nome ou nĂŁo seja atrativa, vocĂȘ deve apenas dizer
                  que recebeu uma proposta. Se estiver vencendo em pouco tempo, vocĂȘ deve comentar
                  sobre isso tambĂ©m.
                </p><p>
                  De qualquer maneira, envie uma carta como essa para cada empresa com quem estiver
                  conversando. NĂŁo importa o quĂŁo inĂștil vocĂȘ pense que sua aplicaĂ§ĂŁo Ă©, vocĂȘ quer
                  enviar esse sinal para todos que estĂŁo considerando vocĂȘ no mercado.
                </p><p>
                  As empresas se preocupam que vocĂȘ tenha recebido outras propostas. Elas se
                  preocupam porque cada empresa sabe que seu prĂłprio processo Ă© turbulento e os
                  processos da maioria das outras empresas tambĂ©m sĂŁo. Mas um candidato com vĂĄrias
                  ofertas significa que elas tĂȘm vĂĄrios sinais fracos a seu favor. Ă como saber que
                  um aluno tem uma pontuaĂ§ĂŁo SAT forte, e GPA, e ganhou vĂĄrias bolsas de estudo. Ă
                  claro, ainda Ă© possĂ­vel que ele seja ignorante, mas Ă© muito mais difĂ­cil que isso
                  seja verdade.
                </p><p>
                  Isso nĂŁo significa que as empresas respondem proporcionalmente a esses sinais, ou
                  que elas nĂŁo superestimam certificados e marcas. Elas o fazem. Mas preocupar-se
                  com o fato de vocĂȘ ter outras propostas e valorizĂĄ-lo de acordo Ă© completamente
                  racional.
                </p><p>
                  Diga Ă s outras empresas que vocĂȘ recebeu ofertas. DĂȘ a elas mais sinais para que
                  saibam que vocĂȘ Ă© um candidato valioso e atraente. E entenda porque isso muda a
                  mente delas sobre entrevistar vocĂȘ.
                </p><p>
                  Seu objetivo deve ser ter o mĂĄximo de ofertas sobrepostas em simultĂąneo, se
                  possĂ­vel. Isso irĂĄ maximizar sua janela de negociaĂ§ĂŁo.
                </p><p>
                  Tenha uma forte MAAN (Melhor Alternativa de um Acordo Negociado) e comunique-o.
                </p><p>
                  Eu recebi outra proposta de [OUTRA EMPRESA] que tem o salĂĄrio muito atraente, mas
                  eu realmente adoro a missĂŁo da [SUA EMPRESA] e penso que se encaixaria melhor
                  comigo.
                </p><p>
                  TambĂ©m estou pensando em voltar para a pĂłs-graduaĂ§ĂŁo e fazer um mestrado em
                  Armarinhos PĂłs-Modernos. Estou animado com a [SUA EMPRESA] e adoraria me juntar Ă 
                  equipe, mas o pacote tem que fazer sentido se vou abrir mĂŁo de uma vida de
                  chapelaria irĂŽnica.
                </p><h3>Declare motivos para tudo</h3><p>
                  Ă uma espĂ©cie de truque do cĂ©rebro, tanto para vocĂȘ quanto para seu parceiro de
                  negociaĂ§ĂŁo. Apenas dizendo um motivo (qualquer um) torna a sua solicitaĂ§ĂŁo mais
                  humana e importante. NĂŁo Ă© vocĂȘ ser ganancioso, mas sim tentando cumprir seus
                  objetivos.
                </p><p>
                  Quanto mais inquestionĂĄvel e solidĂĄrio for o seu motivo, melhor. Se forem despesas
                  mĂ©dicas ou pagar emprĂ©stimos estudantis, ou cuidar da famĂ­lia, vocĂȘ o farĂĄ
                  lacrimejar.
                </p><p>
                  Simplesmente vĂĄ em frente, dĂȘ uma razĂŁo para tudo e vocĂȘ encontrarĂĄ recrutadores
                  mais dispostos a se tornarem seus defensores.
                </p><h3>Esteja motivado por mais do que sĂł o dinheiro</h3><p>
                  VocĂȘ deve estar motivado pelo dinheiro tambĂ©m, Ă© claro, mas deve ser uma dentre
                  vĂĄrias dimensĂ”es para as quais vocĂȘ estĂĄ otimizando. O quanto de treinamento vocĂȘ
                  terĂĄ, qual serĂĄ seu primeiro projeto, qual o time que vocĂȘ irĂĄ fazer parte, ou atĂ©
                  mesmo quem serĂĄ seu mentor-todas essas sĂŁo coisas que vocĂȘ pode e deve negociar.
                </p><p>
                  Claro, para negociar bem, vocĂȘ precisa entender as preferĂȘncias do outro lado.
                  VocĂȘ quer tornar o negĂłcio melhor para vocĂȘs dois.
                </p><h3>Entenda o que eles valorizam</h3><p>
                  Lembre-se que vocĂȘ sempre pode ter aumentos de salĂĄrio conforme continua a
                  trabalhar na empresa, mas sĂł existe um ponto no qual vocĂȘ pode ter um bĂŽnus de
                  assinatura.
                </p><p>
                  A coisa mais fĂĄcil para uma empresa dar, no entanto, sĂŁo aĂ§Ă”es (se a empresa
                  oferece aĂ§Ă”es). As empresas gostam de dar aĂ§Ă”es porque ela investe em vocĂȘ e
                  alinha os interesses. Ela tambĂ©m transfere parte de seu risco para vocĂȘ e gasta
                  menos dinheiro.
                </p><h3>Seja &quot;vencĂ­vel&quot;</h3><p>
                  Isso Ă© mais que simplesmente dar Ă  empresa a impressĂŁo de que vocĂȘ gosta dela (o
                  que vocĂȘ deveria fazer continuamente). Mais ainda, vocĂȘ deve dar a qualquer
                  empresa com a qual estĂĄ falando um caminho claro para conquistĂĄ-lo. NĂŁo engane
                  eles ou faĂ§a jogos estĂșpidos. Seja claro e inequĂ­voco com suas preferĂȘncias e
                  cronograma.
                </p><p>
                  NĂŁo desperdice seu tempo ou jogue jogos por motivos prĂłprios. Mesmo que a empresa
                  nĂŁo seja a empresa dos seus sonhos, vocĂȘ deve ser capaz de imaginar pelo menos
                  algum pacote que eles poderiam lhe oferecer e que o faria assinar. Se nĂŁo, recuse
                  educadamente.
                </p><h2>RecomendaĂ§ĂŁo de leitura: As Dez Regras da NegociaĂ§ĂŁo</h2><p>
                  Como conteĂșdo complementar, leia a postagem &quot;Ten Rules for Negotiating a Job
                  Offer&quot; <a href="http://haseebq.com/my-ten-rules-for-negotiating-a-job-offer/"
                    >Parte 1</a
                  > e <a href="https://haseebq.com/how-not-to-bomb-your-offer-negotiation/"
                    >Parte 2</a
                  >.
                </p><p>â</p>
              </div><div class="margin-top margin-small">
                <div class="lesson_card-meta-wrapper w-condition-invisible">
                  <div class="lesson_card-meta-user-wrapper">
                    <img
                      src="/cdn-assets/images/screenshots/examples/user-placeholder.svg"
                      loading="lazy"
                      alt=""
                      class="user-card__thumbnail is-small w-dyn-bind-empty"
                    /><div class="div-block-3">
                      <div class="text-size-medium text-weight-bold w-embed">Carta de</div><div
                        class="text-size-small w-dyn-bind-empty"
                      >
                      </div>
                    </div>
                  </div><a href="/aulas/lista-de-consideracoes#" class="w-inline-block"
                    ><div class="text-color-custom is-linkedin">
                      <div class="icon-1x1-large w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                          ><path
                            fill="currentColor"
                            d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
                          ></path></svg
                        >
                      </div>
                    </div></a
                  >
                </div>
              </div><div class="dialog-box w-condition-invisible">
                <div class="link_group">
                  <div class="icon-1x1-small w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10s10-4.486 10-10S17.514 2 12 2m0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8s8 3.589 8 8s-3.589 8-8 8"
                      ></path><path
                        fill="currentColor"
                        d="M10.707 12.293L9.414 11l1.293-1.293l-1.414-1.414L8 9.586L6.707 8.293L5.293 9.707L6.586 11l-1.293 1.293l1.414 1.414L8 12.414l1.293 1.293zm6.586-4L16 9.586l-1.293-1.293l-1.414 1.414L14.586 11l-1.293 1.293l1.414 1.414L16 12.414l1.293 1.293l1.414-1.414L17.414 11l1.293-1.293zM10 16h4v2h-4z"
                      ></path></svg
                    >
                  </div><div class="heading-style-h6">Essa aula ainda estĂĄ sendo construĂ­da.</div>
                </div><div class="text-size-small">
                  Esta aula foi planejada e estĂĄ sendo desenvolvida no momento. Em breve serĂĄ
                  adicionada aqui.
                </div>
              </div><div class="code_block w-embed">
                <style>
                  .lesson_rich-text pre {
                    font-size: 0.875rem !important;
                    border-radius: 0.5rem;
                    margin: 1rem;
                  }

                  .lesson_rich-text .linenumber {
                    opacity: 0.25;
                  }
                </style>
              </div><div class="lesson_cta w-condition-invisible">
                <div class="heading-style-3 w-dyn-bind-empty"></div><p class="w-dyn-bind-empty">
                </p><a
                  href="/aulas/lista-de-consideracoes#"
                  class="button is-secondary w-dyn-bind-empty w-button"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><footer class="navbar-secondary_component">
  <div class="container-medium">
    <div class="nav_left-col">
      <img
        src="/cdn-assets/images/logos/companies/logo-vectors-wrapper.svg"
        loading="lazy"
        width="138.25469970703125"
        height="19.743812561035156"
        alt=""
        class="logo_image"
      />
    </div>
  </div>
</footer><!-- Google Tag Manager (noscript) -->

<!-- End Google Tag Manager (noscript) -->

<!-- ChatWOOT -->

<!--
-->

<!-- END ChatWOOT -->

<!-- MAUTIC -->

<!-- END MAUTIC -->

<!-- Declare as variĂĄveis de configuraĂ§ĂŁo (nĂŁo minificado) -->

<!--

  -->
