---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PublicNavbar from '../../components/PublicNavbar.astro';
import CommunityNavbar from '../../components/CommunityNavbar.astro';
---

<BaseLayout
  title={'Workshops JNG - Entenda o Mercado, as Empresas e os Salários'}
  description={''}
  ogImage={'/cdn-assets/images/graphics/social/og-image.avif'}
  robots={'noindex'}
  wfPage={'657caac76d0591ff6f86e5b8'}
>
  <div class="nav_wrapper">
    <CommunityNavbar />
    <PublicNavbar />
  </div>

  <div class="content-wrapper"></div><div class="nav_right-col">
    <a href="/" class="navbar_link">Dashboard</a><a
      href="../jobs"
      class="navbar_link">Vagas</a
    ><a href="mercado#" class="navbar_link is-white w-button">Sair</a>
  </div><div class="nav_menu-button">
    <div class="icon-1x1-medium w-embed">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
        ><path fill="currentColor" d="M4 11h12v2H4zm0-5h16v2H4zm0 12h7.235v-2H4z"></path></svg
      >
    </div>
  </div></BaseLayout
>
<div class="section-lesson-unbind">
  <div class="padding-section-small">
    <div class="padding-global">
      <div class="container-large">
        <div class="lesson_container">
          <div class="sidebar__wrapper is-top-padding">
            <div class="hide-tablet">
              <a href="../course" class="link-return is-margin-05 w-inline-block"
                ><div class="button is-icon-only is-small">
                  <div class="icon-1x1-small w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1rem"
                      height="1rem"
                      viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M21 11H6.414l5.293-5.293l-1.414-1.414L2.586 12l7.707 7.707l1.414-1.414L6.414 13H21z"
                      ></path></svg
                    >
                  </div>
                </div><div class="w-embed">Volte para o Módulo 1</div></a
              >
            </div><div class="lesson_sidebar">
              <div class="course_sidebar-title-copy">
                <div class="text-size-small">Esta é uma aula do módulo:</div><a
                  href="/modulo/intro.html"
                  class="w-inline-block"
                  ><div class="course_content-heading w-embed">
                    M1&nbsp&nbsp✦&nbsp&nbspIntrodução ao Mercado Internacional
                  </div></a
                ><div class="text-size-small">
                  Neste capítulo nós abordaremos um contexto geral de mercado de como são os
                  #jobnagringa, abordaremos os principais motivos pelos quais você deve colocá-los
                  como prioridade a partir de agora na sua carreira, como funciona o recrutamento e
                  também teremos exercícios práticos para o início do planejamento da sua carreira.
                </div>
              </div><div class="lesson-card_list-wrapper w-dyn-list">
                <div role="list" class="card-row_list is-no-border w-dyn-items">
                  <div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/mercado.html"
                      aria-current="page"
                      class="lesson-card_row is-underline w-inline-block w--current"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A1&nbsp&nbsp✦&nbsp&nbspEntenda o Mercado, as Empresas e os Salários
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/como-usar-o-preparatorio-jobnagringa.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A2&nbsp&nbsp✦&nbsp&nbspComo Usar o Preparatório #jobnagringa
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/sucesso-nao-aceita-preguica-carta-do-paulo-luan.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A3&nbsp&nbsp✦&nbsp&nbspSucesso não aceita preguiça
                          </div>
                        </div>
                      </div></a
                    >
                  </div>
                </div>
              </div>
            </div><a
              href="mercado#"
              class="card-content is-vertical-small-padding-small w-inline-block"
              ><img
                src="/cdn-assets/images/graphics/illustrations/graphic-img-bills.avif"
                loading="lazy"
                sizes="(max-width: 800px) 100vw, 800px"
                srcset="/cdn-assets/images/graphics/illustrations/graphic-img-bills-73.avif 500w, /cdn-assets/images/graphics/illustrations/graphic-img-bills.avif 800w"
                alt=""
                class="card_thumbnail is-small"
              /><h3 class="heading-style-h5">Job Boards Repo</h3><div class="text-size-small">
                Descubra quais empresas gringas já contrataram brasileiros e quais vagas elas têm
                disponíveis no momento.
              </div><div class="margin-top margin-tiny">
                <div class="text-size-small text-color-primary">Acesse o Repositório</div>
              </div></a
            ><a href="mercado#" class="card-content is-vertical-small-padding-small w-inline-block"
              ><img
                src="/cdn-assets/images/graphics/illustrations/graphic-img-brain.avif"
                loading="lazy"
                sizes="(max-width: 800px) 100vw, 800px"
                srcset="/cdn-assets/images/graphics/illustrations/graphic-img-brain-36.avif 500w, /cdn-assets/images/graphics/illustrations/graphic-img-brain.avif 800w"
                alt=""
                class="card_thumbnail is-small"
              /><h3 class="heading-style-h5">Q&amp;A Repo (Disponível em breve)</h3><div
                class="text-size-small"
              >
                Navegue por uma curadoria completa de perguntas e respostas de entrevistas técnicas
                e não-técnicas pra você chegar afiado(a).
              </div><div class="margin-top margin-tiny">
                <div class="text-size-small text-color-primary">Acesse o Repositório</div>
              </div></a
            >
          </div><div class="hide-desktop">
            <a href="../index#modulos" class="link-return is-margin-05 w-inline-block"
              ><div class="button is-icon-only is-small">
                <div class="icon-1x1-small w-embed">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1rem"
                    height="1rem"
                    viewBox="0 0 24 24"
                    ><path
                      fill="currentColor"
                      d="M21 11H6.414l5.293-5.293l-1.414-1.414L2.586 12l7.707 7.707l1.414-1.414L6.414 13H21z"
                    ></path></svg
                  >
                </div>
              </div><div class="w-embed">Volte para o Módulo 1</div></a
            >
          </div><div class="lesson_body">
            <div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path
                      fill="currentColor"
                      d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-6-2h4V14h-4zm-4 2H2V18h8z"
                    ></path></svg
                  >
                </div><div class="heading-style-h6">Conteúdo Introdutório</div>
              </div><div class="text-size-small">
                Se você já é um usuário ativo de ChatGPT, esta aula introdutória pode soar um tédio.
                Acesse conteúdos mais avançados e interessantes no painel ao lado.
              </div>
            </div><div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path
                      fill="currentColor"
                      d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"></path></svg
                  >
                </div><div class="heading-style-h6">Conteúdo Intermediário</div>
              </div><div class="text-size-small">
                Ideal para quem está explorando possibilidades com a ferramenta. Lembre-se: você
                pode obter resultados diferentes daqueles aqui reproduzidos.
              </div>
            </div><div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path fill="currentColor" d="M30 30h-8V4h8zm-10 0h-8V12h8zm-10 0H2V18h8z"
                    ></path></svg
                  >
                </div><div class="heading-style-h6">Conteúdo Avançado</div>
              </div><div class="text-size-small">
                Ideal para quem já tem domínio da ferramenta e busca integrações e engenharia de
                prompts.
              </div>
            </div><div id="cms-content" class="course_content-description is-contained">
              <div class="lesson_breadcrumbs is-wrapped">
                <a href="../course" class="link_group is-small w-inline-block"
                  ><div class="icon-1x1-small w-embed">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M12.74 2.32a1 1 0 0 0-1.48 0l-9 10A1 1 0 0 0 3 14h2v7a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-7h2a1 1 0 0 0 1-1a1 1 0 0 0-.26-.68z"
                      ></path></svg
                    >
                  </div><div>#JNG</div></a
                ><div class="text-color-light-gray">/</div><a
                  href="/modulo/intro.html"
                  class="breadcrumb_link w-inline-block"><div class="w-embed">M1</div></a
                ><div class="text-color-light-gray">/</div><a
                  href="/mercado.html"
                  aria-current="page"
                  class="breadcrumb_link w-inline-block w--current"
                  ><div>Entenda o Mercado, as Empresas e os Salários</div></a
                >
              </div><div class="lesson_video-wrapper w-condition-invisible">
                <div class="lesson_video-embed w-embed w-iframe">
                  <div style="position:relative;padding-top:56.25%;">
                    <iframe
                      id="panda-"
                      src="https://player-vz-7d355ab5-ed5.tv.pandavideo.com.br/embed/?v="
                      style="border:none;position:absolute;top:0;left:0;"
                      allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture"
                      allowfullscreen="true"
                      width="100%"
                      height="100%"
                      fetchpriority="high"></iframe>
                  </div>
                </div>
              </div><h1 class="single-lesson_title">
                Entenda o Mercado, as Empresas e os Salários
              </h1><div class="lesson_card-meta-wrapper w-condition-invisible">
                <div class="lesson_card-meta-user-wrapper">
                  <img
                    src="/cdn-assets/images/screenshots/examples/user-placeholder.svg"
                    loading="lazy"
                    alt=""
                    class="user-card__thumbnail is-small w-dyn-bind-empty"
                  /><div class="div-block-3">
                    <div class="text-size-medium text-weight-bold w-embed">Carta de</div><div
                      class="w-dyn-bind-empty"
                    >
                    </div>
                  </div>
                </div><a href="mercado#" class="w-inline-block"
                  ><div class="text-color-custom is-linkedin">
                    <div class="icon-1x1-large w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1em"
                        height="1em"
                        viewBox="0 0 24 24"
                        ><path
                          fill="currentColor"
                          d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
                        ></path></svg
                      >
                    </div>
                  </div></a
                >
              </div><div class="lesson_meta-date">
                <div>Este conteúdo foi atualizado em</div><div>05/2024</div>
              </div><div class="lesson_rich-text w-richtext">
                <h2>
                  Você precisa ter ciência dos motivos de se trabalhar pra gringa. Isso será
                  importante para os momentos mais decisivos da sua jornada.
                </h2><p>‍</p>                <h3>Motivo 1. O crescimento do dólar nos últimos 30 anos</h3><figure
                  class="w-richtext-align-fullwidth w-richtext-figure-type-image"
                >
                  <div>
                    <img
                      src="/cdn-assets/images/screenshots/examples/usd-brl-exchange-rate-growth.svg"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                </figure><p>
                  Sim. O dólar vai e vem. Mas no longo prazo ele sempre foi uma moeda muito mais
                  competitiva em relação ao Real, tendo assumido uma importância grande no mercado.
                </p><p>
                  Pra efeitos de comparação é importante lembrar: um gerente de Mc Donalds em média
                  ganha muito mais que a maioria dos médicos e advogados no Brasil.
                </p><p>Euro, dólar e libra são moedas fortes.</p><p>‍</p><h3>
                  Motivo 2. Não há nada melhor que o trabalho remoto
                </h3><p>
                  Já pensou em ir trabalhar e nunca mais ter que se preocupar com 1 a 3h diárias no
                  trânsito (média de 20 dias/ano); mais poluição; café ruim; o chefe fisicamente
                  vigiando; mais chance de abuso; marmita; sujar a roupa de comida; 10 fila de
                  micro-ondas; fila de self-service; mesas de restaurantes reservadas com crachá;
                  cochilo em público; flatulência; excesso de exposição do corpo; perfumes que
                  provocam rinite; gente que cheira mais cigarro que cigarro; falatório; fofoca em
                  público; escutar de tabela papo de política; ter que se vestir (dress-code); ter
                  que se maquiar; ter que se pentear; presenciar a ostentação material do chefe;
                  presenciar o visual do chefe; presenciar o chefe desfilando como imperador; o
                  chefe stalkeando seu monitor; vaso sanitário respingado; dinâmicas de grupo;
                  arranca rabo em público; ficar longe da família; ter que fazer mudança; ter que
                  fazer mudança com a família; perder ônibus; ônibus/metrô lotado; compartilhar suor
                  de terceiros no ônibus/metrô lotado; pegar carona e rachar gasolina; ter que viver
                  na densidade demográfica; pagar zona azul; ser alvo mais fácil de piadas; o lugar
                  mais privado ser justamente o sanitário; iluminação: luz forte ou fraca? luz
                  branca ou amarela? escuro?; metodologia 5S; gente puxando conversa paralela; ter
                  mais chance de ser assaltado; aumentar os custos da empresa; fingir expressão
                  corporal de foco e comprometimento; fingir que o sono não bate depois do almoço;
                  bater ponto; cadeiras que não foram feitas pra você.
                </p><p>
                  Brincadeiras à parte, se isso não te convence de trabalhar no remoto. Nada mais
                  convence.
                </p>                <h3>Motivo 3. A disponibilidade de trabalho lá fora</h3><figure
                  class="w-richtext-align-fullwidth w-richtext-figure-type-image"
                >
                  <div>
                    <img
                      src="/cdn-assets/images/screenshots/examples/job-availability-abroad.avif"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                </figure><p>‍</p><p>
                  Abrir empresa no Brasil é um verdadeiro horror comparado com outros lugares como
                  EUA, Canadá, e União Europeia. Simplesmente porque existe um negócio chamado
                  Gestão Tributária, que nada mais é que ter uma equipe preparada para saber como e
                  quando você tem que pagar seus impostos. Sim, isso sai muito caro e faz com que
                  MUITOS EMPREGOS deixem de ser gerados, aumenta os custos de se ter uma empresa,
                  dificulta o processo de contratação, etc.
                </p><p>
                  Estar profissionalmente disponível para empresas países que conseguem ter mais
                  disponibilidade financeira para contratar, e querem contratar estrangeiros
                  remotos, é uma boa pra sua carreira.
                </p><p>‍</p><h3>Motivo 4. Alta demanda</h3><p>
                  A lógica é muito simples. Você pode estar disponível para empresas brasileiras, um
                  país. Ou você pode escolher estar disponível para qualquer lugar do mundo. Isso,
                  por si só aumenta sua chance quase que infinitamente. Sim, a competitividade
                  também aumenta. Mas a alta demanda de profissionais sempre foi boa em países
                  desenvolvidos. E não estamos falando aqui de ser um contratado americano ou
                  europeu. Quando você pega a dinâmica de trabalho remoto internacional, você deixa
                  de ser um profissional brasileiro. Você agora é um profissional global.
                </p><p>‍</p>                <h3>Motivo 5. Posição geograficamente estratégica</h3><figure
                  class="w-richtext-align-fullwidth w-richtext-figure-type-image"
                >
                  <div>
                    <img
                      src="/cdn-assets/images/screenshots/examples/geographic-strategic-position.avif"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                </figure><p>
                  O brasileiro e sobretudo os latino-americanos tem um lugar especial no coração dos
                  norte-americanos. Não por caridade, mas por geografia mesmo.
                </p><p>
                  O Brasil compartilha o mesmo fuso-horário com muitos países americanos e
                  canadenses. Isso significa que eles conseguem criar um ambiente síncrono de
                  comunicação das pessoas de lá com as pessoas daqui. Quando eles estão acordados, a
                  gente também está e isso facilita muita coisa. Afinal, não é porque você trabalha
                  remotamente que você não vai precisar falar com pessoas.
                </p><p>
                  O grande benefício de ser brasileiro nessa hora é justamente compartilhar fuso com
                  as cidades mais economicamente importantes do mundo: Nova York, Austin, Toronto,
                  Washington, Heuston, Chicago, etc.
                </p><p>É dia lá. É dia aqui.</p><p>‍</p><h3>
                  Motivo 6. As alternativas não são tão práticas
                </h3><p>
                  Imagine um brasileiro que ganha mais de 20k por mês trabalhando no Brasil.
                </p><p>
                  Geralmente essa pessoa está assumindo cargos de altíssima responsabilidade;
                </p><p>Geralmente essa pessoa trabalha presencialmente;</p><p>
                  Geralmente essa pessoa precisa de muitíssimos anos de formação;
                </p><p>Geralmente essa pessoa é sênior e já está em fim de carreira;</p><p>
                  Quer um motivo prático? Pega a carreira de medicina…
                </p><ul role="list">
                  <li>2 anos de cursinho (R$48.000);</li><li>
                    8 anos de faculdade (R$800.000);
                  </li><li>Total = 1 década e quase R$ 1 milhão;</li><li>
                    Resultado = certamente vai ganhar 6-8k/mês em turnos de emergência no serviço
                    público;
                  </li><li>Retorno = vai demorar uns 10 anos para começar a chegar;</li>
                </ul><blockquote>
                  💡 Trabalhando remotamente para fora do país você irá investir menos tempo,
                  dinheiro, responsabilidade e certamente ganhará muito mais logo no início da sua
                  carreira.
                </blockquote><p>‍</p><h3>Motivo 7. O preço da estabilidade do serviço público</h3><p
                >
                  Qual serviço público você conhece que funciona bem? O serviço público sempre
                  reafirmou o seu estereótipo de ser uma posição “profissionalmente estagnada”. Tudo
                  é burocrático. Tudo é político. Tudo demora muito, pois eficiência está longe de
                  ser a prioridade.
                </p><p>
                  Pra além disso, os cargos que melhor pagam exigem graduação e formação de muitos
                  anos, fora o período de preparação pra passar no concurso.
                </p><p>Pegamos o primeiro cargo de diplomata no Itamaraty:</p><ul role="list">
                  <li>Exige diploma;</li><li>Muitos anos de estudos avançados;</li><li>
                    Exige inglês, espanhol e francês;
                  </li><li>Após formado você terá que morar onde a nação precisar de você;</li><li>
                    Seu salário inicial é 20k. O mesmo que um JR Dev pode ganhar na sua primeira
                    experiência.
                  </li>
                </ul><p>‍</p><h3>Motivo 8. Na gringa o leão morde muito mais leve</h3><ul
                  role="list"
                >
                  <li>
                    <strong>Recebimento Tradicional:</strong> recebimentos devem ser declarados no Imposto
                    de Renda anual. Mas também é obrigatório fazer pagamentos mensais com o <a
                      href="https://www.contratopj.com.br/carne-leao/"><em>carnê-leão</em></a
                    >. Os impostos podem chegar a <strong>27,5%</strong>;
                  </li><li>
                    <strong>Recebimento como PJ:</strong> abrir um CNPJ e declarar os recebimentos como
                    faturamento da sua empresa. O imposto será entre <strong>6% e 10% ao mês</strong
                    >, semelhante ao pago pelos profissionais PJ. Para trabalhos internacionais, a <strong
                      >contribuição pode chegar até nos 3%.</strong
                    >
                  </li>
                </ul><p>
                  Sem contar que o seu dinheiro não é obrigatoriamente recolhido pelo FGTS. Você vai
                  receber seu dinheiro todo. Isso dará você autonomia (e responsabilidade) por gerir
                  suas finanças, impostos e, principalmente, aposentadoria.
                </p><p>‍</p><h3>Motivo 9. É menos difícil do que fazem parecer</h3><p>
                  Você precisa de duas coisas pra ter seu job na gringa:
                </p><ul role="list">
                  <li>Saber fazer algo bem (hardskill);</li><li>
                    Se comunicar bem em inglês (nem precisa falar maravilhosamente bem);
                  </li>
                </ul><p>Pronto. É essa a lista.</p><p>
                  Como dissemos acima, a oferta de empregos em países desenvolvidos é muito mais
                  simplificada. Existe um volume muito maior de vagas disponíveis e empresas
                  querendo gente. Empresas de todo tamanho. Sobretudo nas empresas pequenas os
                  processos de contratação tendem a ser rápidos e até mais humanos. Porque são
                  pessoas que estão lá por trás da operação para encontrar outras pessoas.
                </p><blockquote>
                  💡 Existem profissionais chamados <strong><em>headhunters</em></strong>. Eles
                  literalmente ganham dinheiro por pessoa contratada. Se você sabe resolver alguma
                  coisa bem, certamente tem um headhunter por aí louco para encaixar você em algum
                  lugar. Nós vamos mostrar mais pra frente onde e como encontrá-los!
                </blockquote><p>‍</p><h2>Tenha uma ideia dos Salários</h2><h3>
                  Quanto os brasileiros ganham no Brasil em média:
                </h3><div class="w-embed">
                  <table border="1">
                    <tr>
                      <th>Categoria</th>
                      <th>Salário</th>
                    </tr>
                    <tr>
                      <td>Estágio</td>
                      <td>R$ 1.622,80</td>
                    </tr>
                    <tr>
                      <td>Júnior</td>
                      <td>R$ 3.987,43</td>
                    </tr>
                    <tr>
                      <td>Pleno</td>
                      <td>R$ 8.023,44</td>
                    </tr>
                    <tr>
                      <td>Sênior</td>
                      <td>R$ 15.510,34</td>
                    </tr>
                    <tr>
                      <td>Outro</td>
                      <td>R$ 16.339,29</td>
                    </tr>
                  </table>
                </div><p>
                  Fonte: <a href="https://pesquisa.codigofonte.com.br/2023">Código Fonte</a>
                </p><p>‍</p>                <h3>Quanto Brasileiros ganham em média no exterior:</h3><figure
                  class="w-richtext-align-fullwidth w-richtext-figure-type-image"
                >
                  <div>
                    <img
                      src="/cdn-assets/images/graphics/illustrations/graphic-brazilian-wage.avif"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                </figure><p>‍</p><div class="w-embed">
                  <table border="1">
                    <tr>
                      <th>Posição</th>
                      <th>Salário anual em BRL</th>
                      <th>Salário mensal</th>
                    </tr>
                    <tr>
                      <td>Backend</td>
                      <td>R$ 300.000,00</td>
                      <td>R$ 25.000,00</td>
                    </tr>
                    <tr>
                      <td>Manager</td>
                      <td>R$ 435.000,00</td>
                      <td>R$ 36.250,00</td>
                    </tr>
                    <tr>
                      <td>Frontend</td>
                      <td>R$ 300.000,00</td>
                      <td>R$ 25.000,00</td>
                    </tr>
                    <tr>
                      <td>FullStack</td>
                      <td>R$ 360.000,00</td>
                      <td>R$ 30.000,00</td>
                    </tr>
                    <tr>
                      <td>Mobile</td>
                      <td>R$ 360.000,00</td>
                      <td>R$ 30.000,00</td>
                    </tr>
                    <tr>
                      <td>Product Manager</td>
                      <td>R$ 210.000,00</td>
                      <td>R$ 17.500,00</td>
                    </tr>
                  </table>
                </div><p>‍</p><p>
                  Fonte 1: <a
                    href="https://talent.nextonlabs.com/tech-salaries-and-benefits-trends-report/"
                    >NextOnLabs</a
                  >
                </p><p>
                  Fonte 2: <a
                    href="https://14573977.fs1.hubspotusercontent-na1.net/hubfs/14573977/Compesation"
                    >Compensation Report Q3</a
                  >
                </p><p>‍</p>                <h3>Quais são os salários médios nos EUA?</h3><figure
                  class="w-richtext-align-fullwidth w-richtext-figure-type-image"
                >
                  <div>
                    <img
                      src="/cdn-assets/images/graphics/illustrations/graphic-avarage-wage.avif"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                </figure><p>‍</p><p>
                  Fonte: <a href="https://www.levels.fyi/assets/pdfs/2023Report.pdf"
                    >https://www.levels.fyi/assets/pdfs/2023Report.pdf</a
                  ><br />
                </p><p>‍</p><h3>Médias Salariais no Mundo</h3><div class="w-embed">
                  <table border="1">
                    <tr>
                      <th>Country</th>
                      <th>Junior JS Developer</th>
                      <th>Middle JS Developer</th>
                      <th>Senior JS Developer</th>
                    </tr>
                    <tr>
                      <td>USA</td>
                      <td>$87,000</td>
                      <td>$93,700</td>
                      <td>$112,000</td>
                    </tr>
                    <tr>
                      <td>UK</td>
                      <td>$42,800</td>
                      <td>$50,000</td>
                      <td>$70,000</td>
                    </tr>
                    <tr>
                      <td>Sweden</td>
                      <td>$34,500</td>
                      <td>$42,500</td>
                      <td>$48,800</td>
                    </tr>
                    <tr>
                      <td>Norway</td>
                      <td>$42,000</td>
                      <td>$48,000</td>
                      <td>$60,000</td>
                    </tr>
                    <tr>
                      <td>Denmark</td>
                      <td>$46,000</td>
                      <td>$52,800</td>
                      <td>$68,700</td>
                    </tr>
                    <tr>
                      <td>Finland</td>
                      <td>$38,800</td>
                      <td>$44,500</td>
                      <td>$55,800</td>
                    </tr>
                    <tr>
                      <td>Israel</td>
                      <td>$47,000</td>
                      <td>$70,000</td>
                      <td>$91,500</td>
                    </tr>
                    <tr>
                      <td>Netherlands</td>
                      <td>$40,800</td>
                      <td>$56,600</td>
                      <td>$70,000</td>
                    </tr>
                    <tr>
                      <td>Australia</td>
                      <td>$45,000</td>
                      <td>$61,800</td>
                      <td>$70,000</td>
                    </tr>
                    <tr>
                      <td>Switzerland</td>
                      <td>$79,000</td>
                      <td>$108,000</td>
                      <td>$131,800</td>
                    </tr>
                    <tr>
                      <td>Spain</td>
                      <td>$29,000</td>
                      <td>$35,000</td>
                      <td>$41,800</td>
                    </tr>
                    <tr>
                      <td>Portugal</td>
                      <td>$20,000</td>
                      <td>$27,500</td>
                      <td>$34,000</td>
                    </tr>
                  </table>
                </div><p>‍</p><p>
                  Fonte: <a
                    href="https://qubit-labs.com/average-software-developer-salaries-salary-comparison-country/"
                    >QUBit</a
                  >
                </p><p>‍</p><h2>Pronto. Agora, você tem vários motivos!</h2><p>
                  Ter clareza sobre sua decisão é importante. É isso que vai te trazer disciplina,
                  constância e resultado (mais conhecido como sangue-nos-óio).
                </p><blockquote>
                  Afinal, ser livre não é ter liberdade sobre o que você quer fazer no agora, mas
                  sim sobre o que você quer ser e fazer do seu futuro.
                </blockquote><p>Eis o que esse método é: seu futuro.</p><p>
                  Neste futuro, você é um candidato perfeito e requisitado. Essa é a nossa
                  expectativa.
                </p>
              </div><div class="margin-top margin-small">
                <div class="lesson_card-meta-wrapper w-condition-invisible">
                  <div class="lesson_card-meta-user-wrapper">
                    <img
                      src="/cdn-assets/images/screenshots/examples/user-placeholder.svg"
                      loading="lazy"
                      alt=""
                      class="user-card__thumbnail is-small w-dyn-bind-empty"
                    /><div class="div-block-3">
                      <div class="text-size-medium text-weight-bold w-embed">Carta de</div><div
                        class="text-size-small w-dyn-bind-empty"
                      >
                      </div>
                    </div>
                  </div><a href="mercado#" class="w-inline-block"
                    ><div class="text-color-custom is-linkedin">
                      <div class="icon-1x1-large w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                          ><path
                            fill="currentColor"
                            d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
                          ></path></svg
                        >
                      </div>
                    </div></a
                  >
                </div>
              </div><div class="dialog-box w-condition-invisible">
                <div class="link_group">
                  <div class="icon-1x1-small w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10s10-4.486 10-10S17.514 2 12 2m0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8s8 3.589 8 8s-3.589 8-8 8"
                      ></path><path
                        fill="currentColor"
                        d="M10.707 12.293L9.414 11l1.293-1.293l-1.414-1.414L8 9.586L6.707 8.293L5.293 9.707L6.586 11l-1.293 1.293l1.414 1.414L8 12.414l1.293 1.293zm6.586-4L16 9.586l-1.293-1.293l-1.414 1.414L14.586 11l-1.293 1.293l1.414 1.414L16 12.414l1.293 1.293l1.414-1.414L17.414 11l1.293-1.293zM10 16h4v2h-4z"
                      ></path></svg
                    >
                  </div><div class="heading-style-h6">Essa aula ainda está sendo construída.</div>
                </div><div class="text-size-small">
                  Esta aula foi planejada e está sendo desenvolvida no momento. Em breve será
                  adicionada aqui.
                </div>
              </div><div class="code_block w-embed">
                <style>
                  .lesson_rich-text pre {
                    font-size: 0.875rem !important;
                    border-radius: 0.5rem;
                    margin: 1rem;
                  }

                  .lesson_rich-text .linenumber {
                    opacity: 0.25;
                  }
                </style>
              </div><div class="lesson_cta w-condition-invisible">
                <div class="heading-style-3 w-dyn-bind-empty"></div><p class="w-dyn-bind-empty">
                </p><a href="mercado#" class="button is-secondary w-dyn-bind-empty w-button"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><footer class="navbar-secondary_component">
  <div class="container-medium">
    <div class="nav_left-col">
      <img
        src="/cdn-assets/images/logos/companies/logo-vectors-wrapper.svg"
        loading="lazy"
        width="138.25469970703125"
        height="19.743812561035156"
        alt=""
        class="logo_image"
      />
    </div>
  </div>
</footer><!-- Google Tag Manager (noscript) -->

<!-- End Google Tag Manager (noscript) -->

<!-- ChatWOOT -->

<!--
-->

<!-- END ChatWOOT -->

<!-- MAUTIC -->

<!-- END MAUTIC -->

<!-- Declare as variáveis de configuração (não minificado) -->

<!--

  -->
