---
import BaseLayout from '@layouts/BaseLayout.astro';
import CommunityNavbar from '@components/CommunityNavbar.astro';
---

<BaseLayout
  title={'Workshops JNG - Minimize Impostos'}
  description={''}
  ogImage={'/cdn-assets/images/graphics/social/og-image.avif'}
  robots={'noindex'}
  wfPage={'657caac76d0591ff6f86e5b8'}
>
  <div class="nav_wrapper">
    <CommunityNavbar />
  </div>
</BaseLayout>
<div class="section-lesson-unbind">
  <div class="padding-section-small">
    <div class="padding-global">
      <div class="container-large">
        <div class="lesson_container">
          <div class="sidebar__wrapper is-top-padding">
            <div class="hide-tablet">
              <a href="/course" class="link-return is-margin-05 w-inline-block"
                ><div class="button is-icon-only is-small">
                  <div class="icon-1x1-small w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1rem"
                      height="1rem"
                      viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M21 11H6.414l5.293-5.293l-1.414-1.414L2.586 12l7.707 7.707l1.414-1.414L6.414 13H21z"
                      ></path></svg
                    >
                  </div>
                </div><div class="w-embed">Volte para o Mû°dulo 8</div></a
              >
            </div><div class="lesson_sidebar">
              <div class="course_sidebar-title-copy">
                <div class="text-size-small">Esta ûˋ uma aula do mû°dulo:</div><a
                  href="/modulo/contabilidade"
                  class="w-inline-block"
                  ><div class="course_content-heading w-embed">
                    M8&nbsp&nbspãÎ&nbsp&nbspContabilidade para PJs que recebem em dû°lar
                  </div></a
                ><div class="text-size-small">
                  Existem formas diferentes de vocûˆ ser contratado fora do paûÙs. Aqui vocûˆ vai ter
                  acesso a tudo que vocûˆ precisa saber para estabelecer contratos com empresas
                  estrageiras, como abrir um CNPJ para o seu contexto, como encontrar um contador
                  para sua empresa, como receber do exterior e, o melhor, como pagar menos imposto.
                </div>
              </div><div class="lesson-card_list-wrapper w-dyn-list">
                <div role="list" class="card-row_list is-no-border w-dyn-items">
                  <div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/entenda-os-modelos-de-trabalho"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A1&nbsp&nbspãÎ&nbsp&nbspEntenda os Modelos de Trabalho
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/minimize-impostos"
                      aria-current="page"
                      class="lesson-card_row is-underline w-inline-block w--current"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A2&nbsp&nbspãÎ&nbsp&nbspMinimize Impostos
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/entenda-o-cnae"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A3&nbsp&nbspãÎ&nbsp&nbspEntenda o CNAE
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/abri-a-empresa-e-agora"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A4&nbsp&nbspãÎ&nbsp&nbspAbri a Empresa. E agora?
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/o-formulario-w-8"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A5&nbsp&nbspãÎ&nbsp&nbspO FormulûÀrio W-8
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/cnpj-e-cpf---principio-de-entidade"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A6&nbsp&nbspãÎ&nbsp&nbspCNPJ e CPF - PrincûÙpio de Entidade
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/recebendo-do-exterior"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A7&nbsp&nbspãÎ&nbsp&nbspRecebendo do Exterior
                          </div>
                        </div>
                      </div></a
                    >
                  </div>
                </div>
              </div>
            </div><a
              href="/aulas/minimize-impostos#"
              class="card-content is-vertical-small-padding-small w-inline-block"
              ><img
                src="/cdn-assets/images/graphics/illustrations/graphic-img-bills.avif"
                loading="lazy"
                sizes="(max-width: 800px) 100vw, 800px"
                srcset="/cdn-assets/images/graphics/illustrations/graphic-img-bills-73.avif 500w, /cdn-assets/images/graphics/illustrations/graphic-img-bills.avif 800w"
                alt=""
                class="card_thumbnail is-small"
              /><h3 class="heading-style-h5">Jobô Boards Repo</h3><div class="text-size-small">
                Descubra quais empresas gringas jûÀ contrataram brasileiros e quais vagas elas tûˆm
                disponûÙveis no momento.
              </div><div class="margin-top margin-tiny">
                <div class="text-size-small text-color-primary">Acesse o Repositû°rio</div>
              </div></a
            ><a
              href="/aulas/minimize-impostos#"
              class="card-content is-vertical-small-padding-small w-inline-block"
              ><img
                src="/cdn-assets/images/graphics/illustrations/graphic-img-brain.avif"
                loading="lazy"
                sizes="(max-width: 800px) 100vw, 800px"
                srcset="/cdn-assets/images/graphics/illustrations/graphic-img-brain-36.avif 500w, /cdn-assets/images/graphics/illustrations/graphic-img-brain.avif 800w"
                alt=""
                class="card_thumbnail is-small"
              /><h3 class="heading-style-h5">Q&amp;Aô Repo (DisponûÙvel em breve)</h3><div
                class="text-size-small"
              >
                Navegue por uma curadoria completa de perguntas e respostas de entrevistas tûˋcnicas
                e nûÈo-tûˋcnicas pra vocûˆ chegar afiado(a).
              </div><div class="margin-top margin-tiny">
                <div class="text-size-small text-color-primary">Acesse o Repositû°rio</div>
              </div></a
            >
          </div><div class="hide-desktop">
            <a href="/#modulos" class="link-return is-margin-05 w-inline-block"
              ><div class="button is-icon-only is-small">
                <div class="icon-1x1-small w-embed">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1rem"
                    height="1rem"
                    viewBox="0 0 24 24"
                    ><path
                      fill="currentColor"
                      d="M21 11H6.414l5.293-5.293l-1.414-1.414L2.586 12l7.707 7.707l1.414-1.414L6.414 13H21z"
                    ></path></svg
                  >
                </div>
              </div><div class="w-embed">Volte para o Mû°dulo 8</div></a
            >
          </div><div class="lesson_body">
            <div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path
                      fill="currentColor"
                      d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-6-2h4V14h-4zm-4 2H2V18h8z"
                    ></path></svg
                  >
                </div><div class="heading-style-h6">Conteû¤do Introdutû°rio</div>
              </div><div class="text-size-small">
                Se vocûˆ jûÀ ûˋ um usuûÀrio ativo de ChatGPT, esta aula introdutû°ria pode soar um tûˋdio.
                Acesse conteû¤dos mais avanûÏados e interessantes no painel ao lado.
              </div>
            </div><div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path
                      fill="currentColor"
                      d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"></path></svg
                  >
                </div><div class="heading-style-h6">Conteû¤do IntermediûÀrio</div>
              </div><div class="text-size-small">
                Ideal para quem estûÀ explorando possibilidades com a ferramenta. Lembre-se: vocûˆ
                pode obter resultados diferentes daqueles aqui reproduzidos.
              </div>
            </div><div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path fill="currentColor" d="M30 30h-8V4h8zm-10 0h-8V12h8zm-10 0H2V18h8z"
                    ></path></svg
                  >
                </div><div class="heading-style-h6">Conteû¤do AvanûÏado</div>
              </div><div class="text-size-small">
                Ideal para quem jûÀ tem domûÙnio da ferramenta e busca integraûÏûçes e engenharia de
                prompts.
              </div>
            </div><div id="cms-content" class="course_content-description is-contained">
              <div class="lesson_breadcrumbs is-wrapped">
                <a href="/course" class="link_group is-small w-inline-block"
                  ><div class="icon-1x1-small w-embed">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M12.74 2.32a1 1 0 0 0-1.48 0l-9 10A1 1 0 0 0 3 14h2v7a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-7h2a1 1 0 0 0 1-1a1 1 0 0 0-.26-.68z"
                      ></path></svg
                    >
                  </div><div>#JNG</div></a
                ><div class="text-color-light-gray">/</div><a
                  href="/modulo/contabilidade"
                  class="breadcrumb_link w-inline-block"><div class="w-embed">M8</div></a
                ><div class="text-color-light-gray">/</div><a
                  href="/aulas/minimize-impostos"
                  aria-current="page"
                  class="breadcrumb_link w-inline-block w--current"><div>Minimize Impostos</div></a
                >
              </div><div class="lesson_video-wrapper w-condition-invisible">
                <div class="lesson_video-embed w-embed w-iframe">
                  <div style="position:relative;padding-top:56.25%;">
                    <iframe
                      id="panda-"
                      src="https://player-vz-7d355ab5-ed5.tv.pandavideo.com.br/embed/?v="
                      style="border:none;position:absolute;top:0;left:0;"
                      allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture"
                      allowfullscreen="true"
                      width="100%"
                      height="100%"
                      fetchpriority="high"></iframe>
                  </div>
                </div>
              </div><h1 class="single-lesson_title">Minimize Impostos</h1><div
                class="lesson_card-meta-wrapper w-condition-invisible"
              >
                <div class="lesson_card-meta-user-wrapper">
                  <img
                    src="/cdn-assets/images/screenshots/examples/user-placeholder.svg"
                    loading="lazy"
                    alt=""
                    class="user-card__thumbnail is-small w-dyn-bind-empty"
                  /><div class="div-block-3">
                    <div class="text-size-medium text-weight-bold w-embed">Carta de</div><div
                      class="w-dyn-bind-empty"
                    >
                    </div>
                  </div>
                </div><a href="/aulas/minimize-impostos#" class="w-inline-block"
                  ><div class="text-color-custom is-linkedin">
                    <div class="icon-1x1-large w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1em"
                        height="1em"
                        viewBox="0 0 24 24"
                        ><path
                          fill="currentColor"
                          d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
                        ></path></svg
                      >
                    </div>
                  </div></a
                >
              </div><div class="lesson_meta-date">
                <div>Este conteû¤do foi atualizado em</div><div>07/2024</div>
              </div><div class="lesson_rich-text w-richtext">
                <h2>
                  <strong
                    >E qual a melhor forma para pagar menos dinheiro o possûÙvel para o leûÈo e sobrar
                    mais grana para mim?</strong
                  >
                </h2><p>
                  Nossa recomendaûÏûÈo ûˋ abrindo uma empresa, seja no regime do <strong
                    >simples nacional</strong
                  > ou <strong>lucro presumido</strong>. Quem vai te mostrar a melhor opûÏûÈo ûˋ o seu <a
                    href="http://adaflow.com.br/?via=jobnagringa">contador</a
                  >, baseado na sua realidade, faturamento, ramo de atuacûÈo e etc. Se tiver dû¤vidas
                  consulte <a
                    href="https://www.youtube.com/results?search_query=simples+nacional+ou+lucro+presumido"
                    >esses conteû¤dos aqui</a
                  >.
                </p><p>
                  Lembrando que para prestar serviûÏos para o exterior vocûˆ NûO pode ser MEI, sua
                  empresa terûÀ que ser ME.
                </p><p>
                  Pode parecer trabalhoso abrir uma empresa, mas nûÈo ûˋ, e compensa MUITO (te
                  ensinaremos como abrir uma, logo abaixo).
                </p><p>
                  Quando vocûˆ abre uma empresa vocûˆ precisa de um contador que vocûˆ paga
                  mensalmente, e nûÈo tem como fugir disso.
                </p><h2><strong>E quanto isso vai me custar?</strong></h2><p>
                  O resumo da histû°ria ûˋ que vocûˆ vai pagar uns 6% de impostos + INSS + taxa do
                  contador + algumas outras taxas como prû°-labore e que no final vai dar
                  aproximadamente 10% do seu salûÀrio.
                </p><p>Se vocûˆ ganha 20 mil uns 2 mil serûÈo descontados.</p><p>
                  Isso ûˋ sû° uma estimativa mûˋdia, pode ser menos ou mais a depender do seu ramo.
                  Comparados aos 50% de imposto que vocûˆ pagaria em alguns lugares da Europa, isso ûˋ
                  um paraûÙso.
                </p><p>
                  Se vocûˆ quer ficar rico com programaûÏûÈo essa ûˋ a melhor opûÏûÈo. DûÀ pra viver como
                  um rei no Brasil, principalmente se vocûˆ focar em jobs remotos dos USA, onde vocûˆ
                  encontra os melhores salûÀrios.
                </p><h2>Criando a empresa (PJ - Pessoa JurûÙdica)</h2><p>
                  Com os conselhos que compartilharei aqui, vocûˆ vai economizar uma grana
                  considerûÀvel, poterncialmente cobrindo o investimento que vocûˆ fez neste curso
                  vûÀrias vezes.
                </p><p>O primeiro passo ûˋ abrir a PJ (pessoa jurûÙdica, vulgo empresa).</p><p>
                  û bastante simples abrir hoje em dia e o processo todo ûˋ praticamente online,
                  recomendamos fortemente que vocûˆ <a href="http://adaflow.com.br/?via=jobnagringa"
                    >clique aqui</a
                  > e crie sua empresa com a AdaFlow.
                </p><p>
                  Essa plataforma ûˋ a que mais genuûÙnamente gostamos, por alguns motivos:
                </p><ol role="list">
                  <li>Eles sûÈo especialistas em gente PJ da ûÀrea de tech;</li><li>
                    Eles sabem como fazer a sua vida ser mais simples (eles emitem notas fiscais por
                    vocûˆ, tem soluûÏûçes de endereûÏo fiscal e etc).
                  </li><li>O preûÏo compensa cada centavo.</li>
                </ol><p>Em questûÈo de custo/benefûÙcio eles sûÈo imbatûÙveis.</p><p>
                  Obviamente vocûˆ pode procurar outras alternativas se quiser, mas estarûÀ por conta
                  e risco. Essa ûˋ a nossa recomendaûÏûÈo pessoal de garantia para evitar dores de
                  cabeûÏas futuras para vocûˆ.
                </p><p>
                  <strong>Passo 1</strong>: Depois de fazer o seu cadastro no link, o contador vai
                  te pedir uma sûˋrie de documentos. Eles ficarûÈo com o trabalho pesado da papelada.
                </p><p>
                  <strong>Passo 2:</strong> Eles irûÈo te enviar um monte de documentos que vocûˆ vai ter
                  que (provavelmente) levar na junta comercial da sua cidade, assinar o que tiver que
                  assinar e seguir com os prû°ximos passos que o contador te instruir.
                </p><p>
                  PS: Pode ser que o passo 2 tenha mudado e que o processo seja menos burocrûÀtico
                  atualmente, consulte-os.
                </p><p>
                  Uma observaûÏûÈo ûˋ que o Brasil ûˋ um labirinto fiscal, entûÈo tem regiûçes do paûÙs que
                  vocûˆ paga menos ou mais impostos dependo do tipo e da ûÀrea de atuaûÏûÈo da empresa.
                </p><p>
                  Como a <a href="https://www.adaflow.com/?via=jobnagringa">AdaFlow</a> tem o serviûÏo
                  de residûˆncia fiscal inclusos, vocûˆ nûÈo vai ter a dor de cabeûÏa de ter que ficar usando
                  o endereûÏo da sua tia de SûÈo Paulo para dizer que sua empresa ûˋ de lûÀ.
                </p><p>
                  Existem alguns serviûÏos especializados nisso, chamados de ãendereûÏo virtual de
                  cnpjã, geralmente vocûˆ tem que pagar uns 200 reais por mûˆs, e eles ficam
                  responsûÀveis por serem um local ãfûÙsico-virtual-compartilhadoã para sua empresa.
                </p><p>ã</p>
              </div><div class="margin-top margin-small">
                <div class="lesson_card-meta-wrapper w-condition-invisible">
                  <div class="lesson_card-meta-user-wrapper">
                    <img
                      src="/cdn-assets/images/screenshots/examples/user-placeholder.svg"
                      loading="lazy"
                      alt=""
                      class="user-card__thumbnail is-small w-dyn-bind-empty"
                    /><div class="div-block-3">
                      <div class="text-size-medium text-weight-bold w-embed">Carta de</div><div
                        class="text-size-small w-dyn-bind-empty"
                      >
                      </div>
                    </div>
                  </div><a href="/aulas/minimize-impostos#" class="w-inline-block"
                    ><div class="text-color-custom is-linkedin">
                      <div class="icon-1x1-large w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                          ><path
                            fill="currentColor"
                            d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
                          ></path></svg
                        >
                      </div>
                    </div></a
                  >
                </div>
              </div><div class="dialog-box w-condition-invisible">
                <div class="link_group">
                  <div class="icon-1x1-small w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10s10-4.486 10-10S17.514 2 12 2m0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8s8 3.589 8 8s-3.589 8-8 8"
                      ></path><path
                        fill="currentColor"
                        d="M10.707 12.293L9.414 11l1.293-1.293l-1.414-1.414L8 9.586L6.707 8.293L5.293 9.707L6.586 11l-1.293 1.293l1.414 1.414L8 12.414l1.293 1.293zm6.586-4L16 9.586l-1.293-1.293l-1.414 1.414L14.586 11l-1.293 1.293l1.414 1.414L16 12.414l1.293 1.293l1.414-1.414L17.414 11l1.293-1.293zM10 16h4v2h-4z"
                      ></path></svg
                    >
                  </div><div class="heading-style-h6">Essa aula ainda estûÀ sendo construûÙda.</div>
                </div><div class="text-size-small">
                  Esta aula foi planejada e estûÀ sendo desenvolvida no momento. Em breve serûÀ
                  adicionada aqui.
                </div>
              </div><div class="code_block w-embed">
                <style>
                  .lesson_rich-text pre {
                    font-size: 0.875rem !important;
                    border-radius: 0.5rem;
                    margin: 1rem;
                  }

                  .lesson_rich-text .linenumber {
                    opacity: 0.25;
                  }
                </style>
              </div><div class="lesson_cta w-condition-invisible">
                <div class="heading-style-3 w-dyn-bind-empty"></div><p class="w-dyn-bind-empty">
                </p><a
                  href="/aulas/minimize-impostos#"
                  class="button is-secondary w-dyn-bind-empty w-button"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><footer class="navbar-secondary_component">
  <div class="container-medium">
    <div class="nav_left-col">
      <img
        src="/cdn-assets/images/logos/companies/logo-vectors-wrapper.svg"
        loading="lazy"
        width="138.25469970703125"
        height="19.743812561035156"
        alt=""
        class="logo_image"
      />
    </div>
  </div>
</footer><!-- Google Tag Manager (noscript) -->

<!-- End Google Tag Manager (noscript) -->

<!-- ChatWOOT -->

<!--
-->

<!-- END ChatWOOT -->

<!-- MAUTIC -->

<!-- END MAUTIC -->

<!-- Declare as variûÀveis de configuraûÏûÈo (nûÈo minificado) -->

<!--

  -->
