---
import BaseLayout from '@layouts/BaseLayout.astro';
import CommunityNavbar from '@components/CommunityNavbar.astro';
---

<BaseLayout
  title={'Workshops JNG - Quem é bom fala menos e mostra mais'}
  description={''}
  ogImage={'/cdn-assets/images/graphics/social/og-image.avif'}
  robots={'noindex'}
  wfPage={'657caac76d0591ff6f86e5b8'}
>
  <div class="nav_wrapper">
    <CommunityNavbar />
  </div>
</BaseLayout>
<div class="section-lesson-unbind">
  <div class="padding-section-small">
    <div class="padding-global">
      <div class="container-large">
        <div class="lesson_container">
          <div class="sidebar__wrapper is-top-padding">
            <div class="hide-tablet">
              <a href="/course" class="link-return is-margin-05 w-inline-block"
                ><div class="button is-icon-only is-small">
                  <div class="icon-1x1-small w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1rem"
                      height="1rem"
                      viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M21 11H6.414l5.293-5.293l-1.414-1.414L2.586 12l7.707 7.707l1.414-1.414L6.414 13H21z"
                      ></path></svg
                    >
                  </div>
                </div><div class="w-embed">Volte para o Módulo 4</div></a
              >
            </div><div class="lesson_sidebar">
              <div class="course_sidebar-title-copy">
                <div class="text-size-small">Esta é uma aula do módulo:</div><a
                  href="/modulo/linkedin.html"
                  class="w-inline-block"
                  ><div class="course_content-heading w-embed">
                    M4&nbsp&nbsp✦&nbsp&nbspPersonal Branding - LinkedIn SEO &amp; CV
                  </div></a
                ><div class="text-size-small">
                  Agora que você tem as vagas e os contatos certos, você precisa SER A PESSOA CERTA.
                  Mas como você sabe, existe uma diferença entre ser bom e parecer bom. O que é
                  melhor? Nenhum. Ambos são igualmente importantes e a gente diz por quê.
                </div>
              </div><div class="lesson-card_list-wrapper w-dyn-list">
                <div role="list" class="card-row_list is-no-border w-dyn-items">
                  <div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/quem-e-bom-fala-menos-e-mostra-mais.html"
                      aria-current="page"
                      class="lesson-card_row is-underline w-inline-block w--current"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A1&nbsp&nbsp✦&nbsp&nbspQuem é bom fala menos e mostra mais
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/linkedin-seo-1-4-seja-o-candidato-perfeito-para-headhunters-e-recruiters.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A2&nbsp&nbsp✦&nbsp&nbspLinkedIn (SEO) 1/4 - Seja o candidato perfeito
                            para headhunters e recruiters
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/linkedin-seo-2-4-foto-e-capa-importam.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A3&nbsp&nbsp✦&nbsp&nbspLinkedIn (SEO) 2/3 - Foto e Capa Importam
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/linkedin-seo-3-4-seja-facil-de-ser-localizado.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A4&nbsp&nbsp✦&nbsp&nbspLinkedIn (SEO) 3/4 - Seja fácil de ser localizado
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/linkedin-seo-4-4-ative-seu-perfil-em-ingles-como-traduzir-o-perifl.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A5&nbsp&nbsp✦&nbsp&nbspLinkedIn (SEO) 4/4 - Prepare seu Perfil em Inglês
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/curriculo-existe-o-jeito-certo-de-fazer.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A6&nbsp&nbsp✦&nbsp&nbspResume - Existe o jeito certo de fazer
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/estrategia-de-portfolio-para-devs.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A7&nbsp&nbsp✦&nbsp&nbspEstratégia de Portfólio Para Devs
                          </div>
                        </div>
                      </div></a
                    >
                  </div><div role="listitem" class="card-row_wrapper w-dyn-item">
                    <a
                      href="/aulas/estrategia-de-portfolio-para-designers.html"
                      class="lesson-card_row is-underline w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="card-row_title text-size-small w-embed">
                            A8&nbsp&nbsp✦&nbsp&nbspEstratégia de Portfólio para Designers
                          </div>
                        </div>
                      </div></a
                    >
                  </div>
                </div>
              </div>
            </div><a
              href="/aulas/quem-e-bom-fala-menos-e-mostra-mais#"
              class="card-content is-vertical-small-padding-small w-inline-block"
              ><img
                src="/cdn-assets/images/graphics/illustrations/graphic-img-bills.avif"
                loading="lazy"
                sizes="(max-width: 800px) 100vw, 800px"
                srcset="/cdn-assets/images/graphics/illustrations/graphic-img-bills-73.avif 500w, /cdn-assets/images/graphics/illustrations/graphic-img-bills.avif 800w"
                alt=""
                class="card_thumbnail is-small"
              /><h3 class="heading-style-h5">Job Boards Repo</h3><div class="text-size-small">
                Descubra quais empresas gringas já contrataram brasileiros e quais vagas elas têm
                disponíveis no momento.
              </div><div class="margin-top margin-tiny">
                <div class="text-size-small text-color-primary">Acesse o Repositório</div>
              </div></a
            ><a
              href="/aulas/quem-e-bom-fala-menos-e-mostra-mais#"
              class="card-content is-vertical-small-padding-small w-inline-block"
              ><img
                src="/cdn-assets/images/graphics/illustrations/graphic-img-brain.avif"
                loading="lazy"
                sizes="(max-width: 800px) 100vw, 800px"
                srcset="/cdn-assets/images/graphics/illustrations/graphic-img-brain-36.avif 500w, /cdn-assets/images/graphics/illustrations/graphic-img-brain.avif 800w"
                alt=""
                class="card_thumbnail is-small"
              /><h3 class="heading-style-h5">Q&amp;A Repo (Disponível em breve)</h3><div
                class="text-size-small"
              >
                Navegue por uma curadoria completa de perguntas e respostas de entrevistas técnicas
                e não-técnicas pra você chegar afiado(a).
              </div><div class="margin-top margin-tiny">
                <div class="text-size-small text-color-primary">Acesse o Repositório</div>
              </div></a
            >
          </div><div class="hide-desktop">
            <a href="/#modulos" class="link-return is-margin-05 w-inline-block"
              ><div class="button is-icon-only is-small">
                <div class="icon-1x1-small w-embed">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1rem"
                    height="1rem"
                    viewBox="0 0 24 24"
                    ><path
                      fill="currentColor"
                      d="M21 11H6.414l5.293-5.293l-1.414-1.414L2.586 12l7.707 7.707l1.414-1.414L6.414 13H21z"
                    ></path></svg
                  >
                </div>
              </div><div class="w-embed">Volte para o Módulo 4</div></a
            >
          </div><div class="lesson_body">
            <div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path
                      fill="currentColor"
                      d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-6-2h4V14h-4zm-4 2H2V18h8z"
                    ></path></svg
                  >
                </div><div class="heading-style-h6">Conteúdo Introdutório</div>
              </div><div class="text-size-small">
                Se você já é um usuário ativo de ChatGPT, esta aula introdutória pode soar um tédio.
                Acesse conteúdos mais avançados e interessantes no painel ao lado.
              </div>
            </div><div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path
                      fill="currentColor"
                      d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"></path></svg
                  >
                </div><div class="heading-style-h6">Conteúdo Intermediário</div>
              </div><div class="text-size-small">
                Ideal para quem está explorando possibilidades com a ferramenta. Lembre-se: você
                pode obter resultados diferentes daqueles aqui reproduzidos.
              </div>
            </div><div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path fill="currentColor" d="M30 30h-8V4h8zm-10 0h-8V12h8zm-10 0H2V18h8z"
                    ></path></svg
                  >
                </div><div class="heading-style-h6">Conteúdo Avançado</div>
              </div><div class="text-size-small">
                Ideal para quem já tem domínio da ferramenta e busca integrações e engenharia de
                prompts.
              </div>
            </div><div id="cms-content" class="course_content-description is-contained">
              <div class="lesson_breadcrumbs is-wrapped">
                <a href="/course" class="link_group is-small w-inline-block"
                  ><div class="icon-1x1-small w-embed">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M12.74 2.32a1 1 0 0 0-1.48 0l-9 10A1 1 0 0 0 3 14h2v7a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-7h2a1 1 0 0 0 1-1a1 1 0 0 0-.26-.68z"
                      ></path></svg
                    >
                  </div><div>#JNG</div></a
                ><div class="text-color-light-gray">/</div><a
                  href="/modulo/linkedin.html"
                  class="breadcrumb_link w-inline-block"><div class="w-embed">M4</div></a
                ><div class="text-color-light-gray">/</div><a
                  href="/aulas/quem-e-bom-fala-menos-e-mostra-mais.html"
                  aria-current="page"
                  class="breadcrumb_link w-inline-block w--current"
                  ><div>Quem é bom fala menos e mostra mais</div></a
                >
              </div><div class="lesson_video-wrapper">
                <div class="lesson_video-embed w-embed w-iframe">
                  <div style="position:relative;padding-top:56.25%;">
                    <iframe
                      id="panda-f37761cb-35f8-48c6-a64f-12b2ccbb291c"
                      src="https://player-vz-7d355ab5-ed5.tv.pandavideo.com.br/embed/?v=f37761cb-35f8-48c6-a64f-12b2ccbb291c"
                      style="border:none;position:absolute;top:0;left:0;"
                      allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture"
                      allowfullscreen="true"
                      width="100%"
                      height="100%"
                      fetchpriority="high"></iframe>
                  </div>
                </div>
              </div><h1 class="single-lesson_title">Quem é bom fala menos e mostra mais</h1><div
                class="lesson_card-meta-wrapper w-condition-invisible"
              >
                <div class="lesson_card-meta-user-wrapper">
                  <img
                    src="/cdn-assets/images/screenshots/examples/user-placeholder.svg"
                    loading="lazy"
                    alt=""
                    class="user-card__thumbnail is-small w-dyn-bind-empty"
                  /><div class="div-block-3">
                    <div class="text-size-medium text-weight-bold w-embed">Carta de</div><div
                      class="w-dyn-bind-empty"
                    >
                    </div>
                  </div>
                </div><a href="/aulas/quem-e-bom-fala-menos-e-mostra-mais#" class="w-inline-block"
                  ><div class="text-color-custom is-linkedin">
                    <div class="icon-1x1-large w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1em"
                        height="1em"
                        viewBox="0 0 24 24"
                        ><path
                          fill="currentColor"
                          d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
                        ></path></svg
                      >
                    </div>
                  </div></a
                >
              </div><div class="lesson_meta-date">
                <div>Este conteúdo foi atualizado em</div><div>07/2024</div>
              </div><div class="lesson_rich-text w-richtext">
                <p>
                  Lembre-se, o recrutador está apostando as fichas da empresa em você. Ele não se
                  importa necessariamente em você enquanto pessoa, mas sim em você como um ativo,
                  como alguém que será contratado para tapar um buraco na empresa.
                </p><p>Tendo isso em vista, você precisa PROVAR QUE VOCÊ É BOM.</p><p>
                  Esse é o toolkit que você usará para provar isso:
                </p><h3>LinkedIn</h3><p>
                  Para provar através de experiências, qualificações e depoimentos de terceiros como
                  você pode resolver um problema;
                </p><h3>Portfólio</h3><p>
                  Behance, Github ou site - para demonstrar cases de projetos que você realizou e
                  como realizou;
                </p><h3>Conteúdo Relevante</h3><p>
                  Para demonstrar que você tem proficiência e aprovação da comunidade onde você atua
                  no tópico que você diz ser especialista;
                </p><h3>Ganha quem mostra mais rápido</h3><p>
                  As ferramentas acima porém tem funções bem específicas e são utilizadas em
                  momentos oportunos. Cabe lembrar que na maioria dos casos essa é a jornada que o
                  recruiter navega quando busca um perfil:
                </p><ol role="list">
                  <li>
                    <strong>AWARENESS</strong> - A empresa identifica que precisa de um profissional e
                    avisa o recruiter;
                  </li><li>
                    <strong>SEARCH</strong> - Ele busca por palavras no LinkedIn ou na Plataforma ATS
                    (Gupy, Catho, etc) - Seu CV precisa estar lá - Você precisa das palavras certas;
                  </li><li>
                    <strong>IDENTIFY</strong> - Ele vai com a sua cara - Você precisa de uma foto profissional;
                  </li><li>
                    <strong>LOOK</strong> - Ele vai visitar seu perfil - Ele precisa confirmar que você
                    é a pessoa certa;
                  </li><li>
                    <strong>VETTING</strong> - Ele vai passar seu perfil para um especialista - Você precisa
                    mostrar suas hardskills;
                  </li><li>
                    <strong>TOUCH</strong> - Eles vão entrar em contato contigo - Você precisa deixar
                    isso claro;
                  </li>
                </ol><p>
                  Por esse motivo, organizamos aqui nossa estratégia priorizando pelos tópicos que
                  você pode obter resultados o mais rápido possível através do LinkedIn
                </p><ul role="list">
                  <li>
                    <strong>PRIORIDADE 1</strong> - Configurar as palavras-chave corretamente;
                  </li><li>
                    <strong>PRIORIDADE 2</strong> - Deixar seu perfil profissionalmente impecável e familiar;
                  </li><li>
                    <strong>PRIORIDADE 3</strong> - Deixar seu contato fácil e visível;
                  </li><li>
                    <strong>PRIORIDADE 4</strong> - Deixar seu portfólio fácil e acessível;
                  </li>
                </ul><p>
                  Ao seguir a ordem que estabelecemos aqui, você observará mais visitações no seu
                  perfil e as pessoas com as quais você fizer conexões terão clareza de quem você é
                  e o que você resolve.
                </p><p>Simplesmente porque você conseguirá demonstrar de diversas formas que:</p><ul
                  role="list"
                >
                  <li>
                    Você se conecta e se identifica com o <strong
                      >problema que a empresa está enfrentando</strong
                    >;
                  </li><li>
                    Você se posiciona você como alguém que pode <strong
                      >resolver esse problema</strong
                    >;
                  </li><li>
                    Você e outras pessoas se <strong>orgulham do resultado do seu trabalho</strong>;
                  </li>
                </ul><p>
                  Nem interessado, nem interesseiro. Você precisa ser interessante. Como um produto.
                </p>
              </div><div class="margin-top margin-small">
                <div class="lesson_card-meta-wrapper w-condition-invisible">
                  <div class="lesson_card-meta-user-wrapper">
                    <img
                      src="/cdn-assets/images/screenshots/examples/user-placeholder.svg"
                      loading="lazy"
                      alt=""
                      class="user-card__thumbnail is-small w-dyn-bind-empty"
                    /><div class="div-block-3">
                      <div class="text-size-medium text-weight-bold w-embed">Carta de</div><div
                        class="text-size-small w-dyn-bind-empty"
                      >
                      </div>
                    </div>
                  </div><a href="/aulas/quem-e-bom-fala-menos-e-mostra-mais#" class="w-inline-block"
                    ><div class="text-color-custom is-linkedin">
                      <div class="icon-1x1-large w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                          ><path
                            fill="currentColor"
                            d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
                          ></path></svg
                        >
                      </div>
                    </div></a
                  >
                </div>
              </div><div class="dialog-box w-condition-invisible">
                <div class="link_group">
                  <div class="icon-1x1-small w-embed">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      viewBox="0 0 24 24"
                      ><path
                        fill="currentColor"
                        d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10s10-4.486 10-10S17.514 2 12 2m0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8s8 3.589 8 8s-3.589 8-8 8"
                      ></path><path
                        fill="currentColor"
                        d="M10.707 12.293L9.414 11l1.293-1.293l-1.414-1.414L8 9.586L6.707 8.293L5.293 9.707L6.586 11l-1.293 1.293l1.414 1.414L8 12.414l1.293 1.293zm6.586-4L16 9.586l-1.293-1.293l-1.414 1.414L14.586 11l-1.293 1.293l1.414 1.414L16 12.414l1.293 1.293l1.414-1.414L17.414 11l1.293-1.293zM10 16h4v2h-4z"
                      ></path></svg
                    >
                  </div><div class="heading-style-h6">Essa aula ainda está sendo construída.</div>
                </div><div class="text-size-small">
                  Esta aula foi planejada e está sendo desenvolvida no momento. Em breve será
                  adicionada aqui.
                </div>
              </div><div class="code_block w-embed">
                <style>
                  .lesson_rich-text pre {
                    font-size: 0.875rem !important;
                    border-radius: 0.5rem;
                    margin: 1rem;
                  }

                  .lesson_rich-text .linenumber {
                    opacity: 0.25;
                  }
                </style>
              </div><div class="lesson_cta w-condition-invisible">
                <div class="heading-style-3 w-dyn-bind-empty"></div><p class="w-dyn-bind-empty">
                </p><a
                  href="/aulas/quem-e-bom-fala-menos-e-mostra-mais#"
                  class="button is-secondary w-dyn-bind-empty w-button"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><footer class="navbar-secondary_component">
  <div class="container-medium">
    <div class="nav_left-col">
      <img
        src="/cdn-assets/images/logos/companies/logo-vectors-wrapper.svg"
        loading="lazy"
        width="138.25469970703125"
        height="19.743812561035156"
        alt=""
        class="logo_image"
      />
    </div>
  </div>
</footer><!-- Google Tag Manager (noscript) -->

<!-- End Google Tag Manager (noscript) -->

<!-- ChatWOOT -->

<!--
-->

<!-- END ChatWOOT -->

<!-- MAUTIC -->

<!-- END MAUTIC -->

<!-- Declare as variáveis de configuração (não minificado) -->

<!--

  -->
