---
/**
 * Job Category Detail Page
 * Migrated from: src-legacy/detail_job-category.html
 * Webflow Page ID: 64c1fa3f59a58c35f96a8c3b
 *
 * TODO: Implement CMS data fetching for job categories
 * TODO: List jobs belonging to this category
 */
import BaseLayout from '@layouts/BaseLayout.astro';

export const prerender = false;

const { slug } = Astro.params;

// TODO: Fetch job category data and related jobs from CMS
// const category = await fetchJobCategory(slug);
// const jobs = await fetchJobsByCategory(slug);

const pageTitle = `Jobs in ${slug}`;
---

<BaseLayout title={pageTitle}>
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-section-large">
        <div class="margin-bottom margin-medium">
          <h1 class="heading-style-h2">
            {/* category.name */}
            Jobs in: {slug}
          </h1>
          <p class="text-style-muted">
            {/* category.description */}
            Browse all remote job opportunities in this category.
          </p>
        </div>

        <!-- TODO: Replace with CMS collection list of jobs in this category -->
        <div class="w-dyn-list">
          <div role="list" class="jobs-grid w-dyn-items">
            <p class="text-style-muted">Jobs in this category will be loaded from the CMS.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
