---
/**
 * Member Dashboard - Main Dashboard Page
 * Protected route requiring paid membership
 */
import DashboardLayout from '../../layouts/DashboardLayout.astro';
---

<DashboardLayout
  title="Dashboard JNG"
  description="Dashboard do membro #JNG - Acesse todos os recursos da comunidade"
  currentPage="dashboard"
  requiresAuth={true}
  requiresPaidMembership={true}
>
  <div class="upper_wrap is-empty">
    <div class="dashboard_container"></div>
    <img
      src="/images/mesh-840-1.png"
      loading="lazy"
      sizes="100vw"
      srcset="/images/mesh-840-1-p-500.png 500w, /images/mesh-840-1-p-800.png 800w, /images/mesh-840-1-p-1080.png 1080w, /images/mesh-840-1-p-1600.png 1600w, /images/mesh-840-1.png 2000w"
      alt=""
      class="header_backgrond-img"
    />
    <div class="code-embed-8 w-embed">
      <svg viewBox="0 0 2173 159" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0.845703C251.665 97.0831 644.765 159 1086.5 159H0V0.845703Z" fill="var(--blues--blue-10)"></path>
        <path d="M2173 159H1086.5C1528.23 159 1921.33 97.0831 2173 0.845703V159Z" fill="var(--blues--blue-10)"></path>
      </svg>
    </div>
  </div>
  <main class="main-wrapper-2 background_color">
    <div class="dashboard_container move_upside">
      <div class="quick_link-banner">
        <div class="dashboard_heading-wrap">
          <h3 class="dashboard_heading">Links Rapidos</h3>
        </div>
        <div class="quick_link-wrap">
          <a href="/jng/resume-generator" class="quick_links is-featured w-inline-block">
            <div class="quick_icon-wrap">
              <div class="icon-1x1-medium w-embed">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M18 22a2 2 0 0 0 2-2V8l-6-6H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2zM13 4l5 5h-5zM7 8h3v2H7zm0 4h10v2H7zm0 4h10v2H7z"></path>
                </svg>
              </div>
            </div>
            <div class="dashboard-card_title">Resume/CV Generator Beta</div>
            <div class="badge_absolute">
              <div>
                <div class="text-weight-medium">beta</div>
              </div>
            </div>
          </a>
          <a href="/jng/course" class="quick_links w-inline-block">
            <div class="quick_icon-wrap">
              <div class="icon-1x1-medium w-embed">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20">
                  <path fill="currentColor" d="M9 7H6v2h3zM3 6a3 3 0 0 1 3-3h6v14H6a3 3 0 0 1-3-3zm2 1v2a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H6a1 1 0 0 0-1 1m.5 4a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zM5 13.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5m8 3.5h1a3 3 0 0 0 3-3v-1h-4zm4-5V8h-4v4zm0-5V6a3 3 0 0 0-3-3h-1v4z"></path>
                </svg>
              </div>
            </div>
            <div class="dashboard-card_title">Workshops e Preparatorio #JNG</div>
          </a>
          <a href="/jng/community" class="quick_links w-inline-block">
            <div class="quick_icon-wrap">
              <div class="icon-1x1-medium w-embed">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M7.5 8a3 3 0 1 0 0-6a3 3 0 0 0 0 6M2 10.768C2 9.79 2.791 9 3.768 9h4.767A4 4 0 0 0 8 11a4 4 0 0 0 1.354 3H8.268a2.77 2.77 0 0 0-2.593 1.796c-1.498-.366-2.427-1.183-2.974-2.093C2 12.536 2 11.336 2 11.127zM16 11a4 4 0 0 0-.535-2h4.767C21.21 9 22 9.791 22 10.768v.36c0 .207 0 1.408-.7 2.575c-.548.91-1.477 1.727-2.975 2.093A2.77 2.77 0 0 0 15.732 14h-1.086A4 4 0 0 0 16 11m3.5-6a3 3 0 1 1-6 0a3 3 0 0 1 6 0m-13 11.768C6.5 15.79 7.291 15 8.268 15h7.464c.977 0 1.768.791 1.768 1.768v.36c0 .207 0 1.408-.7 2.575C16.057 20.937 14.613 22 12 22s-4.058-1.063-4.8-2.297c-.7-1.167-.7-2.367-.7-2.576zM12 14a3 3 0 1 0 0-6a3 3 0 0 0 0 6"></path>
                </svg>
              </div>
            </div>
            <div class="dashboard-card_title">Reprises de Lives da Comunidade</div>
          </a>
          <a href="/jng/jobs" class="quick_links w-inline-block">
            <div class="quick_icon-wrap">
              <div class="icon-1x1-medium w-embed">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M10.25 3.5h3.5a.75.75 0 0 1 .75.75V6h-5V4.25a.75.75 0 0 1 .75-.75M8 4.25V6H6.25A3.25 3.25 0 0 0 3 9.25v1.5c0 .966.784 1.75 1.75 1.75H10V12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v.5h5.25A1.75 1.75 0 0 0 21 10.75v-1.5A3.25 3.25 0 0 0 17.75 6H16V4.25A2.25 2.25 0 0 0 13.75 2h-3.5A2.25 2.25 0 0 0 8 4.25m13 9.24a3.24 3.24 0 0 1-1.75.51H14a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1H4.75A3.24 3.24 0 0 1 3 13.49v3.26A3.25 3.25 0 0 0 6.25 20h11.5A3.25 3.25 0 0 0 21 16.75z"></path>
                </svg>
              </div>
            </div>
            <div class="dashboard-card_title">Vagas Remotas Internacionais</div>
          </a>
          <a href="/jng/partners" class="quick_links w-inline-block">
            <div class="quick_icon-wrap">
              <div class="icon-1x1-medium w-embed">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M19.75 2A2.25 2.25 0 0 1 22 4.25v5.462a3.25 3.25 0 0 1-.952 2.298l-8.5 8.503a3.255 3.255 0 0 1-4.597.001L3.489 16.06a3.25 3.25 0 0 1-.004-4.596l8.5-8.51a3.25 3.25 0 0 1 2.3-.953zM17 5.502a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0-3"></path>
                </svg>
              </div>
            </div>
            <div class="dashboard-card_title">Parcerias e Descontos</div>
          </a>
          <a href="/jng/companies-hiring" class="quick_links w-inline-block">
            <div class="quick_icon-wrap">
              <div class="icon-1x1-medium w-embed">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32">
                  <path fill="currentColor" d="M4 5a3 3 0 0 1 3-3h11.75A3.25 3.25 0 0 1 22 5.25V13h2.75A3.25 3.25 0 0 1 28 16.25V29a1 1 0 0 1-1 1h-4v-4.5a1.5 1.5 0 0 0-1.5-1.5h-11A1.5 1.5 0 0 0 9 25.5V30H5a1 1 0 0 1-1-1zm17 21v4h-4v-4zm-6 0v4h-4v-4zM12 8.5a1.5 1.5 0 1 0-3 0a1.5 1.5 0 0 0 3 0m0 5a1.5 1.5 0 1 0-3 0a1.5 1.5 0 0 0 3 0M10.5 20a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3M17 8.5a1.5 1.5 0 1 0-3 0a1.5 1.5 0 0 0 3 0M15.5 15a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3m1.5 3.5a1.5 1.5 0 1 0-3 0a1.5 1.5 0 0 0 3 0m3.5 1.5a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3"></path>
                </svg>
              </div>
            </div>
            <div class="dashboard-card_title">Empresas que Contratam Brs</div>
          </a>
          <a href="/jng/job-search" class="quick_links w-inline-block">
            <div class="quick_icon-wrap">
              <div class="icon-1x1-medium w-embed">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M3.441 9.956a4.926 4.926 0 0 0 6.233 7.571l4.256 4.257a.773.773 0 0 0 1.169-1.007l-.075-.087l-4.217-4.218A4.927 4.927 0 0 0 3.44 9.956m13.213 6.545c-.225 1.287-.548 2.456-.952 3.454l.03.028l.124.14c.22.295.344.624.378.952a10.03 10.03 0 0 0 4.726-4.574zM12.25 16.5l2.284 2.287c.202-.6.381-1.268.53-1.992l.057-.294zm-2.936-5.45a3.38 3.38 0 1 1-4.78 4.779a3.38 3.38 0 0 1 4.78-4.78M15.45 10h-3.7a5.94 5.94 0 0 1 .892 5h2.71a26 26 0 0 0 .132-4.512zm1.507 0a28 28 0 0 1-.033 4.42l-.057.58h4.703a10.05 10.05 0 0 0 .258-5zm-2.095-7.593c.881 1.35 1.536 3.329 1.883 5.654l.062.44h4.59a10.03 10.03 0 0 0-6.109-5.958l-.304-.1zm-2.836-.405c-1.277 0-2.561 2.382-3.158 5.839c.465.16.912.38 1.331.658l5.088.001c-.54-3.809-1.905-6.498-3.261-6.498m-2.837.405A10.03 10.03 0 0 0 2.654 8.5h.995a5.92 5.92 0 0 1 3.743-.968c.322-1.858.846-3.47 1.527-4.68l.162-.275z"></path>
                </svg>
              </div>
            </div>
            <div class="dashboard-card_title">GST - Global Search Tool</div>
          </a>
          <a href="#people-to-network" class="quick_links w-inline-block">
            <div class="quick_icon-wrap">
              <div class="icon-1x1-medium w-embed">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20">
                  <path fill="currentColor" d="M10 5.75a3.25 3.25 0 1 1-6.5 0a3.25 3.25 0 0 1 6.5 0M14.5 9a2.5 2.5 0 1 0 0-5a2.5 2.5 0 0 0 0 5m-3.507 1.263A5.49 5.49 0 0 0 9 14.5q.001.593.121 1.153c-.638.215-1.418.347-2.371.347c-5.25 0-5.25-4-5.25-4a2 2 0 0 1 2-2H10a2 2 0 0 1 .993.263M14.5 19a4.5 4.5 0 1 0-3.937-2.318l-.544 1.789a.41.41 0 0 0 .51.51l1.79-.544A4.5 4.5 0 0 0 14.5 19M12 13.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h2a.5.5 0 0 1 0 1z"></path>
                </svg>
              </div>
            </div>
            <div class="dashboard-card_title">People We Recommend</div>
          </a>
        </div>
      </div>
      <div class="dashborad_grid">
        <div class="dashboard-section_workshops">
          <div class="dashboard_heading-wrap is-padding-right is-vertical-on-mobile">
            <div class="dashboard-cards-content is-workshops">
              <div class="text-style-caption text-color-light-blue">workshops</div>
              <h2 class="dashboard-card_title is-xlarge">
                Prepare-se para o mercado remoto internacional com
                <span class="text-color-primary">Paulo e Gabe</span>
              </h2>
              <div>Estrategias de buscas de vagas, marca pessoal, LinkedIn, curriculo, entrevistas tecnicas e muito mais.</div>
              <a href="/jng/course" class="button is-icon w-inline-block">
                <div class="text-size-small">Assista aos Workshops</div>
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M13.705 4.284A1 1 0 1 0 12.3 5.708L17.67 11H4a1 1 0 1 0 0 2h13.665L12.3 18.285a1 1 0 0 0 1.403 1.424l6.925-6.822a1.25 1.25 0 0 0 0-1.78z"></path>
                  </svg>
                </div>
              </a>
            </div>
          </div>
          <div class="w-dyn-list">
            <div role="list" class="collection-list-3 is-horizontal w-dyn-items">
              <!-- Workshop cards loaded dynamically -->
              <div role="listitem" class="w-dyn-item">
                <a href="#" class="lesson-card is-dark-on-mobile w-inline-block">
                  <div class="video_meta-info">
                    <div class="dashboard-card_title is-medium w-dyn-bind-empty"></div>
                  </div>
                  <div class="link_group">
                    <div class="text-size-small text-weight-medium text-style-allcaps w-embed">capitulos</div>
                    <div class="icon-1x1-small w-embed">
                      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M13.705 4.284A1 1 0 1 0 12.3 5.708L17.67 11H4a1 1 0 1 0 0 2h13.665L12.3 18.285a1 1 0 0 0 1.403 1.424l6.925-6.822a1.25 1.25 0 0 0 0-1.78z"></path>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="w-dyn-empty">
              <div>No items found.</div>
            </div>
          </div>
        </div>
        <div>
          <div class="collection-list-wrapper-5 w-dyn-list">
            <div role="list" class="collection-list-5 w-dyn-items">
              <!-- Live sessions loaded dynamically -->
              <div role="listitem" class="collection-item-7 w-dyn-item">
                <a href="#" class="sidebar-cta-primary is-erika w-inline-block">
                  <div class="sidebar-cta_content">
                    <div class="dashboard-cards-content">
                      <div>
                        <div class="text-style-caption text-color-light-blue">Toda TERCA</div>
                        <div class="spacer-tiny"></div>
                        <h2 class="dashboard-card_title is-xlarge">
                          Encontro ao vivo com <span class="text-color-primary">Erika Linares</span>
                        </h2>
                      </div>
                      <div class="div-block-86">
                        <div class="text-size-small">Assista a ultima live</div>
                        <div class="dashboard-card_title is-medium w-dyn-bind-empty"></div>
                        <div class="dashboard_card-icon is-white">
                          <div class="icon-1x1-small w-embed">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                              <path fill="currentColor" d="m13 3l3.293 3.293l-7 7l1.414 1.414l7-7L21 11V3z"></path>
                              <path fill="currentColor" d="M19 19H5V5h7l-2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5l-2-2z"></path>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="dashboard_card-icon is-white"></div>
                </a>
              </div>
            </div>
            <div class="w-dyn-empty">
              <div>No items found.</div>
            </div>
          </div>
        </div>
        <div>
          <div class="sidebar-cta_grid">
            <a href="https://link.jobnagringa.com.br/onboarding-call" class="sidebar-cta-primary is-vets w-inline-block">
              <div class="sidebar-cta_content">
                <div>
                  <h5 class="dashboard-card_title is-large">Daily English with Vets</h5>
                  <div class="text-size-small">Treinamento de ingles diario com a Veronica</div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>

  <Fragment slot="scripts">
    <!-- Finsweet CMS Load -->
    <script async src="https://cdn.jsdelivr.net/npm/@finsweet/attributes-cmsload@1/cmsload.js"></script>
  </Fragment>
</DashboardLayout>
