/* Global styles extracted from legacy HTML files */

/* Form validation styles */
.hide {
  display: none;
}

.error {
  border: 1px red solid;
}

.success {
  border: 1px #0acf0a solid;
}

.error-message {
  font-size: 12px;
  color: red;
  margin-top: -8px;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  border-radius: 100rem;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 100rem;
  background: var(--neutrals--neutral-300);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--blues--blue-20);
}

.link-return:hover .button {
  background: var(--blues--blue-50);
  color: #fff;
}

/* Webflow Select styles */
select,
.input_field.is-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
}

/* Autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  -webkit-text-fill-color: #0071ff;
}

/* Name acronym style */
[acronym] {
  font-family: monospace;
  width: 2ch;
  overflow: hidden;
  white-space: nowrap;
}

/* Navigation arrow styles */
.item__arrow {
  display: none;
}

.w--current .item__arrow {
  display: flex;
}
