---
/**
 * Q&A Tags Detail Page
 * Migrated from: src-legacy/detail_qa-tags.html
 * Webflow Page ID: 64c1fa3f59a58c35f96a8c59
 *
 * TODO: Implement CMS data fetching for Q&A tags
 * TODO: List Q&A entries with this tag
 */
import BaseLayout from '@layouts/BaseLayout.astro';

export const prerender = false;

const { slug } = Astro.params;

// TODO: Fetch tag data and related Q&A entries from CMS
// const tag = await fetchQATag(slug);
// const questions = await fetchQAByTag(slug);

const pageTitle = `Q&A Tag - ${slug}`;
---

<BaseLayout title={pageTitle}>
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-section-large">
        <div class="margin-bottom margin-medium">
          <h1 class="heading-style-h2">
            {/* tag.name */}
            Q&A Tag: {slug}
          </h1>
          <p class="text-style-muted">
            Questions tagged with "{slug}"
          </p>
        </div>

        <!-- TODO: Replace with CMS collection list of Q&A with this tag -->
        <div class="w-dyn-list">
          <div role="list" class="qa-list w-dyn-items">
            <p class="text-style-muted">Questions with this tag will be loaded from the CMS.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
