---
// Community navigation for logged-in members
---

<div data-ms-content="community" class="community_nav">
  <nav class="navbar--blue--primary">
    <div class="navbar_wrapper">
      <div class="navbar_container">
        <div class="container-medium">
          <div class="nav_container">
            <div class="nav_left-col">
              <a href="/" class="w-inline-block" aria-label="Job na Gringa - Página inicial">
                <img
                  src="/cdn-assets/images/logos/companies/logo-vectors-wrapper.svg"
                  loading="lazy"
                  width="138.25469970703125"
                  height="19.743812561035156"
                  alt=""
                  class="logo_image"
                />
              </a>
              <div class="hide-tablet">
                <img
                  src="/cdn-assets/images/logos/companies/logo-vectors-wrapper-alt.svg"
                  loading="lazy"
                  width="8"
                  height="8"
                  alt=""
                  class="icon-star"
                />
              </div>
              <div class="hide-tablet">
                <div class="text--tiny text-style-allcaps">WORKSHOPS</div>
              </div>
            </div>
            <div class="nav_right-col">
              <a href="/" class="navbar_link">Dashboard</a>
              <a href="/#" id="logout" class="navbar_link is-white w-button">Sair</a>
            </div>
            <button
              type="button"
              class="nav_menu-button"
              aria-label="Abrir menu de navegação"
              aria-expanded="false"
            >
              <div class="icon-1x1-medium w-embed">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1em"
                  height="1em"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                >
                  <path fill="currentColor" d="M4 11h12v2H4zm0-5h16v2H4zm0 12h7.235v-2H4z"></path>
                </svg>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="embed-hidden w-embed">
      <style>
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
          -webkit-box-shadow: 0 0 0px 1000px #fff inset;
          -webkit-text-fill-color: #0071ff;
        }
      </style>
    </div>
    <div class="logout-code w-embed w-script">
      <script is:inline>
        document.addEventListener('DOMContentLoaded', async () => {
          const logoutBtn = document.getElementById('logout');
          if (logoutBtn) {
            logoutBtn.addEventListener('click', async (e) => {
              e.preventDefault();
              // Logout functionality
              async function clearCacheStorage() {
                if (!('caches' in window)) return;
                const keys = await caches.keys();
                for (const key of keys) await caches.delete(key);
              }
              async function unregisterServiceWorkers() {
                if (!('serviceWorker' in navigator)) return;
                const regs = await navigator.serviceWorker.getRegistrations();
                for (const reg of regs) await reg.unregister();
              }
              async function clearLocalAndSession() {
                try {
                  localStorage.clear();
                  sessionStorage.clear();
                } catch (e) {}
              }
              function clearCookies() {
                const cookies = document.cookie.split('; ');
                for (const cookie of cookies) {
                  const eqPos = cookie.indexOf('=');
                  const name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                  document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=/';
                  document.cookie =
                    name +
                    '=;expires=Thu, 01 Jan 1970 00:00:00 GMT;domain=' +
                    window.location.hostname +
                    ';path=/';
                }
              }
              async function clearIndexedDB() {
                if (!('indexedDB' in window)) return;
                if (indexedDB.databases) {
                  const dbs = await indexedDB.databases();
                  for (const db of dbs) {
                    if (db.name) indexedDB.deleteDatabase(db.name);
                  }
                }
              }
              try {
                await Promise.all([
                  clearCacheStorage(),
                  unregisterServiceWorkers(),
                  clearLocalAndSession(),
                  clearIndexedDB(),
                ]);
                clearCookies();
              } catch (e) {
                // Silently handle errors during logout cleanup
                if (process.env.NODE_ENV === 'development') {
                  console.warn('Error clearing site data:', e);
                }
              } finally {
                window.location.href = '/';
              }
            });
          }
        });
      </script>
    </div>
    <div data-w-id="7ed6ea69-8ce5-677c-3dcb-160f5da98a7d" class="nav_close-overlay"></div>
  </nav>
</div>
