---
// Public navigation for non-logged-in users
---

<div data-ms-content="!community" class="public_nav">
  <div class="navbar--blue--primary">
    <div class="navbar_wrapper">
      <div class="navbar_container">
        <a
          href="/"
          class="navbar_logo w-inline-block"
          aria-label="Job na Gringa - Página inicial"
        >
          <img
            src="/cdn-assets/images/logos/companies/logo-vectors-wrapper.svg"
            loading="lazy"
            width="138.25469970703125"
            height="19.743812561035156"
            alt=""
            class="logo_image hide-tablet"
          />
          <img
            src="/cdn-assets/images/logos/companies/logo-small-white.svg"
            loading="lazy"
            alt=""
            height="0"
            class="logo_image hide-desktop"
          />
        </a>
        <div class="navbar_link-wrap">
          <a
            href="/accounts/sign-in?redirect_url=/"
            class="navbar_link w-inline-block"
          >
            <div>Vagas</div>
          </a>
          <a href="/blog" class="navbar_link w-inline-block">
            <div>Blog</div>
          </a>
          <a
            href="/accounts/sign-in?redirect_url=/redirect/zap-channel"
            target="_blank"
            class="navbar_link w-inline-block"
          >
            <div>Grupo Whats</div>
          </a>
          <a
            href="/accounts/sign-in?redirect_url=/discord"
            target="_blank"
            class="navbar_link w-inline-block"
          >
            <div>Discord</div>
          </a>
        </div>
        <div class="navbar_button-wrap">
          <a href="/" aria-current="page" class="navbar_link w-inline-block w--current">
            <div>Assine</div>
          </a>
          <a
            href="/accounts/sign-in?redirect_url=/"
            class="navbar_link is-white w-inline-block"
          >
            <div>Login</div>
          </a>
          <button
            type="button"
            class="navbar_mobile-menu"
            aria-label="Abrir menu de navegação"
            aria-expanded="false"
          >
            <div class="icon-1x1-medium w-embed">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                aria-hidden="true"
              >
                <path
                  fill="currentColor"
                  d="M2 4.75A.75.75 0 0 1 2.75 4h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 4.75m0 5A.75.75 0 0 1 2.75 9h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 9.75M2.75 14a.75.75 0 0 0 0 1.5h14.5a.75.75 0 0 0 0-1.5z"
                ></path>
              </svg>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="w-embed">
      <style>
        .item__arrow {
          display: none;
        }

        .w--current .item__arrow {
          display: flex;
        }
      </style>
    </div>
    <div class="hide-desktop">
      <div class="spacer-xlarge"></div>
    </div>
  </div>
</div>
