---
/**
 * Module Detail Page
 * Migrated from: src-legacy/detail_modulo.html
 * Webflow Page ID: 654bbd694d9060f18a2138e2
 *
 * TODO: Implement CMS data fetching for course modules
 * TODO: List lessons belonging to this module
 */
import BaseLayout from '@layouts/BaseLayout.astro';

export const prerender = false;

const { slug } = Astro.params;

// TODO: Fetch module data and its lessons from CMS
// const module = await fetchModule(slug);
// const lessons = await fetchLessonsByModule(slug);

const pageTitle = `Module - ${slug}`;
---

<BaseLayout title={pageTitle}>
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-section-large">
        <div class="module-detail">
          <div class="margin-bottom margin-medium">
            <h1 class="heading-style-h2">
              {/* module.title */}
              Module: {slug}
            </h1>
          </div>

          <!-- Module Description -->
          <div class="module-description w-richtext">
            {/* module.description */}
            <p>Module description will be loaded from the CMS.</p>
          </div>

          <div class="spacer-large"></div>

          <!-- Lessons List -->
          <h2 class="heading-style-h4">Lessons in this module</h2>

          <div class="spacer-small"></div>

          <!-- TODO: Replace with CMS collection list of lessons -->
          <div class="w-dyn-list">
            <div role="list" class="lessons-list w-dyn-items">
              <p class="text-style-muted">Lessons will be loaded from the CMS.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
