---
import BaseLayout from '@layouts/BaseLayout.astro';
import CommunityNavbar from '@components/CommunityNavbar.astro';
---

<BaseLayout
  title={'#jobnagringa'}
  description={''}
  ogImage={'/cdn-assets/images/graphics/social/og-image.avif'}
  robots={'noindex'}
  wfPage={'6573972eef8fb154fd845f3c'}
>
  <div class="nav_wrapper">
    <CommunityNavbar /></div>
</BaseLayout>
<div class="section-module">
  <div class="padding-section-small">
    <div class="padding-global">
      <div class="container-small">
        <div>
          <div class="lesson_body">
            <div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path
                      fill="currentColor"
                      d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-6-2h4V14h-4zm-4 2H2V18h8z"
                    ></path></svg
                  >
                </div><div class="heading-style-h6">Conteúdo Introdutório</div>
              </div><div class="text-size-small">
                Se você já é um usuário ativo de ChatGPT, esta aula introdutória pode soar um tédio.
                Acesse conteúdos mais avançados e interessantes no painel ao lado.
              </div>
            </div><div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path
                      fill="currentColor"
                      d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"></path></svg
                  >
                </div><div class="heading-style-h6">Conteúdo Intermediário</div>
              </div><div class="text-size-small">
                Ideal para quem está explorando possibilidades com a ferramenta. Lembre-se: você
                pode obter resultados diferentes daqueles aqui reproduzidos.
              </div>
            </div><div class="dialog-box display-hidden">
              <div class="link_group">
                <div class="icon-1x1-small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                    ><path fill="currentColor" d="M30 30h-8V4h8zm-10 0h-8V12h8zm-10 0H2V18h8z"
                    ></path></svg
                  >
                </div><div class="heading-style-h6">Conteúdo Avançado</div>
              </div><div class="text-size-small">
                Ideal para quem já tem domínio da ferramenta e busca integrações e engenharia de
                prompts.
              </div>
            </div><div id="cms-content">
              <div class="margin-bottom margin-small">
                <a href="/course" class="link-return w-inline-block"
                  ><div class="button is-icon-only is-small">
                    <div class="icon-1x1-small w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1rem"
                        height="1rem"
                        viewBox="0 0 24 24"
                        ><path
                          fill="currentColor"
                          d="M21 11H6.414l5.293-5.293l-1.414-1.414L2.586 12l7.707 7.707l1.414-1.414L6.414 13H21z"
                        ></path></svg
                      >
                    </div>
                  </div><div>Voltar para Lista de Módulos</div></a
                >
              </div><div class="margin-bottom margin-small">
                <div class="lesson_breadcrumbs is-wrapped">
                  <div class="text-size-small">Você está em:</div><a
                    href="/course"
                    class="breadcrumb_link w-inline-block"
                    ><div class="icon-1x1-small w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1rem"
                        height="1rem"
                        viewBox="0 0 24 24"
                        ><path
                          fill="currentColor"
                          d="M12.74 2.32a1 1 0 0 0-1.48 0l-9 10A1 1 0 0 0 3 14h2v7a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-7h2a1 1 0 0 0 1-1a1 1 0 0 0-.26-.68z"
                        ></path></svg
                      >
                    </div><div>#JNG</div></a
                  ><div class="text-color-light-gray">/</div><a
                    href="/negociacao.html"
                    aria-current="page"
                    class="breadcrumb_link w-inline-block w--current"
                    ><div>Negociação - Aprenda a Fechar Bem</div></a
                  >
                </div>
              </div><div class="lesson_video-wrapper w-condition-invisible">
                <div class="lesson_video-embed w-embed w-iframe">
                  <div style="position:relative;padding-top:56.25%;">
                    <iframe
                      id="panda-"
                      src="https://player-vz-7d355ab5-ed5.tv.pandavideo.com.br/embed/?v="
                      style="border:none;position:absolute;top:0;left:0;"
                      allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture"
                      allowfullscreen="true"
                      width="100%"
                      height="100%"
                      fetchpriority="high"></iframe>
                  </div>
                </div>
              </div><div class="div-block">
                <div>Status do Módulo:</div><div class="badge_wrapper is-status">
                  <div class="badge_status-icon"></div><div
                    class="badge_status-icon is-danger w-condition-invisible"
                  >
                  </div><div class="badge_status-icon is-success w-condition-invisible"></div><div
                    class="text-style-allcaps"
                  >
                    Conteúdo de Texto Disponível
                  </div>
                </div>
              </div><div id="cms-content" class="course_content-description">
                <h1>Negociação - Aprenda a Fechar Bem</h1><div>
                  Aprenda a negociar e multiplique o seu salário. A remuneração é um fator enorme
                  quando se tratar de decidir entre ofertas de emprego. Essa seção lhe dá uma
                  explicação minuciosa dos componentes de remuneração comuns na indústria de
                  tecnologia.Para a nossa realidade de LATAM é mais comum sua remuneração consistir
                  de um salário-base e benefícios.Em startups e empresas mais consolidadas você
                  poderá ter uma oferta de bônus de desempenho e patrimônio/ações. Explicaremos em
                  detalhes o que são cada um, e logo depois, iremos dar diversas dicas de negociação
                  salarial.
                </div>
              </div><div class="margin-top margin-small"></div><div class="w-dyn-list">
                <div role="list" class="list_collection w-dyn-items">
                  <div role="listitem" class="w-dyn-item">
                    <a
                      module-child="negociacao"
                      href="/aulas/lista-de-consideracoes.html"
                      class="list_item is-large w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="lesson-card_content is-stretch">
                            <div class="lesson-card_title-wrapper">
                              <div class="card-row_title w-condition-invisible">
                                🔥 Bonus Class -
                              </div><div class="card-row_title w-embed">
                                A3&nbsp&nbsp✦&nbsp&nbspDicas para negociação de salário.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><div class="icon-1x1-small w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          ><path
                            fill="currentColor"
                            d="M8.293 4.293a1 1 0 0 0 0 1.414L14.586 12l-6.293 6.293a1 1 0 1 0 1.414 1.414l7-7a1 1 0 0 0 0-1.414l-7-7a1 1 0 0 0-1.414 0"
                          ></path></svg
                        >
                      </div></a
                    >
                  </div><div role="listitem" class="w-dyn-item">
                    <a
                      module-child="negociacao"
                      href="/aulas/negociando-um-bom-salario.html"
                      class="list_item is-large w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="lesson-card_content is-stretch">
                            <div class="lesson-card_title-wrapper">
                              <div class="card-row_title w-condition-invisible">
                                🔥 Bonus Class -
                              </div><div class="card-row_title w-embed">
                                A2&nbsp&nbsp✦&nbsp&nbspNegociando Um Bom Salário
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><div class="icon-1x1-small w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          ><path
                            fill="currentColor"
                            d="M8.293 4.293a1 1 0 0 0 0 1.414L14.586 12l-6.293 6.293a1 1 0 1 0 1.414 1.414l7-7a1 1 0 0 0 0-1.414l-7-7a1 1 0 0 0-1.414 0"
                          ></path></svg
                        >
                      </div></a
                    >
                  </div><div role="listitem" class="w-dyn-item">
                    <a
                      module-child="negociacao"
                      href="/aulas/entendendo-os-salarios.html"
                      class="list_item is-large w-inline-block"
                      ><div class="lesson-card_content">
                        <div class="icon-1x1-level is-hidden w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                            ><path
                              fill="currentColor"
                              d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-10 0H2V18h8z"
                            ></path></svg
                          >
                        </div><div class="user-card--sm__title">
                          <div class="lesson-card_content is-stretch">
                            <div class="lesson-card_title-wrapper">
                              <div class="card-row_title w-condition-invisible">
                                🔥 Bonus Class -
                              </div><div class="card-row_title w-embed">
                                A1&nbsp&nbsp✦&nbsp&nbspEntendendo os Salários
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><div class="icon-1x1-small w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          ><path
                            fill="currentColor"
                            d="M8.293 4.293a1 1 0 0 0 0 1.414L14.586 12l-6.293 6.293a1 1 0 1 0 1.414 1.414l7-7a1 1 0 0 0 0-1.414l-7-7a1 1 0 0 0-1.414 0"
                          ></path></svg
                        >
                      </div></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><footer class="navbar-secondary_component">
  <div class="container-medium">
    <div class="nav_left-col">
      <img
        src="/cdn-assets/images/logos/companies/logo-vectors-wrapper.svg"
        loading="lazy"
        width="138.25469970703125"
        height="19.743812561035156"
        alt=""
        class="logo_image"
      />
    </div>
  </div>

<script>
// Sort lessons in ascending order (A1, A2, A3...) for module pages
document.addEventListener('DOMContentLoaded', () => {
    const lessonList = document.querySelector('.w-dyn-list .w-dyn-items');
    if (!lessonList) return;
    
    const lessons = Array.from(lessonList.querySelectorAll('[module-child]'));
    
    lessons.sort((a, b) => {
        const textA = a.textContent.trim();
        const textB = b.textContent.trim();
        
        // Extract lesson number (A1, A2, A3, etc.)
        const numA = parseInt(textA.match(/A(\d+)/)?.[1], 10);
        const numB = parseInt(textB.match(/A(\d+)/)?.[1], 10);
        
        // If both have lesson numbers, sort by number (ascending)
        if (!isNaN(numA) && !isNaN(numB)) {
            return numA - numB;
        }
        
        // Fallback: alphabetical sort
        return textA.localeCompare(textB, undefined, { numeric: true, sensitivity: 'base' });
    });
    
    // Re-append sorted lessons
    lessons.forEach(lesson => lessonList.appendChild(lesson));
});
</script>

</footer><!-- Google Tag Manager (noscript) -->

<!-- End Google Tag Manager (noscript) -->

<!-- ChatWOOT -->

<!--
-->

<!-- END ChatWOOT -->

<!-- MAUTIC -->

<!-- END MAUTIC -->

<!-- Declare as variáveis de configuração (não minificado) -->

<!--

  -->
